@import '../../themes/constants';
@import '../../themes/animations';

.services {
	position: relative;
	text-align: center;
	background: mix(white, $primaryColor, 97%);
	padding: $padding*10 $padding*2 0;

	@media only screen and (max-width: 600px) {
		padding: $padding*5 $padding*2 $padding*6;
	}

	.services__comparison {
		max-width: 750px;
		padding: $padding 0 $padding*10;
		ul {
			display: inline-block;

			&.kip {
				li {
					background: #d3eff7;
				}
			}

			li {
				position: relative;
				height: $ribbonHeight;
				width: 100%;
				border-bottom: 1px solid #d8d8d8;
				font-size: 3vw;
				height: 50px;
				padding: $padding*1.5 $padding*2;

			    p {
			    	color: #42403f;
					vertical-align: middle;
			    }

			    @media only screen and (max-width: 600px) {
			    	padding: 0;
			    }

			    &.accessability {
			    	padding: 12.5px;
			    	height: 75px;
			    	font-size: 0;

			    	@media only screen and (max-width: 600px) {
			    		padding: 10px 0;
			    		height: 65px;
			    	}
			    	svg {
			    		display: inline-block;
			    		width: 20px;
			    		margin: 0 6.5%;
			    		height: 20px;
			    		display: inline-block;
			    		@media only screen and (max-width: 600px) {
			    			width: 15px;
			    			height: 20px;
			    		}
			    	}
			    }

			    svg {
			    	display: block;
					width: 25px;
					height: 25px;
					margin: 0 auto;
					fill: #ee4047;
					@media only screen and (max-width: 600px) {
		    			height: 100%;
    				}
			    }

			    &.true {
			    	svg {
			    		fill: #91d158;
			    	}
			    }

			    &:first-of-type {
			    	background: transparent;
					background-size: 75px;
					background-position: center;
					background-repeat: no-repeat;

					@media only screen and (max-width: 600px) {
						background-size: 50px;
					}
			    }
			}

			&:first-of-type {
				li {
					text-align: left;
					@media only screen and (max-width: 600px) {
						padding: 5px;

						p {
							font-size: 10px;
							text-overflow: ellipsis;
							overflow: hidden;
						}
					}
				}
			}

			&:last-of-type {
				li {
					background-size: 150px;
					@media only screen and (max-width: 600px) {
						background-size: 75px;
					}
				}
			}
		}
	}

	h1 {
		font-size: 40px;
		padding-top: $padding;
		color: #42403f;

		&:first-of-type {
			padding-top: 0;
			@media only screen and (max-width: 600px) {
				padding-top: $padding*4;
			}
		}
		@media only screen and (max-width: 600px) {
			font-size: 27px;
		}
	}

	h3 {
		font-size: 27px;
		margin: 0 0 $padding*6;
		color: $primaryColor;
	    line-height: 35px;

		@media only screen and (max-width: 600px) {
			margin: $padding*3 0;
			font-size: 18px;
			line-height: 25px;
		}

		span {
			color: #42403f;
			font-size: 20px;
			line-height: 60px;
			@media only screen and (max-width: 600px) {
				font-size: 16px;
			}
		}
	}

	.icons__hell {
		padding: $padding*5 0 $padding*10;

		& > div {
			display: inline-block;
			width: (100%/3);
			height: $ribbonHeight+10;

			svg {
				width: 100%;
				height: $ribbonHeight;
				fill: $primaryColor;
				opacity: 0.8;
			}

			@media only screen and (max-width: 600px) {
				width: (100%/2);
			}
		}

		@media only screen and (max-width: 600px) {
			padding: $padding*5 0;
		}
	}



	.services__details {
		position: relative;
		padding: $padding*2 $padding*2 $padding*4;
		text-align: left;

		&.card {
			text-align: center;
			border-radius: 10px;
			width: calc(50% - 40px);
			padding: $padding*2 $padding $padding;
			margin: $padding*2 $padding*2;
			z-index: 2;
			background: #ffffff;
			box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
			&.video {
				padding: $padding*2 $padding*3.4;
				h2 {
					height: $ribbonHeight;
					line-height: $ribbonHeight;
				}
			}
			h2 {
				color: $fifthColor;
				text-align: left;
				display: inline-block;
				padding:0;
				width: auto;
			}
			p {
				text-align: center;
				padding: 0;
				width: 100%;
				list-style: square outside none;
			}

			iframe {
				height: 215px;
			}

			@media only screen and (max-width: 600px) {
				margin: $padding*2 0;
			}
		}

		@media only screen and (max-width: 600px) {
			border-bottom: 1px solid rgba(mix($bgColor, $primaryColor, 57%), 0.2);
		}

		svg {
			width: 20%;
			height: $ribbonHeight*2;
			padding: $padding/2;
		}

		.image {
			width: 20%;
			height: $ribbonHeight*2;
			background-size: contain;
			display: inline-block;
		}

		h2 {
			display: inline-block;
			width: 60%;
			white-space: nowrap;
			padding: 0 0 0 $padding;
			color: $primaryColor;
			line-height: $ribbonHeight*2;
			margin: 0;
		}


		@media only screen and (max-width: 600px) {
			border-bottom: 1px solid rgba(mix($bgColor, $primaryColor, 57%), 0.2);
		}

		p {
			position: relative;
			white-space: normal;
			font-weight: 500;
			font-size: 15px;
			text-align: left;
			padding: 0 $padding*4 0 0;
			@media only screen and (max-width: 600px) {
				padding: 0;
			}
		}

		&:last-of-type {
			border-bottom: 1px solid transparent;
		}


	}

	.action {
		padding: $padding*2 0 $padding*2;
		button {
			border: 1px solid #eccd46;
			white-space: nowrap;
			font-weight: bold;
			border-radius: $padding/2;
			background: $secondaryColor;
			padding: $padding $padding*4;
			font-size: 20px;
			cursor: pointer;
		    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
			&:focus {
				@include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
			}
			&.slack {
				margin-right: $padding*2;
				background: white;
				border: 1px solid #4a9ff1;
			}
			svg {
				height: 100%;
				background: transparent;
			}
		}
	}

	.sine {
		fill: rgb(211, 239, 247);
	    margin-left: -1px;
	    margin-bottom: -1px;
	    height: 150px;
	    z-index: 1;
	    width: calc(100% + 3px);
	}

}