@import '../../themes/constants';
@import '../../themes/animations';

.services {
	position: relative;
	text-align: center;
	background: transparent;
	padding: $padding*5 $padding*2 0;
	z-index: 1;


	@media only screen and (max-width: 600px) {
		padding: $padding*5 $padding*2 $padding*6;
	}

	h1 {
		font-size: 28px;
		padding: 0;
		color: #42403f;
		z-index: 1;

		&:first-of-type {
			padding-top: 0;
			@media only screen and (max-width: 600px) {
				padding-top: $padding*4;
			}
		}
		@media only screen and (max-width: 600px) {
			font-size: 27px;
		}
	}

	h4 {
		font-size: 18px;
		font-weight: 100;
		padding: 0 0 $padding*5;

		span {
			font-weight: 600;
			font-size: 18px;
			color: $primaryColor;
			@media only screen and (max-width: 600px) {
				font-size: 14px;
			}
		}

		@media only screen and (max-width: 600px) {
			font-size: 14px;
		}
	}

	h3 {
		font-size: 27px;
		margin: 0 0 $padding*6;
		color: $primaryColor;
	    line-height: 35px;

		@media only screen and (max-width: 600px) {
			margin: $padding*3 0;
			font-size: 18px;
			line-height: 25px;
		}

		span {
			color: #42403f;
			font-size: 20px;
			line-height: 60px;
			@media only screen and (max-width: 600px) {
				font-size: 16px;
			}
		}
	}

	.services__details {
		position: relative;
		padding: $padding*2 $padding*2 $padding*4;
		text-align: center;

		svg {
			width: 100%;
			height: $ribbonHeight*2;
			padding: $padding/2;
			fill: darken(#fddcdc, 20);
		}

		.image {
			width: 100%;
			height: $ribbonHeight*2;
			background-size: contain;
			display: inline-block;
		}

		h2 {
			display: inline-block;
			white-space: nowrap;
			color: darken($bgColor, 15);
			line-height: $ribbonHeight;
			margin: 0;
			font-size: 20px;
			font-weight: 500;
		}


		p {
			position: relative;
			white-space: normal;
			font-weight: 500;
			font-size: 15px;
			color: rgba($bgColor, 1);
			@media only screen and (max-width: 600px) {
				padding: 0;
			}
		}

		&:first-of-type {
			svg {
				fill: darken(#d9f8f0, 25);
			}
		}

		&:nth-of-type(3) {
			svg {
				fill: darken(#eaf9ff, 40);
			}
		}

	}

	.action {
		padding: $padding 0 $padding*2;
		button {
			border: 0px solid #eccd46;
			white-space: nowrap;
			border-radius: $padding/2;
			background: transparent;
			color: $primaryColor;
			padding: $padding $padding*4;
			font-size: 20px;
			height: $ribbonHeight;
			line-height: $ribbonHeight;
			cursor: pointer;
			&:focus {
				@include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
			}
			&.slack {
				margin-right: $padding*2;
				background: transparent;
			}
			span {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					left: 0;
					bottom: -3px;
					border-radius: 150px;
					background: transparent;
					@include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
				}
			}
			&:hover {
				span {
					&:after {
						background: $primaryColor;
					}
				}
				svg {
					transform: translate3d(5px,0,0)
				}
			}
			svg {
				height: $ribbonHeight;
			    padding: 15px 0px 15px 0px;
				width: auto;
				fill: $primaryColor !important;
				background: transparent;
			    @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
			}
		}
	}

}