@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';

$colorList: #fddcdc #eaf9ff #d9f8f0 #f4e99e;

.details {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	border-collapse: collapse;

	@media only screen and (max-width: 600px) {
	    overflow-x: auto;
	    display: block;
	}

	* {
		@media only screen and (max-width: 600px) {
		    display: block;
		}
	}

	th {
		text-align: left;
		padding: $padding/3 $padding/2 $padding;

		@media only screen and (max-width: 600px) {
			padding: 0 3px;
			display: block;
		}

		.card {
			border-top: 3px solid $secondaryColor;

			.left {
				display: inline-block;
				min-width: 50%;

				@media only screen and (max-width: 600px) {
					display: block;
					width: 100%;
				}
				.image {
					height: $nav-height;
					width: $nav-height;
					display: inline-block;
					border-radius: 5px;
				}
				.text {
					display: inline-block;
					padding: 0 $padding;

					h1 {
						font-size: 14px;
						height: 20px;
						line-height: 20px;
					}
					p {
						font-size: 10px;
						height: 10px;
						line-height: 10px;
						opacity: 0.5;
					}
					h4 {
						font-size: 10px;
						height: 20px;
						line-height: 20px;
						opacity: 0.8;

						.price {
							color: $price-color;
						}
					}
				}
			}
			.right {
				display: inline-block;
				min-width: 50%;
				text-align: right;
				.buttons {
					display: inline-block;
					height: auto;

					button {
						display: block;
						margin: $padding auto;
					}

					@media only screen and (max-width: 600px) {
						display: none;
					}
				}
			}
		}
	}

	td {
		font-size: 14px;
		font-weight: 500;
		text-align: left;
		width: 100%;

		nav {
			padding: $padding $padding 0;

			span {
				display: inline-block;
				border-radius: 5px;
				margin-right: $padding*2;

				&.updated {
					color: rgba(#111, 0.5);
				}
			}
		}
	}
}

