@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';

$colorList: #fddcdc #eaf9ff #d9f8f0 #f4e99e;

.details {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	border-spacing: $padding*2 $padding;

	@media only screen and (max-width: 600px) {
		border-spacing: $padding $padding;
	}

	th {
		text-align: left;
		padding: 0 0 $padding;

		.image {
			height: $nav-height;
			width: $nav-height;
			display: inline-block;
			border-radius: 100%;
		}
		.text {
			display: inline-block;
			padding: 0 $padding;

			h1 {
				font-size: 14px;
				height: 20px;
				line-height: 20px;
			}
			p {
				font-size: 10px;
				height: 10px;
				line-height: 10px;
				opacity: 0.5;
			}
			h4 {
				font-size: 10px;
				height: 20px;
				line-height: 20px;
				opacity: 0.8;

				.price {
					color: $price-color;
				}
			}
		}
		.buttons {
			display: inline-block;
			@media only screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	td {
		font-size: 14px;
		font-weight: 500;
		text-align: left;
		width: 100%;

		span {
			display: inline-block;
			border-radius: 5px;
			padding: $padding/4 $padding*1;
			margin-right: $padding*2;
			background: white;

			@media only screen and (max-width: 600px) {
				margin: $padding/2;
			}

			&.price {
				color: $price-color;
			}
		}

		.tags {
			h1 {
				display: inline-block;
				padding: $padding $padding*2;
				cursor: pointer;
				font-size: 14px;

				&.selected {
					background: white;
					border: 1px solid $border-color-light;
					border-bottom: 0;
					border-radius: 5px 5px 0 0;
				}
			}
			border-bottom: 3px solid white;
		}
	}
}

