// react/components/App/App.scss
@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

body, html {
  margin: 0;
  overflow: hidden; // Create a defined space in the window, if you want to scroll any elements you must explicitly declare in the css
  height: 100%;
  position: fixed;
  width: 100%;
  background: $kip-secondary-color;
  background-image: url('//storage.googleapis.com/kip-random/website/kip_scribble_pattern.png');
  background-size: 400px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-family: $main-font;

  @media only screen and (max-width: 600px) {
    position: relative;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
  }

  * {
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  table {
    overflow-x: auto;

    // display: block;

    td {
      width: 100%;

      // display: block;
   
    }
  }
}

.app, #root {
  position: relative;
  margin: auto;
  text-align: center;
  height: 100%;

  &.sidenavOpen {
    @media only screen and (max-width: 600px) {
      overflow: hidden;
    }
  }

  & > .tabs {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .noJudder {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;

    & > .tabs {
      position: fixed;
      bottom: 0;
      background: white;
      padding: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-color: rgb(249, 249, 249);
      background-image: linear-gradient(rgb(179, 179, 179), rgb(179, 179, 179) 49%, transparent 51%);
      background-position: center top;
      background-size: 100% 0.1rem;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-around;

      @media only screen and (min-width: 600px) {
        display: none;
      }

      h1 {
        height: 100%;
        width: 100%;
        line-height: 40px;
        color: #8D8D8D;
        width: calc(100%/4);
        padding: 0;
        text-align: center;

        svg {
          display: block;
          height: 20px;
          width: 40px;
          margin: 5px auto 0;

          @media only screen and (max-width: 600px) {
            height: 25px;
            width: 40px;
          }
        }

        &.selected {
          color: $secondaryColor;
        }

        span {
          border-bottom: 4px solid transparent !important;
          height: 20px;
          display: block;
          font-size: 10px;
          line-height: 10px;

          @media only screen and (max-width: 600px) {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }

    & > .buttons {
      position: fixed;
      width: 100%;
      bottom: 50px;
      left: 0;
      padding: 0;
      height: 40px;
      z-index: 10;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-overflow-scrolling: touch;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      @media only screen and (min-width: 600px) {
        display: none;
      }

      button {
        margin: 0 0;
        width: 100%;
        border-radius: 0;
        padding: 0 $padding;

        @media only screen and (max-width: 600px) {
          &.sub {
            a {
              text-align: left;
              height: 40px;
              line-height: 40px;
            }

            svg {
              height: 30px;
              width: 30px;
              margin-bottom: 5px;

              &:last-of-type {
                height: 20px;
                width: 20px;
                margin-left: 10px;
                display: inline-block;
              }
            }

            .text {
              height: 40px;
              width: 75%;

              span {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                font-weight: 200;
                font-size: 16px;
              }

              p {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                float: right;
                font-size: 17px;
                font-weight: 800;
              }
            }
          }
        }

        &.blue {
          display: none;
        }

        &.lock {
          width: 65%;
        }

        &.locked {
          background: $secondaryColor;
          color: white;
          width: 35%;
          float: left;

          svg {
            fill: white;
          }
        }
      }
    }
  }
}

.app__view {
  position: relative;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  height: calc(100% - 90px);

  &.displayOpen {
    height: calc(100% - 50px);
    padding: 0;
  }

  @media only screen and (max-width: 600px) {
    height: 100%;
    overflow: initial;
    -webkit-overflow-scrolling: none;
    padding: $nav-height 0 0;
  }

  @media only screen and (min-width: 600px) {
    display: inline-block;
    overflow-y: auto;

    &.squeeze {
      width: calc(100% - 250px);
    }
  }
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
  letter-spacing: 0.75px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

input, select:focus, textarea {
  font-size: $input-font-size;
}

body::-webkit-scrollbar {
  display: none;
}
