body, html
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

	*
		outline: none;
		box-sizing: border-box;
		vertical-align: top;
.image
	background-repeat: no-repeat;
	background-position: middle;
	background-size: contain;
