// react/components/App/Footer.scss
@import '../../styles/Constants';
.footer {
  position: relative;
  height: $nav-height + 10px;
  line-height: $nav-height*2 - $padding*2;
  padding: $padding 0;
  margin: 0 (-$padding) * 1.5;
  font-family: $secondary-font;
  color: $kip-primary-color;
  .footer__cart, .footer__item, .footer__save {
    height: 100%;
    display: flex;
    button {
      overflow: wrap;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0 10px;
      height: 100%;
      border-radius: 5px;
      background: white;
      background: $main-button-color;
      border: 1px solid $border-color-light;
      font-weight: 600;
      flex-grow: 1;
      flex-basis: 0;
      &.share {
        background: $secondary-button-color;
        color: white;
      }
      &.triple {
        flex-grow: 4;
      }
      &.dimmed {
        background: white;
        border: 1px solid $border-color-light;
        color: $kip-faded-color;
        text-align: center;
        font-size: 12px;
        padding: 0 5px 0 20px;
      }
      &:only-child {
        margin: 0 30px;
      }
    }
  }
  .tos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px $padding*3;
    text-align: center;
    font-size: 13px;
    color: $kip-faded-color;
    font-style: italic;
    line-height: 17px;
    a {
      text-decoration: underline;
    }
  }
  .empty {
    display: none;
  }
}

