// react/components/App/Footer.scss
@import '../../styles/Constants';
.footer {
  position: relative;
  height: $nav-height;
  line-height: $nav-height*2 - $padding*2;
  padding: 2px 0 3px 0;
  margin: 0 (-$padding) * 1.5;
  font-family: $secondary-font;
  color: $kip-primary-color;
  border-top: 1px solid $border-color-light;
  max-width: 900px;
  overflow: hidden;
  @media (max-width: 300px) {
    svg {
      display:none;
    }
  }
  @media (min-width: 900px) {
    display: inline-block;
    width: calc(100% - 250px);
    background: transparent;
    border: 0;
    border-radius: 5px 5px 0 0;
  }
  .footer__cart, .footer__item, .footer__save, .footer__settings {
    height: 100%;
    display: flex;
    button {
      &:only-child {
        margin: 0 30px;
      }
    }
    a {
      button {
        border: none;
        &:first-child {
          margin: 0;
        }
      }
    }
    a, button {
      flex-grow: 1;
      flex-basis: 0;
      height: 100%;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid $border-color-light;
      font-weight: 600;
      background: $mainColor;
      padding: 0;
      overflow: wrap;
      &>button {
        width: 100%;
      }
      h4 {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        font-size: 14px;
      }
      svg {
        vertical-align: top !important;
        font-size: 23px;
        padding: 0;
        width: $nav-height/2;
        margin-right: $padding;
      }
      &.checkout {
        svg {
          font-size: 30px;
        }
      }
      &.logout {
        background: transparent;
        border: 0;
        text-align: right;
      }
      &.green {
        background: $thirdColor;
        color: white;
      }
      &.share {
        background: $secondaryColor;
        color: white;
      }
      &.triple {
        flex-grow: 4;
        @media (max-width: 900px) {
          flex-grow: 2;
        }
      }
      &.dimmed {
        background: white;
        border: 1px solid $kip-faded-color;
        color: $kip-faded-color;
        text-align: center;
        font-size: 12px;
      }
      &:disabled, &.disabled {
        color: black;
        background-color: $kip-faded-color;
        cursor: not-allowed;
      }
      &:last-child {
        margin-right: -5px;
        margin-left: 5px;
        padding-right: 15px;
      }
      &:first-child {
        margin-left: -5px;
        margin-right: 5px;
        padding-left: 15px;
      }
    }
  }
  .tos {
    text-align: center;
    font-size: 13px;
    color: $kip-faded-color;
    font-style: italic;
    line-height: 13px;
    a {
      text-decoration: underline;
    }
  }
  .empty {
    display: none;
  }
}

