@import '../../styles/Constants';
.navbar {
  height: $nav-height;
  line-height: $nav-height;
  font-family: 'Raleway';
  background: $header-color;
  color: $kip-primary-color;
  .image {
    display: inline-block;
    margin: $padding;
    height: $nav-height - $padding*2;
    width: $nav-height - $padding*2;
    border-radius: 100%;
    background-size: cover !important;
  }
  h3 {
    display: inline-block;
    width: calc(100% - #{$nav-height*2});
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    font-size: 20px;
  }
  & > div {
    display: flex;
  }
  .navbar__modal {
    display: flex;
    .navbar__modal_head {
      flex-grow: 1;
      text-align: center;
    }
  }
  .navbar__icon {
    text-align: center;
    cursor: pointer;
    height: $nav-height;
    width: $nav-height;
    svg {
      height: 100%;
    }
  }
  .navbar__icon__close {
    text-align: center;
    cursor: pointer;
    height: $nav-height;
    width: $nav-height;
    svg {
      height: 100%;
    }
  }
  .no-pointer {
    cursor: default;
  }
}
