@import '../../styles/Constants';
@import '../../styles/Animations';

.sidenav {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background: rgba(255,255,255,0.8);
	@include animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
	@include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

	ul[class^='sidenav__'],
	div[class^='sidenav__'] {
		display: inline-block
	}

	* {
		white-space: nowrap;
	}

	p {
		overflow: hidden;
	}

	.sidenav__overlay {
		width: calc(100% - 250px);
		height: 100%;
		background: transparent;
	}
	.sidenav__list {
		position: relative;
		width: 250px;
		height: 100%;
		background: #999;
		@include animation(scrollInLeft cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
		@include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

		h4 {
			text-align: right;
			border-bottom: 1px solid $border-color-light;
			padding: $padding/2 $padding;
		}

		li {
			height: $nav-height;
			line-height: $nav-height;
			padding: 0 $padding;

			&.sidenav__list__header {
				p {
					width: calc(100% - #{$nav-height/2});
					padding: 0;
					text-align: left;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.icon {
				display: inline-block;
				width: $nav-height/2;
				height: $nav-height;
				text-align: center;
			}

			p {
				width: calc(100% - #{$nav-height/2});
				display: inline-block;
				font-size: 13px;
				padding: 0 $padding;
				text-align: right;
			}
		}

		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			padding: $padding;
			height: $nav-height;
			line-height: $nav-height;
			box-sizing: border-box;

			button {
				width: 100%;
				border: 1px solid $border-color-light;
				height: 100%;
			}
		}
	}
}