// react/components/App/Sidenav.scss
@import '../../styles/Constants';
@import '../../styles/Animations';
.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
  @include animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
  @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
  @media (min-width: 900px) {
    position: relative;
    width: 250px;
    height: 100%;
    float: right;
    display: inline-block;
    z-index: 0;
    background: $kip-secondary-color;
  }
  p {
    overflow: hidden;
  }
  .sidenav__overlay {
    width: calc(100% - 250px);
    background: transparent;
    height: 100%;
    float: left;
    @media (min-width: 900px) {
      display: none;
    }
  }
  .sidenav__list {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: $kip-primary-color;
    border-left: 1px solid $border-color-light;
    height: 100%;
    position: absolute;
    right: 0;
    @include animation(scrollInLeft cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
    @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
    @media (min-width: 900px) {
      background: $kip-secondary-color;
      height: calc(100% - #{$nav-height});
    }
    li {
      padding: 0 $padding 0 0;
      &.currentCart {
        background: $kip-primary-color;
      }
      h4 {
        text-align: right;
        border-bottom: 1px solid $border-color-light;
        padding: $padding/2 $padding;
        cursor: pointer;
        &.show__more {
          padding: $padding/2 $padding $padding*2;
          color: #4a9ff1;
          border-bottom: 0;
          text-indent: underline;
          svg {
            @include animation(bounceDownSmall 2s);
            animation-iteration-count: 3; // too much twitching
          }
        }
      }
      &.sidenav__list__header {
        border-bottom: 1px solid $border-color-light;
        height: $nav-height;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
          padding: 0 $padding;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        svg {
          height: 100%;
        }
        @media (min-width: 900px) {
          display: none;
        }
      }
      &.sidenav__list__view {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        flex: 1;
        padding: 0;
        a {
          padding: 10px 2px;
          &.editIcon {
            @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
            padding: $padding $padding;
            background: transparent;
            border-radius: 5px 0 0 5px;
            &:hover {
              background: darken($border-color-light, 5%);
            }
          }
          &:last-child {
            flex: 1 1 auto;
          }
        }
        li {
          display: flex;
          flex-direction: row;
          border-radius: 5px 0 0 5px;
          margin-top: 5px;
          @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
          &:hover {
            background: rgba(white, 0.7);
          }
        }
        p {
          text-align: right;
          font-size: 15px;
        }
        .icon {
          height: 100%;
          width: 20px;
          svg {
            min-height: 20px;
            height: 100%;
          }
        }
        @media (min-width: 900px) {
          padding: $padding 0;
          overflow-y: auto;
        }
      }
      &.sidenav__list__actions {
        border-top: 1px solid $border-color-light;
        display: block;
        font-size: 20px;
        h4 {
          padding: 6px;
          border: none;
          svg {
            vertical-align: middle !important;
            font-size: 24px;
            margin-right: $padding;
          }
        }
      }
      .icon {
        display: inline-block;
        width: $nav-height;
        height: $nav-height;
        text-align: center;
        cursor: pointer;
      }
      p {
        position: relative;
        font-size: 13px;
        text-align: right;
        span {
          right: $padding;
          bottom: -15px;
          font-size: 10px;
        }
      }
    }
  }
  footer {
    width: 100%;
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      padding: 3px 0;
      cursor: pointer;
      margin: 0 -20px 0 0;
      button {
        padding: 5px 20px 5px 5px;
        overflow: wrap;
        font-size: 13px;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        background: white;
        background: $main-button-color;
        border: 1px solid $border-color-light;
        font-weight: 600;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &:disabled {
          color: black;
          background-color: $kip-faded-color;
          cursor: not-allowed;
        }
        p {
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          text-transform: uppercase;
        }
        svg {
          vertical-align: top !important;
          font-size: 23px;
          padding: 0;
          width: $nav-height/2;
          margin-right: $padding;
        }
        &.side__share {
          height: unset;
          background: $secondary-button-color;
          color: white;
        }
        &.side__new_cart {
          height: unset;
          background: $main-button-color;
          color: black;
          @media (min-width: 900px) {
            background-color: $third-button-color;
            color: white;
          }
        }
      }
    }
  }
}

