// react/components/NotificationBubble/NotificationBubble.scss
@import '../../styles/Constants';
@import '../../styles/Animations';

.notification_bubble {
  @include animation(pulse 3s infinite);

  border: 4px solid $mainColor;
  border-radius: 12px;
  height: 12px;
  position: absolute;
  width: 12px;
}
