<div>
<ul class="tour">
	<li class="tour-page meetupsplash">
		<h3>We ❤ Communities</h3>
		<h4>Bubbl.li makes it easier for everyone to come together at your next Meetup</h4>
	</li>
	<li class="tour-page">
		<h5>When people arrive at your next Meetup, a custom experience awaits on Bubbl.li </h5>
		<div class="tour-container">
			<img width="1600px" height="800px" class="tour-img" src="img/tour/72nd-1600.png">
			<!--<img width="768px" height="800px" class="tour-img" src="img/tour/72nd-768.png" ng-class="{'tour-srcset-on': viewW > 320}">
			<img width="320px" height="800px" class="tour-img tour-srcset-on" src="img/tour/72nd-320.png">-->
			<div class="radar radar1" ng-class="{'radar-gray': scroll > 720}">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
			<div class="radar radar2" ng-class="{'radar-gray': scroll > 720}">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
			<div class="tour-title radar3" ng-class="{'scroll-on': scroll > 650}">
				<span>My Meetup</span>
				<div class="radar">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
			</div>
			<div class="radar radar4" ng-class="{'radar-gray': scroll > 800}">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
			<div class="radar radar5" ng-class="{'radar-gray': scroll > 820}">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
			<div class="radar radar6" ng-class="{'radar-gray': scroll > 830}">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
			<div class="radar radar7" ng-class="{'radar-gray': scroll > 835}">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
			<div class="radar radar8" ng-class="{'radar-gray': scroll > 840}">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
			<div class="radar radar9" ng-class="{'radar-gray': scroll > 850}">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
		</div>
	</li>
	<li class="tour-page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 hidden-xs">
					<div class="tour-iphone hidden-xs">
						<div class="tour-iphone-screen"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
<!-- 					<div class="tour-world-sq">
						<img class="tour-world-img" src="img/tidepools/default.jpg">
						<div class="tour-world-sq-title">My Meetup</div>
					</div> -->
					<h6>Personalize your Meetup with our widgets</h6>

					<div class="tour-features">
							<img width="20px" height="20px" class="center-block">
						<p>Easily exchange contacts to catch up again</p>
							<img width="20px" height="20px" class="center-block">
						<p>Drop images into the group for easy sharing during meetups</p>
							<img width="20px" height="20px" class="center-block">
						<p>Feeling shy? Icebreaker widgets help start conversations in large meetups</p>
							<img width="20px" height="20px" class="center-block">
						<p>… & many more </p>	
					</div>			

				</div>
			</div>
		</div>	
	</li>
	<li class="tour-page">
		<div class="container-fluid">
		<h1 class="tour-bubblli">Bubbl.li</h1>
		<em class="center-block text-center">Sign in with Meetup to import your meetups</em>
		<button class="btn btn-meetup center-block">sign in with meetup</button>
		<button class="btn btn-default center-block">create new account</button>
		<label class="tour-take hidden-xs">Or take a look at these:</label>
		<div class="tour-mini-sq-holder hidden-xs">
			<div class="tour-min-sq">
				<img width="178px" height="178px" src="img/tidepools/default.jpg">
				<div class="tour-min-sq-title">
				World name
				</div>
			</div>
			<div class="tour-min-sq">
				<img width="178px" height="178px" src="img/tidepools/default.jpg">
				<div class="tour-min-sq-title">
				World name
				</div>
			</div>
			<div class="tour-min-sq">
				<img width="178px" height="178px" src="img/tidepools/default.jpg">
				<div class="tour-min-sq-title">
				World name
				</div>
			</div>
			<div class="tour-min-sq">
				<img width="178px" height="178px" src="img/tidepools/default.jpg">
				<div class="tour-min-sq-title">
				World name
				</div>
			</div>
		</div>
		<!--<div class="visible-xs">
			<div class="media card landmark">
				<div class="media-object">
					<img class="avatar" src="img/tidepools/default.jpg">
				</div>
				<div class="media-body">
				<h3 class="media-heading">world name</h3>
				</div>
			</div>
			<div class="media card landmark">
				<div class="media-object">
					<img class="avatar" src="img/tidepools/default.jpg">
				</div>
				<div class="media-body">
				<h3 class="media-heading">world name</h3>
				</div>
			</div>
			<div class="media card landmark">
				<div class="media-object">
					<img class="avatar" src="img/tidepools/default.jpg">
				</div>
				<div class="media-body">
				<h3 class="media-heading">world name</h3>
				</div>
			</div>
			<div class="media card landmark">
				<div class="media-object">
					<img class="avatar" src="img/tidepools/default.jpg">
				</div>
				<div class="media-body">
				<h3 class="media-heading">world name</h3>
				</div>
			</div>
		</div>-->
		</div>
	</li>
</ul>
</div>