<div>
<ul class="tour">
	<li class="tour-page">
	</li>
	<li class="tour-page">
		<div class="tour-container">
			<img width="768px" height="608px" class="tour-img" src="img/tour/72nd.png">
			<img width="768px" height="608px" class="tour-img map-left" src="img/tour/72nd.png">
			<img width="768px" height="608px" class="tour-img map-right" src="img/tour/72nd.png">
			<div class="radar radar1">
				<div class="radar-inner"></div>
				<div class="radar-outer"></div>
			</div>
		</div>
	</li>
	<li class="tour-page">
		<div class="tour-iphone hidden-xs">
			<div class="tour-iphone-button"></div>
		</div>
		<div class="tour-ipad visible-xs">
			<div class="tour-ipad-button">
			</div>
		</div>
	</li>
	<li class="tour-page"></li>
</ul>
</div>