<div>
<ul class="tour">
	<li class="tour-page meetupsplash">
		<header class="tour-header">
			<h1 class="tour-headline">Bubbl.li brings communities closer</h1>
			<h4 class="tour-subhead">It's an easier way of coming together during your next event</h4>
			<a href="/signup/new"><button class="btn btn-lg btn-primary">Sign Up</button></a>

		</header>

		<header class="tour-footer">
			<h4 class="tour-subhead">Enhance &amp; personalize your event's experience. Exchange information, break the ice, and more!</h4>
		</header>
	</li>
	<li class="tour-page">

		<div class="tour-panel">
			<img width="60px" class="tour-logo hidden-xs" src="img/tour/logo.svg">	
			<br>
			<h6 class="second-card-title">
				Your guests can explore their world in a whole new way. 
				<br>
				With cool GPS features and custom maps, guests can get relevant information and locate other communities around them.</h6>
		</div>

		<div class="tour-container">
		
<!-- 			<div class="tour-panel">
				<h6>Your guests can explore their world in a whole new way. 
					<br><br>
					With cool GPS features and custom maps, guests can get relevant information and locate other communities around them. 
				</h6>
			</div>
 -->



			<img width="1600px" height="800px" class="tour-img" src="img/tour/72nd-1600.png">
			<!--<img width="768px" height="800px" class="tour-img" src="img/tour/72nd-768.png" ng-class="{'tour-srcset-on': viewW > 320}">
			<img width="320px" height="800px" class="tour-img tour-srcset-on" src="img/tour/72nd-320.png">-->
			<div ng-class="{'radar-gray': scroll > 830}">
				<div class="radar radar1">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
				<div class="radar radar2">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
				<div class="radar3">
					<div class="tour-title-corner"></div>
					<div class="tour-title">
						<span>Your Event</span>
					</div>
					
					<div class="radar radar3a">
							<div class="radar-inner"></div>
							<div class="radar-outer"></div>
						</div>
				</div>
				<div class="radar radar4">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
				<div class="radar radar5">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
				<div class="radar radar6">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
				<div class="radar radar7">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
				<div class="radar radar8">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
				<div class="radar radar9">
					<div class="radar-inner"></div>
					<div class="radar-outer"></div>
				</div>
			</div>
		</div>
	</li>

	<li class="tour-page">
		<div class="container-fluid">
			<div class="row">
				<div class="hidden-xs col-sm-4 col-sm-offset-1 col-md-4 col-lg-4 col-lg-offset-1">
					<div class="tour-iphone hidden-xs">
						<div class="tour-iphone-screen"><video autoplay loop="loop"><source src="/img/tour/meetup_demo.mp4" type="video/mp4"><source src="/img/tour/meetup_demo.webm" type="video/webm">Your browser does not support video</video></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-6">
					<div class="tour-features center-block">
						<h6>Make every event personal, using features such as Maps and Widgets</h6>
						<img class="center-block tour-icons" src="img/tour/exchange.svg">
						<p>Easily exchange contacts to stay in touch</p>
						<img class="center-block tour-icons" src="img/tour/photoshare.svg">
						<p>Drop images into the group for easy sharing during Events</p>
						<img class="center-block tour-icons" src="img/tour/shy.svg">
						<p>Feeling shy? Use our Icebreaker widgets to start conversations, &amp; much more</p>
						<img class="center-block tour-icons" src="img/tour/lock.svg">
						<p>Log in securely blah blah blah etc.</p>
					</div>			
				</div>
			</div>
		</div>	
	</li>

	<li class="tour-page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="tour-features center-block">
						<h6>Built with Bubbl.li</h6>
						<p>Take a look at some of the projects that have used Bubbl.li as their platform</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-3">
					<a href="http://aicp.bubbl.li/#/lectures" target="_blank" class="thumbnail">
						<img class="center-block" src="img/tour/builtwithbubbli02.jpg">
					</a>
					<p class="built-w-bubbli-sample">2014 AICP Week</p>
				</div>
				<div class="col-sm-4 col-sm-offset-4 col-md-2">
					<a href="https://bubbl.li/w/meetup_211601072" target="_blank" class="thumbnail">
						<img class="center-block" src="img/tour/builtwithbubbli01.jpg">
					</a>
					<p class="built-w-bubbli-sample">Annual Meow</p>
				</div>
				<div class="col-sm-4 col-sm-offset-4 col-md-2">
					<a href="https://bubbl.li/w/Spooky_Park_Chat/messages" target="_blank" class="thumbnail">
						<img class="center-block" src="img/tour/builtwithbubbli03.jpg">
					</a>
					<p class="built-w-bubbli-sample">Spooky Park Chat</p>
				</div>
			</div>
		</div>
	</li>

	<li class="tour-page">
		<div class="container-fluid">
			<div class="tour-last">
				<h1 class="tour-bubblli center-block tour-last-title"><img style="max-width:100%;" width="250" src="/img/IF/bubblli_logo_blue.svg">
				<br>
				<small>Use Bubbl.li at your next event to help bring everyone together and get the conversation going!</small></h1>
				<a href="/signup/new"><button class="btn btn-lg btn-primary center-block">Sign Up</button></a>
				<em class="center-block text-center">Or</em>
					<a href="/nearby"><button class="btn btn-default center-block">Explore Around You</button></a>
				<p class="center-block text-center"><strong>Questions?</strong> Email us at <a href="mailto:hello@interfacefoundry.com">hello@interfacefoundry.com</a>
			</div>

		<div class="tour-credits">

		<p><strong>Photo by</strong> <a href="http://www.meetup.com/sketching/members/3905165/">Jesse Richards</a> from <a href="http://www.meetup.com/sketching/photos/23884792/400433052/">Central Park Sketching &amp; Art Meetup Group</a></p>
		</div>

		</div>
	</li>
</ul>


</div>


