<nav class="subnav-fixed ">
	<a href="" ng-click="goBack()" class="subnav-back" style="height:48px; width: 48px; position: absolute; left: 0px;">
		<span class="glyphicon glyphicon-chevron-left subnav-back-chevron"></span>
	</a>
	<h4 class="subnav-header">Messages</h4>
	<a if-href="#profile/me/messages" class="visible-xs" style="height:48px; width: 48px; position: absolute; top: 0px; right: 0px; padding:12px;">
		<img src="img/icons/ic_edit_grey600.png" width="24" height="24">
	</a>
</nav>

<div class="message-surface">
	<div class="message-room-col hidden-xs">
		<div class="nickname-info">
			<h4 class="inner-nickname">You're chatting as</h4>
			<p><img style="border-radius:50%;" width="50" height="50" if-src="{{user.avatar || 'img/icons/profile.png'}}" src="/img/icons/profile.png">{{nick}}</p>
			<a if-href="#profile/me/messages">
				<button type="button" class="lightblue500 btn btn-default btn-xs edit-nickname"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
			</a>

		</div>
	</div>
	<ul class="message-list">
		<li class="if-animate message" ng-repeat="msg in messages track by msg._id" ng-class="::{'message-self': msg.userID==userID}">
			<picture class="msg-avatar">
				<img width="32px" height="32px" class="small-avatar" if-src="{{::msg.avatar || 'img/icons/profile.png'}}" ng-cloak>
			</picture>
			<div class="message-content" ng-style="::{'background-color': msg.userID==userID ? style.titleBG_color : 'FFF'}">
				<div class="message-corner" 
					ng-style="::{'border-bottom': '6px solid '+style.titleBG_color}"></div>
				<h6 class="message-heading message-self" ng-bind="::msg.nick">Visitor</h6>
				<img class="img-responsive" if-src="{{::msg.pic}}">
				<div class="message-body" ng-bind="::msg.msg" ></div>
			</div>
		</li>
	</ul>

	<div class="view-footer" ng-class="{'message-logged-out-footer': !userManager.loginStatus}" ng-cloak>
		<!-- hide from test -->
		<textarea rows="1" placeholder="{{userManager.loginStatus ? 'Type your message' : 'Sign in to send messages'}}" class="message-input" ng-model="msg.text" ng-keydown="$event.keyCode==13&&!$event.altKey ? sendMsg($event) : 0" msd-elastic autofocus></textarea>
		<button type="button" class="message-send" ng-class="{'lightblue500': userManager.loginStatus}" ng-click="userManager.loginStatus ? sendMsg() : alert('Sign in to send messages!')">Send</button>
		<div class="message-photo" ng-file-select="onImageSelect($files)" data-accept="image/*"></div>
	</div>

</div>

