<nav class="subnav">
	<a ng-href="/w/{{world.id}}" class="subnav-back">
		<span class="glyphicon glyphicon-chevron-left subnav-back-chevron"></span>
	</a>
	<h4 class="subnav-header subnav-chat-head">Messages<p class="subnav-chat-subhead">{{world.name}}</p></h4>

	<a href="/profile/worlds/messages" class="visible-xs hidden-sm hidden-md hidden-lg">
		<span class="glyphicon glyphicon-pencil subnav-chat-edit"></span>
	</a>
</nav>

<div class="message-surface">
	<div class="message-room-col hidden-xs">
		<div class="nickname-info">
			<h4 class="inner-nickname">You're chatting as</h4>
			<p><img style="border-radius:50%;" width="50" height="50" ng-src="{{user.avatar}}" src="/img/icons/profile.png">  {{nick}}</p>
			<a href="/profile/worlds/messages">
				<button type="button" class="lightblue500 btn btn-default btn-xs edit-nickname"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
			</a>

		</div>
	</div>
	<ul class="message-list">
		<li class="if-animate message" ng-repeat="msg in messages" ng-class="{ 'message-hidden' : msg.hidden }">
			<picture class="msg-avatar" ng-if="msg.userID!=userID">
				<img width="32" height="32" class="small-avatar" ng-src="{{msg.avatar}}" ng-cloak>
			</picture>

			<div class="message-content user-message-content" ng-if="msg.userID==userID" ng-style="{'background-color': style.titleBG_color}">
				<div class="message-corner" ng-style="{'border-bottom': '6px solid '+style.titleBG_color}" ng-click="changeName" ></div>
				<h6 class="message-heading message-self" ng-bind="msg.nick">Visitor</h6>
				<img class="img-responsive" ng-src="{{msg.pic}}" ng-if="msg.pic" >
				<p class="message-body" ng-bind="msg.msg" ng-if="msg.msg"></p>
			</div>
			<div class="message-content" ng-if="msg.userID!=userID">
				<h6 class="message-heading" ng-bind="msg.nick">Visitor</h6>
				<img class="img-responsive" ng-src="{{msg.pic}}" ng-if="msg.pic">
				<p class="message-body" ng-bind="msg.msg" ng-if="msg.msg"></p>
			</div>
		</li>
	</ul>

	<div class="view-footer" ng-cloak>
		<textarea rows="1" placeholder="Type your message" class="message-input" ng-model="msg.text" ng-keydown="$event.keyCode==13&&!$event.altKey ? sendMsg($event) : 0" msd-elastic autofocus></textarea>
		<button type="button" class="message-send lightblue500" ng-click="sendMsg()">Send</button>
		<div class="message-photo" ng-file-select="onImageSelect($files)" data-accept="image/*"></div>
	</div>

</div>



<div class="login-chat" ng-hide="loggedIn" ng-cloak>
      <div class="input-group">
          <h4>Login to send messages</h4>
          <a ng-href="/auth/facebook?redirect=%2Fw%2F{{world.id}}%2Fmessages" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
          <a ng-href="/auth/twitter?redirect=%2Fw%2F{{world.id}}%2Fmessages" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
          <a ng-href="/auth/meetup?redirect=%2Fw%2F{{world.id}}%2Fmessages" class="btn btn-meetup"><span class="fa fa-twitter"></span> Meetup</a>
          Or: <a ng-href="/signup/messages" class="btn btn-default"><span class="fa fa-twitter"></span> Signup</a>
      </div>
</div>
