#download-banner {
  background-color: #e6e6e6;
  border-bottom: 1px solid grey;
	height: 80px;
  position: relative;
  top: -80px;
  z-index: 20;

  -webkit-transition: 0.35s linear -webkit-transform;
  transition: 0.35s linear transform;

  .x-button {
  	height: 20px;
	  float: left;
	  margin-top: 30px;
	  margin-right: 10px;
	  margin-left: 10px;
  }
}

.banner-inline-block {
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: left;
  vertical-align: top;

  .kip-icon {
	  background-color: white;
	  border: 1px solid rgb(209, 208, 199);
	  border-radius: 10px;
  	height: 60px;
	  margin-top: 10px;
  }

  &.kip-description {
    font-weight: 500;
  	padding-left: 10px;
  	padding-top: 10px;
    width: 45vw;
  }

  &.action {
  	color: blue;
		float: right;
	  font-size: 16px;
	  font-weight: 400;
	  padding-right: 10px;
	  padding-top: 29px;
  }
}

.banner-offset {
  transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 80px, 0); 
}

.banner-adjust-up {
  transform: translate3d(0, -80px, 0);
  -webkit-transform: translate3d(0, -80px, 0); 
}

#view-container {
  height: 100vh;
  margin-top: 0px;
  overflow: hidden;

  -webkit-transition: 0.35s linear -webkit-transform;
  transition: 0.35s linear transform;
}