@import '../../themes/constants';
@import '../../themes/animations';

.hero {
	position: relative;
	overflow: hidden;
	padding: $ribbonHeight 0 0;
	height: 500px;
	width: 100%;
	@include animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) 1.33s);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(255,255,255,0.4);
	}

	@media only screen and (max-width: 600px) {
		height: 350px;
	}

	.dots {
		position: relative;
		padding: $padding $padding*2 $padding*3;
		@include animation(fadeAndZoomIn cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
	    @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
		.dot {
			position: absolute;
			width: 10px;
			height: 10px;
			top: 50%;
			left: 50%;
			border: 3px solid lighten($bgColor, 50%);
			border-radius: 18px;
			@include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

			&.selected {
				border: 3px solid $secondaryColor;
			}

			&:first-of-type {
				top: 75%;
				left: 10%;
			}
			&:nth-of-type(2) {
				top: 45%;
				left: 33%;
			}
			&:nth-of-type(3) {
				top: 30%;
				left: 65%;
			}
			&:last-of-type {
				top: 30%;
				left: 89%;
			}

			@media only screen and (max-width: 600px) {
				&:first-of-type {
					top: 25%;
					left: 10%;

					.dot__bubble-leave {
					  @include animation(fadeOutDownRightBubble cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
					}
				}
				&:nth-of-type(2) {
					top: 50%;
					left: 25%;

					.dot__bubble-leave {
					  @include animation(fadeOutDownRightBubble cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
					}
				}
				&:nth-of-type(3) {
					top: 37%;
					left: 65%;


					.dot__bubble-leave {
					  @include animation(fadeOutDownLeftBubble cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
					}
				}
				&:last-of-type {
					top: 70%;
					left: 80%;


					.dot__bubble-leave {
					  @include animation(fadeOutDownLeftBubble cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
					}
				}
			}

			.dot__bubble-enter {
			  @include animation(fadeAndGrowInUpBubble cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
			}
		}
	}

	.sine {
		fill: white;
		display: none;
	}
}

@keyframes fadeAndGrowInUpBubble {
  0%   { opacity: 0; transform: translate3d(-45%, 40px, 0) scale(0); }
  100% { opacity: 1; transform: translate3d(-45%, 0px, 0) scale(1); }
}

@keyframes fadeOutDownRightBubble {
  0%   { opacity: 1; transform: translate3d(-45%, 0, 0) scale3d(1, 1, 1) rotate(0deg); }
  70%   { opacity: 1; }
  100% { opacity: 0; transform: translate3d(0%, 100px, 0) scale3d(0.2, 0.5, 1) rotate(-15deg); }
}

@keyframes fadeOutDownLeftBubble {
  0%   { opacity: 1; transform: translate3d(-45%, 0, 0) scale3d(1, 1, 1) rotate(0deg); }
  70%   { opacity: 1; }
  100% { opacity: 0; transform: translate3d(-85%, 100px, 0) scale3d(0.2, 0.5, 1) rotate(15deg); }
}
			
