/*
/*
/* Color List
  light-gray: #F5F5F5;
  dark-gray: #B9B9B9;
  red: #EE3A4A;
  dark-red: #A62934;
  purple: #6F52D8;
  dark-purple: #3a2b71;
  light-blue: #EFF7FE;
  transparent-purple: rgba(111,82,216,0.12);
  white: #fff;
  black: #292929;

*/


/*
/*
/* show root vue instance once Vue is loaded */
[v-cloak] { display:none; }

/*
/*
/* global styling */

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: helvetica;
  font-weight: 200;
  min-height: 100%;
  color: #292929;
}

#app {
  height: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
}

footer {
  clear: both;
  width: 100%;
  height: 50px;
  left: 0;
  right: 0;
  position: relative;
}

footer span {
  color: #B9B9B9; 
}

footer img {
  width: 100px;
  vertical-align: middle;
}

button:hover {
  cursor: pointer;
}

button.base-btn {
  background-color: #6F52D8;
  color: #fff;
  border-radius: 4px;
  padding: 15px;
  border: none;
}

button.base-btn:hover {
  background-color: #3a2b71; 
}

button.base-btn:disabled {
  background-color: #B9B9B9;
  cursor: not-allowed;
}

button.base-btn:disabled:hover {
  background-color: #B9B9B9;
}


.container {
  padding-left: 50px;
  padding-right: 50px;
}

.image-container {
  display: inline-block;
}

.left-panel {
  float: left;
  width: 70%;
}

.right-panel {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  top: 0;
  padding-top: 50px;
  width: 30%;
  box-shadow: -3px 0px 6px #b9b9b9;
  z-index: 10;
  background-color: #fff;
}



/*
/*
/* header & nav */
header{
  background-color: #EE3A4A;
  position: fixed;
  width: 100%;
  z-index: 50;
}

nav {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

nav .logo {
  float: left;
}

nav .logo img {
  width: 100px;
}

nav .cart-icon {
  margin-left: auto;
  padding-top: 10px;
}

nav .image-container:hover {
  cursor: pointer;  
}


nav .cart-icon img {
  width: 25px;
}

nav .mobile-cart-indicator {
  display: none;  
}

.nav-cart-quantity {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-color: #6F52D8;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  top: 5px;
  right: 2px;
  position: absolute;
}

/*
/*
/* Restaurant header */
.restaurant-name {
  position: relative;
  font-size: 42px;
  font-weight: 400;
  left: 20px;
  top: 130px;
  display: inline-block;
}

.restaurant-header {
  background: url('../images/food-icons.png');
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.restaurant-header img {
    position: relative;
    top: 130px;
}


.category-nav {
  background-color: #F5F5F5;
  padding: 10px 0;
  position: relative;
}


.category-nav ul {
  -js-display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.category-nav li {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.category-nav li a {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  color: #292929;
  padding: 0 5px;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-align-self: center;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  min-width: 50px;
}

.category-nav li a:hover {
  background-color: #6F52D8;  
  color: #fff;    
}

.category-nav li.more:hover {
  cursor: pointer;
}

.category-nav .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #ccc;
  -webkit-transition:all 1s ease;
  transition: all 1s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.category-nav .arrow.rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);  
}

.more-categories {
  position: relative;  
}

.more-categories:hover {
  cursor: pointer;  
}

.categories-dropdown {
  box-sizing: border-box;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  text-align: left;
  border-radius: 4px;
  white-space: nowrap; 
  z-index:1000;
  top: 28px;
  color: #292929;
  font-weight: 400;
}

.categories-dropdown ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories-dropdown li {
  margin-bottom: 10px;  
}

.categories-dropdown li a {
  text-align: left;  
}

.categories-dropdown li a:hover {
  background-color: #6F52D8;
  color: #fff; 
}


/*
/*
/* menu container */

.menu-content {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex; 
  -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

/*
/*
/* menu category */

.category-set {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  margin-top: 30px; 
}

.category-overview {
  padding: 10px 0;
}

.category-anchor {
  display:block;
  position: relative;
  top:-80px;
  visibility:hidden;
}

.category-set h2 {
    padding: 5px 10px;
}

.category-description {
  font-style: italic;
  color: #B9B9B9;
  font-size: 14px;
  margin: 0;
}

.category-set h4 {
  margin: 10px 0 5px 0;
  color: #B9B9B9;
}

.category-set ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  moz-flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}


/*
/*
/* category item */

.category-set ul li {
  border-bottom: 1px solid #F5F5F5;
  padding: 10px;
  height: 100%;
  -moz-flex: 0 0 48%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-right: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 100px;
}

.category-set ul li:hover {
  background: rgba(111,82,216,0.12);
  border-bottom: 2px solid #6F52D8;
  cursor: pointer;
}

.item-name {
  font-weight: bold;
  display: inline-block;
  max-width: 70%;
  margin: 0;
}

.item-price {
  float: right;
  display: inline-block;
}

.item-description {
  color: #B9B9B9;
}

.option-choice {
  width: 100%;
  font-size: 14px;
  vertical-align: text-top;
  line-height: 14px;
}


/*
/*
/* cart */

.cart {
  padding: 10px 20px 10px 20px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.remove-item-icon {
  color: red;
  background-color: white;
  border: 1px dotted red;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  vertical-align: top;
}

.remove-item-icon:hover {
  cursor: pointer;  
}

.cart-body {
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart-item {
  border-bottom: 1px solid #F5F5F5;
  padding: 10px 0;
}

.cart-header {
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 20px;
}

.cart-header h3 {
  margin-bottom: 0;
}

.cart-header small {
  font-style: italic;  
}

.edit-item-icon {
  width: 14px;
  margin: 0 10px;    
  vertical-align: top;  
}

.cart-totals .total-item {
  margin-bottom: 10px;
  font-weight: bold;
}

.cart-totals .item-price {
  margin: 0;
}

.cart-item .item-options {
  padding-left: 20px;
}

.cart-item .item-option-name {
  font-size: 14px;
  color: #B9B9B9;
  margin: 10px 0;
}

.cart-item .item-instructions {
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  font-size: 12px;
  font-style: italic;
  margin-top: 10px;
}

.cart-item .item-choice {
  font-size: 12px;
  color: #B9B9B9;
}

.cart-item .item-option-list {
  list-style-type: disc;
  list-style-position: inside;
}

.cart-item .item-summary img:hover {
  cursor: pointer;
}

.cart-footer {
  border-top: 1px solid #F5F5F5; 
  height: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.cart-footer button {
  width: 100%;
  padding:20px;
  font-size:24px;
  margin-top: 2%;
  min-height: 97px;
}

.cart-empty-text {
  font-weight: 200;
  color: #B9B9B9;
  text-align: center;
  padding-top: 40px;
}

.inline-emoji {
  vertical-align: middle;  
  margin-right: 5px;
}

/*
/*
/* modal styling */
.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-transition:opacity .3s ease;
  transition: opacity .3s ease;
  z-index: 100;
}

.modal-wrapper {
  z-index: 9998; 
  width:90%;
  margin: auto;
}

.modal-container {
  width: 60%;
  max-width: 600px;
  margin: 0px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  -webkit-transition:all .3s ease;
  transition: all .3s ease;
  min-height: 400px;
}

.modal-item-info {
  width: 90%;
  display: inline-block;
}

.modal-header h3 {
  margin: 0 0 5px 0;
}

.modal-body {
  min-height: 100px;
  max-height: 300px;
  overflow: scroll;
}

.special-instructions {
  margin-bottom: 20px;  
}

.special-instructions textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;  
}

.modal-close-button {
  float: right;
  background: url(../images/close-icon.svg);
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-close-button:hover {
  cursor: pointer;
}

.modal-footer {
  border-top: 1px solid #B9B9B9;
  padding: 25px 0 0 0;
}

.modal-footer button {
  width: 100%;
  font-size: 18px;  
}

.option-body {
  background-color: #EFF7FE;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  padding: 10px;
}

.option-list {
  display: inline;
  margin: 0 20px 20px 0;
}

.item-quantity-selector {
  padding: 20px 0;
}

.item-quantity-selector button {
  background-color: white;
  border-radius: 4px;
  color: #6F52D8;
  border: 2px solid #6F52D8;
  line-height: 19px;
  font-size: 24px;
  font-weight: 300;
  width: 30px;
  height: 30px;
}

.item-quantity-selector span {
  width: 40px;
  display: inline-block;
  border: 1px solid #F5F5F5;
  box-sizing: content-box;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  text-align: center;
  border-radius: 4px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#budget-text {
  display: none;
}

/*
/*
/*
/* Tablet and below styling */
@media (max-width:800px) {
  .category-set ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
  }

  #budget-text {
    display: block;  
  }
  nav .mobile-cart-indicator {
    display: block;
    position: absolute;
    right: 0;
    width: 80px;
    height: 100%;
    top: 0;      
  }
    
  nav .mobile-cart-indicator.visible {
    background-color: #A62934;          
  }  
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .right-panel {
    display: none; 
    width: 100%;
  }

  .right-panel.visible {
    display: block  
  }

  .left-panel {
    width: 100%;  
  }
 
  nav .cart-icon {
    margin: 0; 
  }

  nav .cart-icon.image-container {
    position: absolute;
    right: 10px;    
  }

  nav .cart-icon img {
    position: relative;
    right: 20px;  
  }

  .restaurant-header {
    height: auto;
    text-align: center;
    padding: 0;
    position: relative;
    top: 70px;
  }

  .restaurant-header img {
    border: 5px solid #F5F5F5;
    border-radius: 100px;
    top: 0px;
  }

  .restaurant-name {
    left: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    top: 0px;
  }
  
  .category-nav {
    display: none;  
  }
 
  .cart-body {
    font-size: .9em;  
  }
  
  .cart-item .item-choice, .item-option-name {
    font-size: 12px !important; /* don't like this, will fix at some point */  
  }

  .category-set ul li {
    width: 100%;  
  }
  
  .modal-wrapper {
    width: 100%;  
  }

  .modal-container {
    width: 80%; 
    padding: 20px;

  }
}
