<div ng-if="upcoming">
<header class="marble-page-header" ng-style="::{color: style.categoryTitle_color}">
	<div class="marble-page-header-icon"><img src="img/icons/time_16.png" width="16px" height="16px" style="display: block;"></div>
	Upcoming
</header>
<article ng-init="foldSize.upcoming = 3">
	<div class="explore-media clearfix" ng-repeat="landmark in upcoming | limitTo: foldSize.upcoming" ng-click="go('w/'+world.id+'/'+landmark.id)">
		<img if-src="{{::landmark.avatar}}" class="media-object">
		<div class="explore-media-body">
		<h3 class="explore-media-heading">{{::landmark.name}}</h3>
		<h6>{{::landmark.time.start | date: 'shortTime'}}</h6>
		{{::landmark.summary}}
		</div>
		<div class="bottom-right">
		<a if-href="#w/{{::world.id}}/{{::landmark.id}}" class="marble-btn" style="float: right;" ng-style="::{'background': style.titleBG_color}">More Info</a>
		</div>
	</div>
	<div class="fold-btn" ng-click="foldSize.upcoming = foldSize.upcoming + 3" ng-style="{color: style.titleBG_color}" ng-show="foldSize.upcoming<upcoming.length">
		See More
	</div>
	
</article>
</div>
<div ng-if="landmarks.length>0">
<header class="marble-page-header" ng-style="::{color: style.categoryTitle_color}">
	<div class="marble-page-header-icon"><img src="img/icons/map_16.png" width="16px" height="16px" style="display: block;"></div>
	Explore
</header>
<article class="">
	<div class="explore-media clearfix" ng-repeat="landmark in landmarks">
		<img if-src="{{::landmark.avatar}}" class="media-object">
		<div class="explore-media-body">
		<h3 class="explore-media-heading">{{::landmark.name}}</h3>
		<h6>{{::landmark.time.start | date: 'shortTime'}}</h6>
		{{::landmark.summary}}
		</div>
		<div class="bottom-right">
		<a if-href="#w/{{::world.id}}/{{::landmark.id}}" class="marble-btn" style="float: right;" ng-style="::{'background': style.titleBG_color}">More Info</a>
		</div>
	</div>
</article>
</div>