<div class="col-xs-6 twitter widget_margin">
	<h4 class="category-heading" ng-style="{color: style.categoryTitle_color}">Twitter</h4>
        <div class="card" ng-style="{'background-color': style.cardBG_color}">
        <a ng-href="#/twitter/{{world.resources.hashtag}}">
          <div class="more">
          <p class="content">{{tweets[0].text}}</p>
          <span class="watermark typcn typcn-social-twitter"></span>
          </div>
        </a>
        <a ng-href="https://twitter.com/{{tweets[0].user.name}}/status/{{tweets[0].tweetID_str}}" target="_blank">
        <div class="footer show-footer">@{{tweets[0].user.name}} <span class="typcn typcn-export pull-right"><span></div>
        </a>
        </div>
 </div>