@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';

.invoice {
  .payment {
  	position: relative;
  	width: 100%;

    &.accordion {
      nav {
        padding: 0;
        position: relative;
        height: 50px;
        padding: 0;

        h3 {
          display: inline-block;
          line-height: 50px;
        }

        p {
          text-align: right;
          display: inline-block;
          float: right;
          line-height: 50px;
          font-size: 14px;
          color: rgba(#333, 0.4);
        }

        .image {
          height: $nav-height - $padding;
          width: $nav-height - $padding;
          display: inline-block;
          margin: $padding/2 0 $padding/2 $padding;
          float: right;
          background: url(http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Visa-icon.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
