<ul class="world-sq-container">
	<li class="col-xs-12" ng-show="fromMeetup">
		<div class="meetup-well well">
			<span ng-show="waitingforMeetup">We're pulling in your Meetups, this might take some time <img width="50" height="50" src="img/IF/718.gif"></span>
			<span ng-if="worlds.length > 0">We found your Meetups! Start customizing them below:</span>
			<span ng-if="worlds.length <= 0">Welcome to Bubbl.li! We couldn't find any of your Meetups, check back later. Or, create a new bubble ---> </span>
		</div>
	</li><div class="clearfix"></div>
	<li>
	<div class="profile-add-new" ng-click="newWorld()">
		<div class="profile-add-new-plus">+</div>
		<span>Create New Bubble</span>
	</div>
	</li>
	<li class="world-sq" ng-hide="waitingforMeetup" ng-repeat="world in worlds" 
		ng-click="$parent.selectedIndex=($parent.selectedIndex==$index) ? $parent.selectedIndex=null : $parent.selectedIndex = $index">
		<img width="144" height="144" ng-src="{{world.avatar}}" class="world-sq-img">
		<button type="button" class="world-sq-close" ng-click="deleteWorld($index)">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		<span class="world-sq-views"><span class="glyphicon glyphicon-eye-open"></span> Views: {{world.views}}</span>
		<ul class="world-sq-menu" ng-class="{'selected': selectedIndex==$index}">
			<li class="world-sq-menu-title">{{world.name || 'New Bubble'}}</li>
			<li class="world-sq-menu-action" ng-click="go('/w/'+world.id)">View</li>
			<li class="world-sq-menu-action" ng-click="go('/edit/walkthrough/'+world._id)" ng-if="world.source_meetup.id"><b>Set up Meetup</b></li>
			<li class="world-sq-menu-action" ng-click="go('/edit/walkthrough/'+world._id)" ng-if="!world.source_meetup.id"><b>Walkthrough</b></li>
			<li class="world-sq-menu-action" ng-click="go('/edit/w/'+world.id)">Edit</li>
			<!--<li class="world-sq-menu-action">Share</li>-->
		</ul>
	</li>
</ul>