// react/components/AddressForm/AddressForm.scss
@import '../../styles/Constants';
.checkout_overlay {
  font-family: $secondary-font;
  letter-spacing: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(white, 0.9);
  z-index: 10000;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: $padding/2 $padding/2 0 0;
  h2, h1 {
    border-bottom: 4px solid $main-button-color;
  }
  h1 {
    border-radius: $padding/2 $padding/2 0 0;
    background: $secondary-button-color;
    margin: -$padding;
    padding: $padding;
    color: white;
    font-size: 20px;
    text-align: center;
    span {
      float: right;
      padding: 0 0 0 10px;
      cursor: pointer;
    }
  }
  h2 {
    font-weight: normal;
    display: inline-block;
    border-color: $main-button-color;
  }
  .add_to_amazon {
    background: $kip-primary-color;
    margin: auto;
    padding: $padding;
    box-shadow: $card-box-shadow;
    width: 70%;
    ul {
      padding-top: $padding;
      li {
        padding: $padding/2;
        padding-left: 5px;
        margin-left: $padding;
        input {
          border: none;
          border-bottom: 4px solid $third-button-color;
          background: transparent;
          width: 75%;
          &:invalid {
            border-color: $fourth-button-color;
          }
          &:required {
            box-shadow: none;
          }
          &:active, &:focus {
            border-color: $fifth-button-color;
          }
          &.empty {
            border-color: $third-button-color;
          }
        }
        label {
          font-size: 10px;
          text-transform: uppercase;
          font-weight: bold;
          padding-left: 5px;
        }
        button {
          border: 1px solid $border-color-light;
          font-weight: 600;
          cursor: pointer;
          border: none;
          background: $main-button-color;
          font-size: 15px;
          height: 30px;
          width: 75%;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}

