<a if-href="#w/{{worldURL}}" class="back btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
<div id="shelf" class="container-fluid" ng-style="{'background-color': style.bodyBG_color}" ng-class="[aperture.state]">

	<div class="row">

		<div id='top-shelf' ng-class="[aperture.navfix, aperture.state]" 
							ng-style="{'background-color': style.titleBG_color}" 
							ng-click="aperture.toggle('full')">
			<div class="media">
				<div class="pull-left vertical-middle">
							<img class="media-object avatar" ng-click="aperture.toggle('half')" if-src="{{landmark.avatar}}">
						</div>
				<div class="media-body vertical-middle">
					<h2 class="media-heading" ng-style="{color: style.worldTitle_color}">{{landmark.name}}<h6 ng-style="{color: style.worldTitle_color}" class="pull-right">{{landmark.time.start | shortTime}}</h6></h2>
					<p ng-cloak ng-style="{color: style.worldTitle_color}">{{landmark.summary}}</p>
				</div>
			</div>
		</div>
	</div>

<!--PRESENTS-->
	<div ng-include="temp.showPresentCard==true ? 'components/world/templates/presents.html' : null"></div>
	
	<div class="row">
		<div class="col-xs-12 landmark">
			<div ng-style="{'background-color': style.cardBG_color}" class="card landmark-description">
				<div ng-bind-html="landmark.description"></div>
			</div>
		</div>
	</div>
</div>