/* app css stylesheet */

body {
  margin: 0;
}

/*#leafletmap{

  height:183px !important;
}*/

::-webkit-scrollbar { 
    display: none; 
}

.row-fluid{

}

.item {
  width:50%;
  float:left;
  cursor:pointer;
}

.item img{
  max-width:100%;
}

.bubbleSwitcher .btn.btn-primary{
  background-color: #161616;
  font-family:'simplreg', sans-serif;
 
}



#index_card {
  width:100%; 

  cursor:pointer;
  height:82px;

  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  z-index: 100;
}



#index_card_badge{
  float:left;
  height:100%;
  width:85px;  
}

#index_card_badge img{
  max-width: 100%;
}

.datacard {
  width:100%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  border-width: 1px;
}

.bar {
    height: 18px;
    background: green;
}

.angular-leaflet-map {
  width: 100%;
  height: 350px;
}

.landmarks {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 86px;
  width: 64px;
  padding-top: 17px;
  padding-left: 9px;
}

.landmarks li {
  clear: both;
  height: 96px;
  padding-top: 15px;

}

.feed {
  list-style: none;
}

.feed li {
  clear: both;
 /* height: 100px;*/
  padding-top: 15px;
}

/** Detail View **/

img.landmark {
  float: right;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  /*padding: 2em;*/
  height: 75px;
  width: 75px;
}

ul.landmark-thumbs {
  margin: 0;
  list-style: none;
}

ul.landmark-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.landmark-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.landmark-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

/*h1 {
  border-bottom: 1px solid gray;
}*/


/* Code below by Dave Cole from: https://gist.github.com/dhcole/5368613 */
body.menu #menu {
  opacity: 1;
  -webkit-transition: opacity 0 0;
  -moz-transition:    opacity 0 0;
  -ms-transition:     opacity 0 0;
  -o-transition:      opacity 0 0;
  transition:         opacity 0 0;
}

body.menu #main {
  -webkit-transform: translateX(66%);
  -moz-transform: translateX(66%);
  -ms-transform: translateX(66%);
  -o-transform: translateX(66%);
  transform: translateX(66%);
}



/* SLIDE UP SLIDE DOWN */

body.lense #window {
  opacity: 1;
  -webkit-transition: opacity 0 0;
  -moz-transition:    opacity 0 0;
  -ms-transition:     opacity 0 0;
  -o-transition:      opacity 0 0;
  transition:         opacity 0 0;
}

body.lense #shelf {
/*-webkit-transform: translateY(732px);*/
  /*
  javascript read page height, change css of window height - height of index card, recalculate on window drag
  */
/*  
  -moz-transform: translateY(31%);
  -ms-transform: translateY(31%);
  -o-transform: translateY(31%);
  transform: translateY(31%);*/
}

/* SLIDE UP SLIDE DOWN */

body.lense2 #window {
  opacity: 1;
  -webkit-transition: opacity 0 0;
  -moz-transition:    opacity 0 0;
  -ms-transition:     opacity 0 0;
  -o-transition:      opacity 0 0;
  transition:         opacity 0 0;
}

body.lense2 #shelf {

  /*
  javascript read page height, change css of window height - height of index card, recalculate on window drag
  */
/*  -webkit-transform: translateY(170px);
  -moz-transform: translateY(170px);
  -ms-transform: translateY(170px);
  -o-transform: translateY(170px);
  transform: translateY(170px);*/
}




#wrapper {
  position: relative;
  overflow-x: hidden;
}

#menu {
  position:absolute;
  top: 0;
  left: 0;
  width: 66%;
  bottom: 0px;

/*background-image: linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);
  background-image: -o-linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);
  background-image: -moz-linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);
  background-image: -webkit-linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);
  background-image: -ms-linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(153,0,255)),
    color-stop(0.59, rgb(215,115,228)),
    color-stop(0.84, rgb(247,179,186))
  );*/


  background-color: #d2d2d2;
  opacity: 0;
  -webkit-transition: opacity 0 0.2s;
  -moz-transition: opacity 0 0.2s;
  -ms-transition: opacity 0 0.2s;
  -o-transition: opacity 0 0.2s;
  transition: opacity 0 0.2s;
}

#main {
  position: relative;
  min-height: 100%;
  background: #161616;
  box-shadow: -4px 0px 5px rgba(0,0,0,0.5);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

#window {

  overflow: hidden;

  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0px;

/*background-image: linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);
  background-image: -o-linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);
  background-image: -moz-linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);
  background-image: -webkit-linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);
  background-image: -ms-linear-gradient(bottom, rgb(153,0,255) 25%, rgb(215,115,228) 59%, rgb(247,179,186) 84%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(153,0,255)),
    color-stop(0.59, rgb(215,115,228)),
    color-stop(0.84, rgb(247,179,186))
  );
*/

  color: white;
  opacity: 0;
  -webkit-transition: opacity 0 0.2s;
  -moz-transition: opacity 0 0.2s;
  -ms-transition: opacity 0 0.2s;
  -o-transition: opacity 0 0.2s;
  transition: opacity 0 0.2s;
}

#shelf {
  position: relative;
  min-height: 100%;
  background: #000;


  border-top: solid gray 1px;

  box-shadow: 0px -2px 5px rgba(37,99,110,0.5);

  
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

#content { 
/*  padding: 20px;*/ 
}

#bar {
  height: 54px;
  background: #333;
}

/* --- end code by Dave Cole */

/* App menu bar */

#show { 
  float: left;
  color: #000; 
  background: #9900ff;
  width: 44px;
  height: 47px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  position: absolute;

}

#selector {
  float: left;
  margin: 0 auto;
  width: 65%;
  height: 100%;
  border: 1px;
  background: #fff;
  padding-left: 20px;
  display: inline-block;
  cursor: pointer;
}

#search { 
  float: right;
  color: #000; 
  background: #9900ff;
  width: 51px;
  height: 100%;
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
}

/* Nav bar */

#nav {
  width: 100%;
  height: 45px;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;  
}

#nav ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0; 
}

#nav li {
  float: left; 
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; 
}

#nav li:first-child a {
  border-left: 1px solid #ccc; 
}

#nav li a:hover {
  color: #c00;
  background-color: #fff; 
}


.menubutton {
  float:left; 
  width:10%;
}




.partner {
  width:67px;
  opacity: 0.8;
  padding-left: 7px;

}




/*ANGULAR BOOTSTRAP OVERIDE*/

/*TYPICONS*/
@font-face {
  font-family: 'typicons';
  src: url("../fonts/typicons.eot");
  src: url("../fonts/typicons.eot?#iefix") format('embedded-opentype'),
       url("../fonts/typicons.woff") format('woff'),
       url("../fonts/typicons.ttf") format('truetype'),
       url("../fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}



/*AICP FONT*/
@font-face {
  font-family: 'simplreg';
  src: url("../fonts/SimplReg.eot");
  src: url("../fonts/SimplReg.eot?#iefix") format('embedded-opentype'),
       url("../fonts/SimplReg.woff") format('woff'),
       url("../fonts/SimplReg.ttf") format('truetype'),
       url("../fonts/typicons.svg#typicons") format('svg');
/*  font-weight: normal;
  font-style: normal;*/
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;*/
  -webkit-font-smoothing: antialiased;
}




/*ANGULAR BOOTSTRAP OVERIDE*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*GENERAL*/
body{
  background: rgb(112, 112, 112);
}

li {
  list-style-type: none;
}

.container{
  max-width: 384px;
  background: black;
  color: white;

}

.container a{
  text-decoration: none;
}

/*CARDS*/
.col-xs-6.card{
  max-width: 50%;
}

.col-xs-4.card{
  max-width: 33.3%;
  font-size: 1.3rem;
}



.col-xs-12.card{
  max-width: 100%;
}

.card{
  padding: 0 5px 5px 5px;
  margin: 0;
}
.card.social h1 {
  color:  #3dc0fe;
}
.card h1{
  font-size: 1.4rem;
  padding: 0 10px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 15px 0 8px 0;
  color: #a9c512;
  font-family:'simplreg', sans-serif;

}
.card .container{
  background: white;
  color: #0f0f0e;
  padding: 10px;
  margin: 0;
  border-radius: 2px;
  word-wrap: auto;
  width: 100%;
  cursor: pointer;
  border-bottom: solid #cecece 2px;
  border-right: solid #cecece 1px;
  
}

/*.col-xs-6.card:nth-child(4n){
  float:none !important;
}
*/

.third-elm {
    color: red;
}

.iconMenu{
  -webkit-transform: translateY(716px);
}

#iconMenu {
    width:100px;
    height:100px;
}

.blue {
     -webkit-transform: translateY(716px);
}

.red {
     -webkit-transform: translateY(1000px); 
}


.card .content{
  margin: 0;
}
.card .container.more{
  border-radius: 3px 3px 0 0;
}
.card.social.twitter .container .content{
    color: gray;
    font-size: 1.6rem;
    font-weight: 100;
    font-style: italic;
}
.card.social .footer{
  text-align: left;
  padding-left: 10px;  
  letter-spacing: 0.1rem;
}
.card .header{
  color: #d774c0;
  font-size: 0.9em;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
  font-family:'simplreg', sans-serif;
  font-weight: bold;
}
.card .title{
  /*font-weight: bold;*/
  font-size: 1.4rem;
  margin: 0 0 3px 0;
  font-family:'simplreg', sans-serif;
}

.searchTitle{
  /*font-weight: bold;*/
  font-size: 1.3rem;
  margin: 0 0 3px 0;
  font-family:'simplreg', sans-serif;
  text-align: center;
}


.card .content{
  font-size: 1.3rem;
}

.card .footer{
  cursor: pointer;
  text-align: right;
  background: url('../img/more_bg.jpg') right center repeat-y;
  color: black;
  padding: 6px;
  border-radius: 0 0 3px 3px;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-family:'simplreg', sans-serif;
}

.award-footer{
  background: url('../img/AICP/more_bg_awards.png') right center repeat-y !important;
}

.lecture-footer{
  background: url('../img/AICP/more_bg_lectures.png') right center repeat-y !important;
}

.show-footer{
  background: url('../img/AICP/more_bg_show.png') right center repeat-y !important;
}







.card .footer .typcn{
  color: #333;
}
.card .container .watermark{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card .container.more .watermark{
  bottom: 33px;
  color: #333;
  opacity: 0.7;
  font-size: 2.4rem;
}
.card.instagram .container.more .watermark{
  bottom: 42px;
  right: 18px;
  color: #fff;
}

.col-xs-12.card .footer{
  background: url('../img/index_card_bg.jpg') right center repeat-y;
}


.col-xs-12.card .award-footer{
  background: url('../img/AICP/more_bg_awards_long.png') right center repeat-y !important;
}

.col-xs-12.card .lecture-footer{
  background: url('../img/AICP/more_bg_lectures_long.png') right center repeat-y !important;
}

.col-xs-12.card .show-footer{
  background: url('../img/AICP/more_bg_show_long.png') right center repeat-y !important;
}


.card.social .footer .typcn-export{
  font-size: 1.7rem;
  line-height: 1.6rem;
}

/*INDEX CARD*/
.index_card{
  height: 83px;
  overflow: hidden;
  background: url('../img/index_card_bg.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px 0;
  color: black;
  cursor: pointer;
  border-bottom: solid 1px #a8a7a7;
  border-top: solid 2px #a8a7a7;
}

.award_index{
  background: url('../img/AICP/index_card_bg_awards.png') center center no-repeat;
}

.lecture_index{
  background: url('../img/AICP/index_card_bg_lectures.png') center center no-repeat;
}

.show_index{
  background: url('../img/AICP/index_card_bg_show.png') center center no-repeat;
}




.index-logo{
   max-height: 72px;
   margin-right: 14px;
   float: left;
   margin-top: -6px;
}

.index_card h1{
  font-size: 1.9rem;
  padding: 0;
  margin: 0;
  font-family:'simplreg', sans-serif;
}

.index_card h2{
  font-size: 1.3rem;
  padding: 0;
  margin: 15px 0 0 0;
  font-family:'simplreg', sans-serif;
}
.index_card h3{
  font-size: 1.2rem;
  padding: 0;
  margin: 3px 0 0 0;
  font-weight: 200;
  letter-spacing: 0rem;
  font-family:'simplreg', sans-serif;
}

.landmark-detail{
  padding-left:5px; 
  padding-top: 10px; 
  padding-right:5px; 
  width:100%; 
  color:#cccdc8;
}


body {

  -moz-osx-font-smoothing: grayscale;

}

h4 {
    font-family:'simplreg', sans-serif;
    color: #000;
    font-size: 1.4rem !important;
}

.backbtn {
      font-family:'simplreg', sans-serif;
      color:#000 !important;
      padding:9px 12px 8px !important;
      margin-top: 4px;
      margin-bottom: 4px;
}


.baseHours{
  letter-spacing: -0.9px;
}

.director{
  width:200px;
}

@media (max-width: 381px) {
   .index_card h1{
      font-size:1.5rem;
      letter-spacing:-1px;
   }

   .index_card h3{
      letter-spacing:-0.2px;
   }

   .card .header{
      letter-spacing:-0.2px;
   }

   .navIcons label img{
    width:4.1rem !important;
    
   }

  .navIcons label{
    padding:6px ;    
   }

   #food{
    margin-left: -17px !important;
   }

  #bars{
    margin-left: -17px !important;
   }

   #sponsors{
    margin-left: -20px !important; 
   }
  
   #washrooms{
    margin-left: -20px !important;
   }

   #exhibits{
    margin-left: -19px !important;
   }

   #smoking{
    margin-left: -17px !important;
   } 

   .specialIndex{
    letter-spacing: -1.2px !important;

   }

   .card.social .footer .typcn-export{
    display: none;
   }

   .menupic {
    max-width: 67%;
   }

  .menupic img{
    width:198px;
   }
}





