$bgColor: #4f4d4c;
$secondBgColor: rgb(37, 37, 37);
$fgColor: #fcfcf9;

$heroFontColor: rgb(26, 26, 26);
$fontColor: rgb(134, 133, 133);
$borderColor: #dde5ed;

$tmlColor: rgb(249, 38, 111);

$warningColor: #f53f46;
$primaryColor: #4a9ff1;
$secondaryColor: #ffdf4d;
$thirdColor: #26db6b;
$fourthColor: #ff6961;
$fifthColor: rgb(243, 166, 86);

$priceColor: #d65b00;

$fontFamily: 'Arial', sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;

$ribbonHeight: 50px;
$sidenavWidth: 200px;
$viewHeight: calc(100% - #{$ribbonHeight});

$padding: 10px;

$borderRadius: 10px;
