//react/components/EditCart/EditCart.scss
@import '../../styles/Constants';
.editCart {
  height: 100%;
  .name {
    padding: $padding*2;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
    font-family: $secondary-font;
    cursor: pointer;
    svg {
      height: 0.8em;
      width: 0.8em;
      position: relative;
      bottom: 2px;
    }
    .editText {
      font-size: 10px;
      text-transform: uppercase;
      position: relative;
      left: -15px;
      top: 20px;
    }
    input {
      font-family: $secondary-font;
      text-align: center;
      font-size: 30px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $border-color-light;
    }
  }
  .dangerzone {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding-top: $padding * 40;
    li {
      padding-top: $padding;
      p {
        width: 60%;
        float: left;
        clear: both;
      }
      button {
        float: right;
        display: inline;
      }
      h2 {
        clear: both;
      }
    }
    header {
      color: white;
      background: $fourth-button-color;
    }
  }
}

