<nav class="subnav">
<ul class="tab-group" ng-init="state = 'signup'">
		<li class="tab" ng-class="{'selected': state == 'signup'}" ng-click="state = 'signup'">
			<a class="tab-link">Sign Up</a>
		</li>
		<li class="tab" ng-class="{'selected': state == 'login'}" ng-click="state = 'login'">
			<a class="tab-link">Log in</a>
		</li>
</ul>
</nav>
<div class="surface">
<div ng-switch="state">
	<form ng-submit="userManager.signup.signup()" ng-switch-when="signup">
		<h3 style="margin: 0px 0px 20px 0px;">Sign Up For Bubbl.li!</h3>
		<hr class="nomargin">
		<input name="email" type="email" 
			placeholder="Email" class="auth-input" ng-model="userManager.signup.email" required />
		<input name="password" type="password"
			 placeholder="Password" class="auth-input" ng-model="userManager.signup.password">
		<input name="password2" type="password"
			 placeholder="Reenter Password" class="auth-input" ng-model="userManager.signup.password2">
		<button type="submit" class="auth-submit">Sign Up</button>
		<!-- @ifdef WEB -->
		<div class="text-center">or</div>
		
		<div class="btn-group btn-group-justified">
		  <div class="btn-group">
		    <button type="button" class="btn fb-btn" ng-click="go('auth/facebook')">
		    	<img src="img/icons/facebook-16.png" width="16px" height="16px"> Facebook</button>
		  </div>
		  <div class="btn-group">
		    <button type="button" class="btn twitter-btn" ng-click="go('auth/twitter')">
		    	<img src="img/icons/twitter-16.png" width="16px" height="16px"> Twitter</button>
		  </div>
		  <div class="btn-group">
		    <button type="button" class="btn meetup-btn" ng-click="go('auth/meetup')">
		    	<img src="img/icons/meetup-16.png" width="16px" height="16px"> Meetup</button>
		  </div>
		</div>
		<!-- @endif -->
		
		
	</form>
	<form ng-submit="userManager.login.login()" ng-switch-when="login">
		<input name="email" type="email" 
			placeholder="Email" class="auth-input" ng-model="userManager.login.email" required />
		<input name="password" type="password" 
			placeholder="Password" class="auth-input" ng-model="userManager.login.password">
		<button type="submit" class="auth-submit">Log In</button>
		<a if-href="#forgot">Forgot your password?</a>
		<!--@ifdef WEB -->
		<div class="text-center">or</div>
		
		<div class="btn-group btn-group-justified">
		  <div class="btn-group">
		    <button type="button" class="btn fb-btn" ng-click="go('auth/facebook')">
		    	<img src="img/icons/facebook-16.png" width="16px" height="16px"> Facebook</button>
		  </div>
		  <div class="btn-group">
		    <button type="button" class="btn twitter-btn" ng-click="go('auth/twitter')">
		    	<img src="img/icons/twitter-16.png" width="16px" height="16px"> Twitter</button>
		  </div>
		  <div class="btn-group">
		    <button type="button" class="btn meetup-btn" ng-click="go('auth/meetup')">
		    	<img src="img/icons/meetup-16.png" width="16px" height="16px"> Meetup</button>
		  </div>
		</div>
		<!-- @endif -->
	</form>
</div>
</div>