@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.search {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  margin: 10px 0 10px 30px;
  height: 30px;

  * {
    height: 100%;
  }

  input {
    width: calc(100% - #{$nav-height});
    border: 0;
    padding: 0 $padding;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
  }

  button {
    background: $mainColor;
    width: $nav-height;
    border: 0;
    border-radius: 0 5px 5px 0;
    padding: 5px 0px;

    svg {
      width: 100%;
      fill: white;
    }
  }

  .history {
    position: absolute;
    max-height: 200px;
    overflow: auto;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    left: 0;
    top: 27px;
    z-index: 100;
    box-shadow: $card-box-shadow;

    .history__term {
      border-top: 0;
      background: white;
      line-height: 30px;
      color: black;
      cursor: pointer;

      &:hover {
        background: darken(white, 10%);
      }

      .history__term-icon {
        display: inline-block;
        width: $nav-height;
        line-height: 30px;
        padding: 0 $padding;
      }

      .history__term-query {
        display: inline-block;
        width: calc(100% - #{$nav-height});
        text-align: left;
        padding: 0;
        line-height: 30px;

        p {
          font-size: 13px;
          line-height: 30px;
        }
      }
    }
  }
}