.custom__input
	border: 1px solid #e1e1e1;
	width: 75%;
	margin: 20px auto;

	.custom__input__field
		width: 75%;
		border: 0;
		padding: 10px;
		height: 50px;

	.custom__input__button
		cursor: pointer;
		width: 25%;
		border: 0;
		height: 100%;
		height: 50px;
		background: white;
		border-left: 1px solid #e3e3e3;