
.modal
	position: absolute;
	background: rgba(255,255,255,0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;

	.signIn
		width: 50%;
		margin: 0 auto;

		.signIn__input label
			display: block;
