@import '../../themes/constants';
@import '../../themes/animations';

.showcase {
	position: relative;
	text-align: center;
	background: mix(#fcfcf9, $primaryColor, 97%);
	border-top: 1px solid rgba(mix($bgColor, $primaryColor, 57%), 0.2);

	h2 {
		margin: 0 0 $padding;
		color: $primaryColor;
		font-size: 23px;
	}

	.showcase__details {
		display: inline-block;
		width: 50%;
		position: relative;
		padding: $padding*3 0;

		svg {
			width: 40%;
		}

		p {
			position: relative;
			white-space: normal;
			font-weight: 500;
			padding: $padding $padding*2;
			font-size: 15px;
		}

		&:first-of-type {
			border-right: 1px solid rgba(mix($bgColor, $primaryColor, 57%), 0.2);
		}

		button {
			color: rgba(mix($bgColor, $primaryColor, 25%), 0.8);
			border: 0;
			background: transparent;
			font-weight: bold;

			svg {
				width: auto;
			    vertical-align: text-top !important;
		        @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
			}

			&:hover {
				svg {
					transform: translate3d(5px,0,0);
				}
			}
		}
	}
}