@import '../../styles/Constants';
.add_to_amazon {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.add_to_amazon__button {
  height: 100%;
  width: 100%;
  background: transparent;
  color: #727272;
  border: 2px dashed $color-blue;
  cursor: text;
  text-align: left;
  font-size: $input-font-size;
  height: 50px;
  line-height: 49px;
  padding: 0 $padding;
}
