// react/components/AddAmazonItem/AddAmazonItem.scss

@import '../../styles/Constants';
.add_to_amazon {
  padding-top: $padding;
  font-size: 18px;
}

.add_to_amazon__button {
  height: 100%;
  width: 100%;
  background: white;
  color: rgb(114, 114, 114);
  border: 2px solid $border-color-light;
  border-radius: 3px;
  cursor: text;
  text-align: left;
  line-height: $nav-height - 4px;
  font-size: $input-font-size;
  height: $nav-height;
  padding: 0 $padding 0 0;
  text-align: left;
  overflow: hidden;
  svg {
    height: 100%;
    vertical-align: top !important;
    width: $nav-height/1.5;
    padding: $padding/1.5;
    color: rgba(114, 114, 114, 0.8);
  }
  &.yellow {
    background: $mainColor;
    color: #333;
    border: 2px solid $mainColor;
    cursor: pointer;
    text-align: center;
    margin-bottom: $padding;
  }
}

