@import '../../styles/Constants';
.add_to_amazon {
  padding-top: $padding;
  font-size: 18px;
}

.add_to_amazon__button {
  height: 100%;
  width: 100%;
  background: white;
  color: rgb(114,114,114);
  border: 2px dashed $color-blue;
  cursor: text;
  text-align: left;
  font-size: $input-font-size;
  height: 50px;
  padding: 0 $padding;
  border-radius: $padding;
  text-align: center;

  &.yellow {
    background: $main-button-color;
    color: #333;
    border: 2px solid $main-button-color;
  }
}
