// react/components/Share/Share.scss
@import '../../styles/Constants';
.share {
  position: relative;
  height: 100%;
  width: 100%;
  .share__message {
    height: 30%;
    width: 100%;
    border-bottom: 1px solid $border-color-light;
    padding: $padding*2;
    .share__message__imageText {
      display: table;
      height: 60%;
      width: 100%;
      .image {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 80%;
        width: 30%;
        margin: 0 5%;
        display: inline-block;
      }
      p {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 60%;
        font-size: 4vw;
        padding: 0;
        display: inline-block;
      }
    }
    .share__message__copy {
      height: 40%;
      width: 100%;
      .share__message__copy__input {
        height: $nav-height;
        line-height: $nav-height;
        width: 100%;
        border: 2px solid $border-color-light;
        padding: 0 0 0 $padding;
        input {
          display: inline-block;
          height: 100%;
          width: calc(100% - #{$nav-height});
          overflow: hidden;
          background: transparent;
          border: 0;
          text-overflow: ellipsis;
        }
        button {
          cursor: pointer;
          height: $nav-height - 4px;
          line-height: $nav-height - 4px;
          display: inline-block;
          width: $nav-height;
          padding: $padding/2;
          margin: 0;
          border: 0;
          background: transparent;
          p {
            width: 100%;
            height: $nav-height - 4px - $padding;
            line-height: $nav-height - 4px - $padding;
            border: 1px solid $border-color-light;
            background: #eae7e4;
          }
        }
      }
    }
  }
  .share__icons {
    height: 50%;
    width: 100%;
    padding: 0 $padding*2;
    .share__icons__icon {
      position: relative;
      display: inline-block;
      width: 33%;
      height: 45%;
      padding: $padding*3 0 0;
      svg {
        display: block;
        max-width: 50px;
        margin: 0 auto;
        width: 100%;
        height: calc(100% - 25px);
      }
      label {
        height: 25px;
        line-height: 25px;
        font-size: 13px;
      }
    }
  }
}

