<ul class="world-sq-container">
	<li class="col-xs-12" ng-show="fromMeetup">
		<div class="meetup-well well">
			<span ng-show="waitingforMeetup">We're pulling in your Meetups, this might take some time <img width="50" height="50" src="img/IF/718.gif"></span>
			<span ng-if="worlds.length > 0">We found your Meetups! Start customizing them below:</span>
			<span ng-if="worlds.length <= 0">Welcome to Bubbl.li! We couldn't find any of your Meetups, check back later. Or, create a new bubble ---> </span>
		</div>
	</li>
	<div class="clearfix"></div>
	<li>
	<div class="profile-add-new" ng-click="newWorld()">
		<div class="profile-add-new-plus">+</div>
		<span>Create New Bubble</span>
	</div>
	</li>
	<li>
	<ul class="bubble-list">
		<li class="bubble-list-item" ng-repeat="world in ::worlds track by world._id" ng-click="$parent.selected = world" ng-class="{'selected': selected == world}">
			<span>{{::world.name}}</span>
		</li>
	</ul>
	</li>
</ul>
<div class="bubble-inspector" ng-class="{'selected': selected}">
	<div class="bubble-inspector-wrap">
	<header class="bubble-inspector-header">
		<a ng-href="/w/{{selected.id}}" class="bubble-inspector-title">{{selected.name}}</a>
	</header>
	<img class="bubble-inspector-avatar" ng-src="{{selected.avatar}}">
	<div class="bubble-inspector-info">
		<a class="bubble-inspector-btn" style="float:left;" ng-href="/w/{{selected.id}}">View</a>
		<a class="bubble-inspector-btn" style="float:right;" ng-href="/edit/w/{{selected.id}}">Edit</a>
	</div>
	</div>
</div>