// react/components/Header/Header.scss
@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.navbar {
  position: relative;
  display: block;
  height: $nav-height;
  line-height: $nav-height;
  font-family: 'Raleway';
  text-align: left;
  background: $secondaryColor;
  color: white;
  width: 100%;
  z-index: 100;


  @media (max-width: 600px) {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .search {
    background: white;
    border-radius: 5px;
    @media only screen and (max-width: 600px) {
      // display: none;
      margin: 7px -2px;

    }
  }

  span {
    display: flex;
  }

  .header__left {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    white-space: nowrap;
    display: flex;

    @media only screen and (max-width: 600px) {
      padding: 0 0 0 $padding;
    }

    a {
      display: inline-block;

      &:first-of-type {
        padding-left: 20px;
      }

      @media only screen and (max-width: 600px) {
        &:first-of-type {
          padding-left: 0;
        }
      }
      .desktop {
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
      .mobile {
        width: 30px;
        margin: 0;
        height: 30px;
        margin: $padding $padding 0 0;
        @media only screen and (min-width: 600px) {
          display: none;
        }
      }
    }

    .navbar__icon {
      display: inline-block;
      width: auto;
      min-width: 50px;
      text-align: center;
      cursor: pointer;
      position: relative;

      svg {
        height: 100%;
        vertical-align: top !important;
      }
    }

    .image {
      display: inline-block;
      margin: 10px 0;
      height: 35px;
      width: 90px;
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .members {
      position: absolute;
      height: 25px;
      line-height: 25px;
      bottom: 0;
      left: 50px;
      font-size: 10px;
    }

    h3 {
      display: inline-block;
      white-space: nowrap;
      height: 50px;
      line-height: 50px;
      font-size: 27px;

      @media (min-width: 900px) {
        width: calc(100% - 50px);
      }
    }

    .bounce {
      @include animation(bounceDownSmall 1.5s);

      animation-iteration-count: 2; // too much twitching
   
    }

    .navbar__modal__head {
      flex: 1 1 auto;

      &.settings {
        padding: 0 ($padding * 2) 0 0;

        .header__left {
          a {
            @media only screen and (max-width: 600px) {
              display: inline-block;
            }
          }
        }
      }

      svg {
        font-size: 20px;
        vertical-align: top !important;
        line-height: $nav-height;
        height: $nav-height;
        margin-right: $padding / 2;
      }

      span {
        font-size: 14px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .header__right {
    height: $nav-height;
    text-align: right;
    padding: 0 ($padding * 3);

    @media only screen and (max-width: 600px) {
      width: $nav-height;
      text-align: center;
      padding: 0;
    }

    p {
      display: inline-block;
      padding: 0;
      line-height: 50px;
      font-weight: bold;
      margin-right: $padding;
      cursor: pointer;

      span {
        border-bottom: 3px solid $mainColor;
      }

      &.name {
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }

    a {
      border-bottom: 3px solid $mainColor;
    }

    .navbar__icon {
      display: inline-block;
      height: $nav-height;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        vertical-align: top !important;
        height: 100%;
      }
    }
  }

  .settings {
    background: white;

    .header__left {
      color: #333;

      a {
        display: inline-block;
      }

      h3 {
        svg {
          padding: $padding / 2;
        }
      }

      text-align: center;
    }

    .header__right {
      color: #333;

      svg {
        fill: #333;
      }
    }
  }

  .navbar__icon__close {
    position: relative;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    height: $nav-height;
    width: $nav-height;
    align-self: flex-start;

    svg {
      height: 100%;
    }
  }

  .no-pointer {
    cursor: default;
  }
}
