@import '../../themes/constants';
@import '../../themes/animations';
.Help {
  position: relative;
  text-align: center;
  padding: 0;
  z-index: 1;
  .action {
    padding: $padding*2 0 $padding*2;
    @media only screen and (max-width: 600px) {
      padding: $padding*2 0 0;
    }
    button {
      border: 0;
      font-weight: bold;
      border-radius: $padding/2;
      background: white;
      padding: $padding $padding*4;
      font-size: 20px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
      @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
      &:hover {
        svg {
          transform: translate3d(5px, 0, 0)
        }
      }
      svg {
        fill: white;
        height: 25px;
        width: 25px;
        padding: 0;
        @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
        @media only screen and (max-width: 600px) {
          height: 20px;
        }
      }
      &:focus {
        @include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
      }
      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
    a {
      &:first-of-type {
        button {
          margin-right: $padding*2;
          background: $warningColor;
          color: white;
          @media only screen and (max-width: 600px) {
            margin: 0 0 $padding*2;
            padding: $padding $padding*2;
          }
        }
      }
    }
  }
  .tutorial {
    position: relative;
    text-align: center;
    background: mix(white, $secondaryColor, 85%);
    padding: $padding $padding*2;
    overflow: hidden;
    &.primary {
      background: mix(white, $primaryColor, 85%);
    }
    &.secondary {
      background: mix(white, $secondaryColor, 85%);
    }
    &.third {
      background: mix(white, $thirdColor, 85%);
    }
    @media only screen and (max-width: 870px) {
      height: 560px;
    }
    .services__navigation {
      h2 {
        color: rgba($bgColor, 0.7);
        display: inline-block;
        font-size: 18px;
        width: 220px;
        opacity: 0.5;
        background: white;
        padding: $padding;
        margin: 0 $padding*2 $padding*3;
        border-radius: $padding/2;
        cursor: pointer;
        &.selected {
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          opacity: 1;
        }
        .primary {
          color: $primaryColor;
        }
        .secondary {
          color: $secondaryColor;
        }
        .third {
          color: $thirdColor;
        }
      }
      ul {
        @media only screen and (max-width: 870px) {
          position: absolute;
          left: 10px;
          top: 30%;
        }
        li {
          display: inline-block;
          @media only screen and (max-width: 870px) {
            display: block;
            h2 {
              width: 50px;
              border-radius: 40px;
              .stepText {
                display: none;
              }
            }
          }
        }
      }
    }
    .tutorial__slideshow {
      padding: 0 $padding*5;
      @media only screen and (max-width: 870px) {
        text-align: center;
      }
      .image {
        position: relative;
        height: 560px;
        display: inline-block;
        width: 280px;
        background: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        .bubble {
          position: absolute;
          left: -100%;
          top: 20%;
          width: 250px;
          white-space: normal;
          background: white;
          padding: $padding*2;
          border-radius: $padding;
          @media only screen and (max-width: 870px) {
            top: -150px;
            left: 0;
            width: 180px;
          }
          p {
            font-size: 18px;
            color: $bgColor;
            text-align: left;
            font-weight: bold;
            @media only screen and (max-width: 870px) {
              font-size: 12px;
            }
          }
          &:after {
            content: '';
            position: absolute;
            right: -20px;
            bottom: 35%;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 20px solid;
            transform: rotate(180deg);
            @media only screen and (max-width: 870px) {
              right: 75px;
              bottom: -30px;
              transform: rotate(-90deg);
            }
          }
        }
        &.primary {
          color: mix(white, $primaryColor, 35%);
          .bubble {
            border: 3px solid mix(white, $primaryColor, 35%);
          }
        }
        &.secondary {
          color: mix(white, $secondaryColor, 35%);
          .bubble {
            border: 3px solid mix(white, $secondaryColor, 35%);
            ;
          }
        }
        &.third {
          color: mix(white, $thirdColor, 35%);
          .bubble {
            border: 3px solid mix(white, $thirdColor, 35%);
          }
        }
        @media only screen and (max-width: 870px) {
          top: 150px;
          height: 360px;
          width: 180px;
        }
      }
      span {
        white-space: nowrap;
        display: inline-block;
      }
      .slide-enter {
        @include animation(fadeAndSlideInRight cubic-bezier(0.4, 0, 0.2, 1) 0.66s);
      }
      .slide-leave {
        @include animation(fadeAndSlideOutLeft cubic-bezier(0.4, 0, 0.2, 1) 0.66s);
      }
    }
  }
  .FAQ {
    position: relative;
    text-align: left;
    background: transparent;
    padding: $padding*10 $padding*5;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    @media only screen and (max-width: 600px) {
      padding: $padding*10 $padding*3;
    }
    h1 {
      position: relative;
      display: inline-block;
      line-height: $ribbonHeight;
      font-size: 30px;
      padding: $padding 0;
      border-radius: 5px;
      color: $bgColor;
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          height: 3px;
          width: 100%;
          left: 0;
          bottom: -3px;
          border-radius: 500px;
          background: $primaryColor;
          @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
        }
      }
      @media only screen and (max-width: 600px) {
        line-height: 30px;
        font-size: 20px;
      }
    }
    .subtext {
      font-size: 17px;
      margin-bottom: $padding*2;
      span {
        color: rgba($bgColor, 0.6);
        font-size: 17px;
        font-weight: 100;
        margin-right: $padding;
        &:after {
          content: '❄';
          position: relative;
          right: -5px;
        }
        &:last-of-type {
          &:after {
            content: '';
          }
        }
        @media only screen and (max-width: 600px) {
          font-size: 14px;
        }
      }
    }
    .question {
      z-index: 1;
      background: white;
      padding: $padding $padding*2 $padding*2;
      p {
        font-size: 14px;
      }
      a {
        color: $primaryColor;
      }
      &:last-of-type {
        border-radius: 5px;
      }
    }
  }
}

@keyframes fadeAndSlideInRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(50%, 0, 0);
  }
}

@keyframes fadeAndSlideOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

