// react/styles/Animations.scss
// Fade in and animate up
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scrollInLeft {
  0% {
    transform: translate3d(200px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}


@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeInDownShort {
  0% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fallOutDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 223, 77, 1);
  }

  70% {
    box-shadow: 0 0 0 30px rgba(255, 223, 77, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 223, 77, 0);
  }
}

@keyframes bounceDownSmall {
  0%, 20%, 50%, 80%, 100% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    transform: translate3d(0, 5px, 0);
  }

  60% {
    transform: translate3d(0, 2.5px, 0);
  }
}

@keyframes bounceDownSmallRotate {
  0%, 20%, 50%, 80%, 100% {
    transform: translate3d(0, 0, 0) rotate(180deg);
  }

  40% {
    transform: translate3d(0, 5px, 0) rotate(180deg);
  }

  60% {
    transform: translate3d(0, 2.5px, 0) rotate(180deg);
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

@keyframes progressBar {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes growHeight {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(100%);
  }
}

@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
