
<!-- INDEX CARD -->
<span ng-switch="landmark.subType">


  <span ng-switch-when="lecture">
    <div class="row index_card lecture_index" onclick="shelfPan('full');" ng-click="refreshMap();">
      <div class="col-lg-12">
        <img src="img/AICP/AICP_week_logo.svg" class="img-responsive index-logo" alt="2014 AICP WEEK">
        
        <h1>{{landmark.name}}</h1>
        <span ng-show="landmark.time.start"><h2>{{landmark.time.start | date:'MMMM d h:mm a'}} - {{landmark.time.end | date:'h:mm a'}}</h2></span>
        <h3>{{landmark.loc_nickname}}</h3>
      </div>
    </div>
  </span>


  <span ng-switch-when="award">
    <div class="row index_card award_index" onclick="shelfPan('full');" ng-click="refreshMap();">
      <div class="col-lg-12">
        <img src="img/AICP/AICP_week_logo.svg" class="img-responsive index-logo" alt="2014 AICP WEEK">
        
        <h1>{{landmark.name}}</h1>
        <span ng-show="landmark.time.start"><h2>{{landmark.time.start | date:'MMMM d h:mm a'}} - {{landmark.time.end | date:'h:mm a'}}</h2></span>
        <h3>{{landmark.loc_nickname}}</h3>
      </div>
    </div>
  </span>


  <span ng-switch-default>
    <div class="row index_card show_index" onclick="shelfPan('full');" ng-click="refreshMap(); showMapNav();">
      <div class="col-lg-12">
        <img src="img/AICP/AICP_week_logo.svg" class="img-responsive index-logo" alt="2014 AICP WEEK">
        
        <h1>{{landmark.name}}</h1>
        <span ng-show="landmark.time.start"><h2>{{landmark.time.start | date:'MMMM d h:mm a'}} - {{landmark.time.end | date:'h:mm a'}}</h2></span>
        <h3>{{landmark.loc_nickname}}</h3>
      </div>
    </div>
  </span>


</span>





<div class="landmark-detail">
<!--   <span ng-hide="option == 'new' "><button class="btn" ng-click="goBack()">< BACK </button></span>
 -->  <span ng-show="option == 'new' "><button class="btn" ng-click="edit()"> EDIT <i class="fui-new"></i></button></span>


<!--   <img ng-src="{{mainImageUrl}}" class="landmark" style="width:90px; height:90px;">
 -->

    <!-- 4 COL CARDS -->
    <div class="row 4-col">
          <div class="col-xs-12">

            <div class="row">
              <!-- HAPPENING NOW -->
              <div class="col-xs-12 card">
                <h1><!-- Happening Now --></h1>
                <div class="container">
     
                  <p class="title" style="">{{landmark.description}}</p>
                  <br>
                  <span ng-show="landmark.people"><p class="title" style="font-size:1.8rem; color:black; padding:0px;">Presenters</p></span>
                  <br>
                  <p class="title" style="">{{landmark.people}}</p>
                  <br>


                </div>
                <!-- <div class="footer">MORE ></div> -->
              </div>

          </div>
        </div>
    </div>


  <ul class="feed" style="padding-left:5px; padding-right:5px;">
        <li ng-repeat="tweet in tweets| filter:query | orderBy:orderProp" class="thumbnail" style="padding-bottom:10px; border:0px;">
          <a ng-href="#/{{tweet.id}}" class="thumb"><img ng-src="{{tweet.user.profile_image_url}}"></a>
          <h4 style="color:#63b3fb;">{{tweet.user.name}}</h4>
          <p style="opacity:0.7; color:#63b3fb;">@{{tweet.user.screen_name}}</a>
          <!-- <p ng-bind-html-unsafe="tweet.text | hashtag"></p> -->
          <p style="color:#929292;">{{tweet.text}}</p>

         <a ng-href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.tweetID_str}}"><p style="font-size:12px;">{{tweet.created | date:'h:mm a EEEE d MMMM'}}</p></a>

            <div ng-switch on = "tweet.media.media_type">
               <span ng-switch-when="image"> <img src="{{tweet.media.media_url}}" width="250px"> </span>
               <span ng-switch-when="vine"> <p><iframe src="{{tweet.media.media_url}}/card" width="250px" height="250px" frameborder="0"></iframe></p> </span>
               <span ng-switch-when="youtube"> <iframe width="250px" src="{{tweet.media.media_url}}" frameborder="0" allowFullScreen></iframe></span>
               <span ng-switch-when="instagram"><img src="{{tweet.media.media_url}}media/?size=t" width="250px"> </span>
               <span ng-switch-when="tumblr"><img src="{{tweet.media.media_url}}" width="250px"> </span>
               <span ng-switch-default></span>
             </div>
        </li>  
  </ul>

    <div id="gapfill" style="height:900px;"></div>

</div>





