
<!-- INDEX CARD -->
<span ng-switch="landmark.subType">


  <span ng-switch-when="lecture">
    <div class="row index_card lecture_index" onclick="shelfPan('full');" ng-click="refreshMap();">
      <div class="col-lg-12">
        <img src="img/AICP/AICP_week_logo.svg" class="img-responsive index-logo" alt="2014 AICP WEEK">
        
        <h1>{{landmark.name}}</h1>
        <span ng-show="landmark.time.start"><h2>{{landmark.time.start | date:'MMMM d h:mm a'}} - {{landmark.time.end | date:'h:mm a'}}</h2></span>
        <h3>{{landmark.loc_nickname}}</h3>
      </div>
    </div>
  </span>


  <span ng-switch-when="award">
    <div class="row index_card award_index" onclick="shelfPan('full');" ng-click="refreshMap();">
      <div class="col-lg-12">
        <img src="img/AICP/AICP_week_logo.svg" class="img-responsive index-logo" alt="2014 AICP WEEK">
        
        <h1>{{landmark.name}}</h1>
        <span ng-show="landmark.time.start"><h2>{{landmark.time.start | date:'MMMM d h:mm a'}} - {{landmark.time.end | date:'h:mm a'}}</h2></span>
        <h3>{{landmark.loc_nickname}}</h3>
      </div>
    </div>
  </span>


  <span ng-switch-default>
    <div class="row index_card show_index" onclick="shelfPan('full');" ng-click="refreshMap(); showMapNav();">
      <div class="col-lg-12">
        <img src="img/AICP/AICP_week_logo.svg" class="img-responsive index-logo" alt="2014 AICP WEEK">
        
        <h1>{{landmark.name}}</h1>
        <span ng-show="landmark.time.start"><h2>{{landmark.time.start | date:'MMMM d h:mm a'}} - {{landmark.time.end | date:'h:mm a'}}</h2></span>
        <h3>{{landmark.loc_nickname}}</h3>
      </div>
    </div>
  </span>


</span>





<div class="landmark-detail">
<!--   <span ng-hide="option == 'new' "><button class="btn" ng-click="goBack()">< BACK </button></span>
 -->  <span ng-show="option == 'new' "><button class="btn" ng-click="edit()"> EDIT <i class="fui-new"></i></button></span>


<!--   <img ng-src="{{mainImageUrl}}" class="landmark" style="width:90px; height:90px;">
 -->

    <!-- 4 COL CARDS -->
    <div class="row 4-col">
          <div class="col-xs-12">

            <div class="row">
              <!-- HAPPENING NOW -->
              <div class="col-xs-12 card">
                <h1><!-- Happening Now --></h1>
                <div class="container">
                  

                  <span ng-show="landmark.extraURL"><a target="_blank" href="{{landmark.extraURL}}"><p class="title" style="font-size:1.8rem;">Flickr Links</p></a> <br></span>

                  <p class="title" style="">{{landmark.description}}</p>
                  <br>

                  <span ng-show="landmark.people"><p class="title" style="font-size:1.8rem; color:black; padding:0px;">Presenters</p></span>
                  <br>

                  <span ng-hide="lectureHeadshots || businessBootcamp"><p class="title" style="">{{landmark.people}}</p></span>

                  <span ng-show="lectureHeadshots">

                    <div class="director"><img ng-src="img/AICP/directors/Ringan_Ledwidge.jpg"><p class="title">Ringan Ledwidge [Rattling Stick]</p></div>
                    <br>
                    <div class="director"><img ng-src="img/AICP/directors/Murro_DGA_DSC3920.jpg"><p class="title">Noam Murro [Biscuit Filmworks]</p></div>
                    <br>
                    <div class="director"><img ng-src="img/AICP/directors/Keith_Schofield_Headshot.jpg"><p class="title">Keith Schofield  [Caviar]</p></div>
                  </span>

                  <span ng-show="businessBootcamp">


                          <!-- 4 COL CARDS -->
                      <div class="row 4-col">
                            <div class="col-xs-12">

                              <div class="row">
                                <!-- HAPPENING NOW -->
                                <div class="col-xs-12 card">
                               
                               

                                    <div class="container more">
                                      <div class="header">8:30 AM <span class="pull-right">BASECAMP</span></div>
                                      
                                      <span class="pull-right"><img width="110" src="img/AICP/AICP_bootcamp_logo.svg"></span>
                                      <p class="title">Breakfast</p>

                                      <div class="header">9:15 AM</div>
                                      <p class="title">Leo Burnett Best Practices</p>

                                      <div class="header">10:15 AM</div>
                                      <p class="title">Production Insurance</p>

                                      <div class="header">11:15 AM</div>
                                      <p class="title">Legal Issues</p>

                                    </div>

                                 
                                  <div class="footer show-footer"></div>
                                </div>

                            </div>
                           

                          </div>
                      </div>
    


                  </span>

                  <br>


                </div>
                <!-- <div class="footer">MORE ></div> -->
              </div>

          </div>
        </div>
    </div>


    <div id="gapfill" style="height:900px;"></div>

</div>





