<!-- 

<div id="index_card" onclick="shelfPan('full');" > 
  <div style="position:absolute; margin-left:93px; margin-top:10px; color:#0f0f0e;">
    <h2> {{landmark.name}} </h2>
    <h4> {{landmark.subType}} </h4>
  </div>

  <img style="max-width:100%;" src="img/demo/aicp_index_detail.png">
  
</div>  
 -->

<!-- INDEX CARD -->
<div class="row index_card lecture_index" onclick="shelfPan('full');" ng-click="refreshMap();">
  <div class="col-lg-12">
    <img src="img/AICP/AICP_week_logo.svg" class="img-responsive index-logo" alt="2014 AICP WEEK">
    
    <h1>{{landmark.name}}</h1>
    <span ng-show="landmark.time.start"><h2>{{landmark.time.start | date:'MMMM d h:mm a'}} - {{landmark.time.end | date:'h:mm a'}}</h2></span>
    <h3>{{landmark.loc_nickname}}</h3>
  </div>
</div>





<div class="landmark-detail">
  <span ng-hide="option == 'new' "><button class="btn" ng-click="goBack()">< BACK </button></span>
  <span ng-show="option == 'new' "><button class="btn" ng-click="edit()"> EDIT <i class="fui-new"></i></button></span>

  <br>
  <br>
<!--   <img ng-src="{{mainImageUrl}}" class="landmark" style="width:90px; height:90px;">
 -->

       <!-- 4 COL CARDS -->
    <div class="row 4-col">
          <div class="col-xs-12">

            <div class="row">
              <!-- HAPPENING NOW -->
              <div class="col-xs-12 card">
                <h1><!-- Happening Now --></h1>
                <div class="container">
                  <!-- <div class="header">11:30 <span class="pull-right">ROOM A</span></div> -->
                  
                  <!-- <p class="content">Lorem Ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                  <img src="img/icons/food.png"><span class="pull-right"><img width="222" src="img/AICP/food_sample.jpg"></span>
                  <p class="title">AWARDS MENU</p>
                </div>
                <!-- <div class="footer">MORE ></div> -->
              </div>

          </div>
        </div>
    </div>

  <span ng-show="landmark.tags"> <h4>#{{landmark.tags}} </h4></span>


 <br>
  <p>{{landmark.subType}}</p> 

<!--   <p>{{landmark.shortDescription}}</p> -->

  <p>{{landmark.description}}</p>

<ul class="specs">


 <span ng-show="landmark.time.start">
  <li>
    <dl>
      <dt style="color:grey;">Starts </dt>
      <dt>{{landmark.time.start | date:'EEEE MMMM d h:mm a'}}</dt>
      <dt style="color:grey;">Ends: </dt>
      <dt>{{landmark.time.end | date:'EEEE MMMM d h:mm a'}}</dt>
    </dl>
  </li>
</span>



<!-- <hr> -->
  
</ul>

  <ul class="feed" style="padding-left:5px; padding-right:5px;">
        <li ng-repeat="tweet in tweets| filter:query | orderBy:orderProp" class="thumbnail" style="padding-bottom:10px; border:0px;">
          <a ng-href="#/{{tweet.id}}" class="thumb"><img ng-src="{{tweet.user.profile_image_url}}"></a>
          <h4 style="color:#63b3fb;">{{tweet.user.name}}</h4>
          <p style="opacity:0.7; color:#63b3fb;">@{{tweet.user.screen_name}}</a>
          <!-- <p ng-bind-html-unsafe="tweet.text | hashtag"></p> -->
          <p style="color:#929292;">{{tweet.text}}</p>

         <a ng-href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.tweetID_str}}"><p style="font-size:12px;">{{tweet.created | date:'h:mm a EEEE d MMMM'}}</p></a>

            <div ng-switch on = "tweet.media.media_type">
               <span ng-switch-when="image"> <img src="{{tweet.media.media_url}}" width="250px"> </span>
               <span ng-switch-when="vine"> <p><iframe src="{{tweet.media.media_url}}/card" width="250px" height="250px" frameborder="0"></iframe></p> </span>
               <span ng-switch-when="youtube"> <iframe width="250px" src="{{tweet.media.media_url}}" frameborder="0" allowFullScreen></iframe></span>
               <span ng-switch-when="instagram"><img src="{{tweet.media.media_url}}media/?size=t" width="250px"> </span>
               <span ng-switch-when="tumblr"><img src="{{tweet.media.media_url}}" width="250px"> </span>
               <span ng-switch-default></span>
             </div>
        </li>  

        <!-- <li ng-show="!tweets.length"> No tweets from #{{currentTag}} yet </li> -->

     </ul>

    <div id="gapfill" style="height:900px;"></div>

</div>





