
      <!-- INDEX CARD -->
    <div class="row index_card lecture_index" onclick="shelfPan('full');" ng-click="refreshMap();">
      <div class="col-lg-12">
        <img src="img/AICP/AICP_week_logo.svg" class="img-responsive" alt="2014 AICP WEEK">
        
        <h1>DIRECTORS LECTURE SERIES</h1>
        <h2>WEDNESDAY, JUNE 11</h2>
        <h3>BASECAMP & MoMA</h3>
      </div>
    </div>


      <!-- 2 COL CARDS -->
        <div class="row">
          <!-- HAPPENING NOW -->
          <div class="col-xs-6 card col-card-2">
            <h1>Happening Now</h1>
            <div class="container" >
              <div class="header">9:30 AM<span class="pull-right">BASECAMP</span></div>
              <p class="title">AICP DIGITAL PRESENTS</p>
              <p class="content">Best Practices For Doing Business in Digital Production</p>
            </div>
            <!-- <div class="footer">MORE ></div> -->
          </div>

          <!-- UP NEXT -->
          <div class="col-xs-6 card 2col">
            <h1>Upcoming</h1>
            <div class="container more" >
              <div class="header">10:30 AM <span class="pull-right">BASECAMP</span></div>
              <p class="title">AICP DIGITAL PRESENTS</p>
              <p class="content">DAM! Confronting The Issues In Digital Asset Management</p>
            </div>
            <div class="footer lecture-footer">MORE <span class="typcn typcn-th-list"></span></div>
          </div>

        </div>



      <!-- 2 COL CARDS -->
        <div class="row">
          <!-- HAPPENING NOW -->
          <div class="col-xs-6 card col-card-2">
            <h1>This Afternoon</h1>
            <div class="container" >
              <div class="header">9:30 AM<span class="pull-right">BASECAMP</span></div>
              <p class="title">AICP DIGITAL PRESENTS</p>
              <p class="content">Best Practices For Doing Business in Digital Production</p>
            </div>
            <!-- <div class="footer">MORE ></div> -->
          </div>

          <!-- UP NEXT -->
          <div class="col-xs-6 card 2col">
            <h1>..</h1>
            <div class="container more" >
              <div class="header">10:30 AM <span class="pull-right">BASECAMP</span></div>
              <p class="title">AICP DIGITAL PRESENTS</p>
              <p class="content">DAM! Confronting The Issues In Digital Asset Management</p>
            </div>
            <div class="footer lecture-footer">MORE <span class="typcn typcn-th-list"></span></div>
          </div>

        </div>



      <!-- 4 COL CARDS -->
    <div class="row 4-col">
          <div class="col-xs-12">

            <div class="row">
              <!-- HAPPENING NOW -->
              <div class="col-xs-12 card">
                <h1><!-- Happening Now --></h1>
                <div class="container">
                  <!-- <div class="header">11:30 <span class="pull-right">ROOM A</span></div> -->
                  
                  <!-- <p class="content">Lorem Ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                  <img src="img/icons/food.png"><span class="pull-right"><img width="222" src="img/AICP/food_sample.jpg"></span>
                  <p class="title">AWARDS MENU</p>
                </div>
                <!-- <div class="footer">MORE ></div> -->
              </div>

          </div>
        </div>
    </div>

    <div class="row">

          <!-- TWITTER -->
          <div class="col-xs-6 card 2-col social twitter">
            <h1>Twitter</h1>
            <div class="container more">
              <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
              <span class="watermark typcn typcn-social-twitter"></span>
            </div>
            <div class="footer lecture-footer">@username <span class="typcn typcn-export pull-right"><span></div>
          </div>

          <!-- INSTAGRAM -->
          <div class="col-xs-6 card 2-col social instagram">
            <h1>Instagram</h1>
            <div class="container more">
              <p class="content"><img src="img/instagram.jpg" width="100%"></p>
              <span class="watermark typcn typcn-social-instagram"></span>
            </div>
            <div class="footer lecture-footer">@username <span class="typcn typcn-export pull-right"><span></div>
          </div>

    </div>


    <!-- FOOTER -->
      <div class="row">
        
        <div class="card">
          <h1>AICP PARTNERS</h1>
        </div>
         
          <div class="col-xs-6 card col-card-2">
            
              <img class="partner" src="img/AICP/partners/caps.png">
              <img class="partner" src="img/AICP/partners/prosight.png">
              <br><br>
              <img class="partner" src="img/AICP/partners/universal.png">

          </div>
      
          <div class="col-xs-6 card 2col">

              <img class="partner" src="img/AICP/partners/deluxe.png">
              <br><br>
              <img class="partner" src="img/AICP/partners/shutterstock.png">

          </div>

      </div>

    <div class="row 4-col">
          <div class="col-xs-12">

            <div class="row">
              <!-- HAPPENING NOW -->
              <div class="col-xs-12 card" style="margin:0 auto; width:100%;">
                    
                    <h1>AICP SHOW ARCHIVES</h1>

                    <img width="73" src="img/AICP/partners/aicp.png">
                    <br>
                    <a href="http://www.aicpawards.com" style="text-decoration:none;" target="_blank"><h1 class="title" style=" color:#3dc0fe;">aicpawards.com</h1>

              </div>

          </div>
        </div>
    </div>


    <!-- ////////////////////// -->


<div ng-show="none">

  <!-- Happening Now -->
  <ul class="landmarks">
    <!--Looping through data-->
    <li ng-repeat="landmark in landmarksNow | limitTo:1 | filter:query | orderBy:orderProp" class="thumbnail"  style="padding-bottom:20px; border:0px;" >  
        <a ng-href="#/landmark/{{landmark.id}}" class="thumb"><img ng-src="{{landmark.stats.avatar}}"></a> 
        <h4><a ng-href="#/landmark/{{landmark.id}}" style="color:#63b3fb; text-decoration: none;">{{landmark.name}}</a></h4>
        <p style="color:#929292;">{{landmark.shortDescription}}</p>
        <p style="font-size:12px;"><strong> {{landmark.time.start | date:'h:mm a EEEE d MMMM'}} </strong> </p>
    </li>
  </ul>


  <!-- Upcoming -->
  <ul class="landmarks">
    <!--Looping through data-->
    <li ng-repeat="landmark in landmarksUpcoming | limitTo:upcomingLimit | filter:query | orderBy:orderProp" class="thumbnail"  style="padding-bottom:20px; border:0px;" >  
        <a ng-href="#/landmark/{{landmark.id}}" class="thumb"><img ng-src="{{landmark.stats.avatar}}"></a> 
        <h4><a ng-href="#/landmark/{{landmark.id}}" style="color:#63b3fb; text-decoration: none;">{{landmark.name}}</a></h4>
        <p style="color:#929292;">{{landmark.shortDescription}}</p>
        <p style="font-size:12px;"><strong> {{landmark.time.start | date:'h:mm a EEEE d MMMM'}} </strong> </p>
    </li>
  </ul>

  <!-- Happened -->
  <ul class="landmarks">
    <!--Looping through data-->
    <li ng-repeat="landmark in landmarksHappened | limitTo:upcomingLimit | filter:query | orderBy:orderProp" class="thumbnail"  style="padding-bottom:20px; border:0px;" >  
        <a ng-href="#/landmark/{{landmark.id}}" class="thumb"><img ng-src="{{landmark.stats.avatar}}"></a> 
        <h4><a ng-href="#/landmark/{{landmark.id}}" style="color:#63b3fb; text-decoration: none;">{{landmark.name}}</a></h4>
        <p style="color:#929292;">{{landmark.shortDescription}}</p>
        <p style="font-size:12px;"><strong> {{landmark.time.start | date:'h:mm a EEEE d MMMM'}} </strong> </p>
    </li>
  </ul>

</div>





