
  <span ng-hide="option == 'new' "><button class="btn backbtn" ng-click="goBack()">< BACK </button></span>



  <!-- 2 COL CARDS -->
    <div class="row" id="card-container">

        <div class="iso-card card" ng-repeat="landmark in landmarksList" my-post-repeat-directive> 
            <a ng-href="#/post/{{landmark.id}}">
              <div class="container">
                <div class="header">{{landmark.time.start | date:'h:mm a'}}<span class="pull-right">{{landmark.loc_nickname}}</span></div>
                <p class="title">{{landmark.name}}</p>
                <p class="content">{{landmark.shortDescription}}</p>
              </div>
            </a>

          </div>

    </div>




    <div id="gapfill" style="height:900px;"></div>

<style type="text/css" media="screen">
  .iso-card{width: 50%;}
</style>


