<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Kip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>
    <link href="normalize.css" rel="stylesheet" type="text/css"/>
    <link href="skeleton.css" rel="stylesheet" type="text/css"/>
    <link href="simpleSearch.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">
    
    <div class="row">
      <br><br><br><br>
        <h1 class="u-full-width u-textAlignCenter">Kip Logo<h1>
        <h6 class="u-full-width u-textAlignCenter">Search for things in IRL stores around you</h6>
    </div>
    <div class="row">
        <div class="four columns u-centered">
            <form class="u-full-width">
                <input id="query" name="query" type="text"
                       placeholder="What are you looking for?"
                       class="u-full-width"/>
                <input
                  type="submit" value="Search" class="u-full-width color-Positive"/></form>
            </form>
        </div>
    </div>

    <div class="row">
      <br><br><br><br>
      <h6 class="u-full-width u-textAlignCenter" >Have something to sell? <br> Add your own items to search, by location (link to Kip in iOS/android) WIP/!\</h6>
    </div>
</div>
<script src="zepto.min.js"></script>
<script src="simpleSearch.js"></script>
</body>
</html>