<!-- views/pages/cart.ejs -->
<!-- Used to render react -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- Kip favicon & meta stuff -->
  <link rel="icon" href="/favicon/favicon.ico?" type="image/x-icon">
  <meta name="description" content="Kip">
  <meta name="author" content="Kip">
  <meta property="og:site_name" content="Kip" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Kip Cart" />
  <meta property="og:description" content="Shared Kip Cart" />
  <meta property="og:image" content="/favicon/social_image_main.png" />
  <!-- end Kip stuff -->

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Origin Trial Token, feature = Web Share, origin = https://30058bc0.ngrok.io, expires = 2017-04-17 -->
	<meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-04-17" content="AuDmjphrfuMiUrQtRHP3wL0iqbK4atEiA7HDaBAHZ/vR5zlKNdTxYuIXkqJrbKpa8fodc+/izMBwDejuU0FjCgkAAABmeyJvcmlnaW4iOiJodHRwczovLzMwMDU4YmMwLm5ncm9rLmlvOjQ0MyIsImZlYXR1cmUiOiJXZWJTaGFyZSIsImV4cGlyeSI6MTQ5MjQ3MzYwMCwiaXNTdWJkb21haW4iOnRydWV9">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>Kip Cart</title>
</head>

<body>
  <div id="root"></div>
  <intent action="http://webintents.org/edit" type="text/uri-list image/*"></intent>
  <script type="text/javascript" src="/build/common.js"></script>
  <script type="text/javascript" src="/build/cart.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</body>

</html>
