<!-- views/pages/cart.ejs -->
<!-- Used to render react -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"></link>
  <!-- Origin Trial Token, feature = Web Share, origin = https://30058bc0.ngrok.io, expires = 2017-04-17 -->
  <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-04-17" content="AuDmjphrfuMiUrQtRHP3wL0iqbK4atEiA7HDaBAHZ/vR5zlKNdTxYuIXkqJrbKpa8fodc+/izMBwDejuU0FjCgkAAABmeyJvcmlnaW4iOiJodHRwczovLzMwMDU4YmMwLm5ncm9rLmlvOjQ0MyIsImZlYXR1cmUiOiJXZWJTaGFyZSIsImV4cGlyeSI6MTQ5MjQ3MzYwMCwiaXNTdWJkb21haW4iOnRydWV9">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="1e131d10-d330-48ee-8f71-81de2a5724ae";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  <title>Kip Site</title>
</head>

<body>
  <div id="main"></div>
  <script type="text/javascript" src="/build/bundle.js"></script>
</body>

</html>
