<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>Kip Store</title>
  <link href="/style.css" rel="stylesheet">
</head>

<body>
  <h1>Kipthis.com</h1>
  <p>Group shopping is easier than ever! Create and share a group shopping cart by clicking below.</p>
  <h1>
  <a href="/newcart">Start Shopping</a>
  <% if(carts.length) { %> 
    </h1>
    Your Carts: 
    <ul>
      <% for(var i=0; i < carts.length; i++) { %>
        <li><a href='/cart/<%- carts[i].id %>/'><%- carts[i].id %></a></li>
      <% } %>
    </ul>
  <% } %>
  <div id="main"></div>
  <script type="text/javascript" src="/build/bundle.js"></script>
</body>

</html>
