<div class="container-fluid navfix template">
<div class="row">
<div class="col-xs-12">
<h1>My Profile</h1>

<ul>
	<h4><a ng-href="/#/newworld">+ Add New World</a></h4>
	<li ng-repeat="world in worlds">
		<div class="media">
			<img ng-src="{{world.avatar}}" class="avatar pull-left">
			<div class="media-body">
				<h4 class="media-heading">{{world.name}} <button type="button" class="close" ng-click="deleteWorld($index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h4>
				<a ng-href="#/w/{{world.id}}">Go to this world</a> 
			</div>
		</div>
	</li>
</ul>
</div>
</div>
</div>