// react/components/Overlay/Overlay.scss
@import '../../styles/Constants';

.overlay {
	position: relative;
  	height: 100%;
  	width: 100%;
  	padding: $padding*5 $padding*2 0;
  	text-align: center;
  	background: white;
  	border

  	.image {
  		height: 100px;
  		width: 100px;
  		padding: 0;
  		margin: 0 auto;
  	}
  	* {
  		padding: $padding;
  	}

  	h4 {
  		color: $third-button-color;
  		width: auto;
  		margin: 0 auto;
  		span {
  			border-bottom: 1px dashed $third-button-color;
  		}
  	}
}