@import '../../themes/constants';
@import '../../themes/animations';

$centerPhone: calc(50% - 212.5px);
div[class^='showcase-'] {
	position: relative;
	text-align: center;
	@include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

	&.showcase-0 {
		background: #eaf9ff;
	}
	&.showcase-1 {
		background: #fddcdc;
	}
	&.showcase-2 {
		background: #d9f8f0;
	}

	.image {
		background-image: url("https://storage.googleapis.com/kip-random/website/phoneclip.png");
	}

	div[class^='row-'] {
		position: relative;
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		white-space: nowrap;
		padding: $padding*5 0 $padding*15;

		@media only screen and (max-width: 600px) {
			padding: $padding*5 0 $padding*25;
		}

		&:nth-of-type(even) {
			.phone {
				float: right;
			}

			.bubble {
				svg {
					left: auto;
					right: -50px;
				}
			}

			@media only screen and (max-width: 1000px) {
				.phone {
					margin: 0 -125px 0 0;
				}

				.bubble {
					right: auto;
					left: -115px;
					padding: $padding*4  $padding*2 $padding*2 $padding*13;
				}
			}
			
			@media only screen and (max-width: 600px) {
				.phone {
					margin: 0 -125px 0 0;
				}

				.bubble {
					right: auto;
					padding: $padding*4  $padding*2 $padding*2 $padding*13;
				}
			}
		}

		&:last-of-type {
			padding: $padding*5 0 0;
		}
	}

	.phone {
		position: relative;
		float: left;
		width: 550px;
		height: 700px;
		display: inline-block;
		background-size: contain;
		z-index: 50;
		padding: $padding*2 $padding*10 $padding*3;
		pointer-events:none;
		left: 0;
		opacity: 0;
		transform: translate3d(0, -100px,0);
		@include transition(all 0.99s cubic-bezier(0.4, 0, 0.2, 1));

		.image {
			height: 100%;
		}

		&.enter {
			opacity: 1;
			transform: translate3d(0px, -175px,0) !important;
		}

		&.leave {
			opacity: 0;
			transform: translate3d(0px, -250px,0) !important;
		}

		@media only screen and (max-width: 1000px) {
			margin: 0 0 0 -125px;
		}
		@media only screen and (max-width: 600px) {
			padding: $padding*2.3 $padding*5;
			width: 321px;
			height: 450px;
			margin: 0 0 0 -125px;
		}
	}

	.bubble {
		position: relative;
		display: inline-block;
		width: 400px;
		margin: 0 auto;
		z-index: 50;
		background: white;
		opacity: 0;
		white-space: normal;
		border-radius: 10px;
		border: 1px solid $borderColor;
		padding: $padding*3;
		transform: translate3d(0px, 75px,0);
		@include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

		&.enter {
			opacity: 1;
			transform: translate3d(0px, 0,0) !important;
		}

		&.leave {
			opacity: 0;
			transform: translate3d(0px, -75px,0) !important;
		}

		@media only screen and (max-width: 1000px) {
			padding: $padding*4 $padding*12 $padding*2 $padding*2;
		}
		@media only screen and (max-width: 600px) {
			position: absolute;
			width: 80%;
			top: 0;
			right: -115px;
			margin: 0;
			padding: $padding*4 $padding*12 $padding*2 $padding*2;
		}

		svg {
			position: absolute;
			top: -50px;
			left: -50px;
			height: 100px;
			width: 100px;
		}

		h1 {
			color: $primaryColor;
			font-weight: bold;
			text-align: left;
			font-size: 19px;

			@media only screen and (max-width: 600px) {
				font-size: 19px;
			}
		}

		.image {
			height: 100%;
			width: 100%;
			background-size: contain;
			margin: -25px auto 0;
			@media only screen and (max-width: 600px) {
				margin: -12px auto 0;
			}
		}
	}

	.bubble-enter {
		@include animation(scrollInLeft cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
	}
	.bubble-leave {
		@include animation(scrollOutRight cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
	}

	svg[class^="sine-"] {
		fill: rgb(234, 249, 255);
	    margin-top: -150px;
	    top: 0;
	    margin-left: -1px;
	    height: 150px;
	    z-index: 50;
	    width: calc(100% + 3px);
	    @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
	   	@media only screen and (max-width: 600px) {
	   		margin-top: -100px;
	    	height: 100px;
	    }
	    &.sine-0 {
			fill: #eaf9ff;
		}
		&.sine-1 {
			fill: #fddcdc;
		}
		&.sine-2 {
			fill: #d9f8f0;
		}

		@media only screen and (max-width: 600px) {
	   		margin-top: -100px;
	    	height: 100px;
	    }

	}

	.bottom {
		position: absolute;
		fill: mix(white, $primaryColor, 97%);
	    height: 150px;
	    margin-left: -1px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: calc(100% + 3px);
	    @media only screen and (max-width: 600px) {
	    	height: 100px;
	    }
	}
}