@import 'utilities.less';
@import 'aperture.less';
@import 'drawer.less';
@import 'nav.less';
@import '../components/home/home.less';
@import '../components/super_user/superuser.less';
@import '../components/contest/contest.less';
@import '../components/announcements/announcements.less';
@import '../components/splash/splash.less';
@import '../components/splash/splash.less';

/*VARIABLES*/
@darkenPctg-hover: 5%;
@darkenPctg-active: 10%;
@color-redKip: rgba(237, 64, 35, 1.0);
@color-linkBlue: rgba(66, 139, 202, 1.0);

nav {
	pointer-events: auto;
}



@import '../components/world/worldMain.less';
@import '../components/user/user.less';
@import '../components/dialogs/dialogs.less';

//AUTH

.auth-title {
	text-align: center;
	color: #777;
	margin-bottom: 14px;
}

input.auth-input {
	width: 100%;
	height: 32px;
	margin-bottom: 4px;
	border: none;
	background: #FFF;
	outline: 1px solid #ccc;
	padding: 0px 4px;
}

.auth-submit {
	width: 100%;
	margin: 4px 0px;
	border: none;
	background: #3F51B5;
	color: #FFF;
	border-radius: 2px;
	height: 32px;
	line-height: 32px;
	padding: 0;
	box-shadow: 0px 2px 2px rgba(0,0,0,.2);
}

.auth-create {
	.auth-submit();
	background: #2196f3;
	margin: 20px 0px 16px 0px;
}



///SOCIAL

.btn.fb-btn {
	background-color: #FFF;
	color: #3B5998;
	padding: 6px;
	border: 1px solid #ccc;
}

.btn.twitter-btn {
	background-color: #FFF;
	color: #55ACEE;
	border: 1px solid #ccc;
}

.btn.meetup-btn {
	background-color: #FFF;
	color: #DF3C39;
	border: 1px solid #ccc;
}

@import 'alert.less';

//CALENDAR

.calendar-view {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 96px 8px 8px 8px;
	background: #e6e6e6;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	
	transition: 0.35s cubic-bezier(.5,.1,0,1) all;
	z-index: 5;
	overflow: auto;
}

.fc-view-container {
	background: #FFF;
	color: #777;
}

.fc-other-month {
	background: #F2F2F2;
}

.calender-view.ng-enter {
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
}

.calender-view.ng-enter.ng-enter-active {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}

.calendar-view.active {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
	
}

///COLORS
.indigo700 {
	color: #303f9f;
}

.lightblue500 {
	color: #03a9f4;
}

.blue500-bg {
	background: #2196f3;
}

.gray-e6e6e6 {
	background: #e6e6e6;
}

.surface.bg-clear {
	background: none;
}

///LOADING

.loading-spinner {
	position: relative;
	margin: 20px auto;
	width: 40px;
	height: 40px;

	z-index: 1050;
}

.lspin1, .lspin2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2196f3;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loading-bounce 2.0s infinite ease-in-out;
  animation: loading-bounce 2.0s infinite ease-in-out;
}

.lspin2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}


.action-button {
	position: absolute;
	width: 56px;
	height: 56px;
	border-radius: 28px;
	border: none;
	outline: none;
	
	-webkit-transition: 0.35s cubic-bezier(.5,.1,0,1) all;
	transition: 0.35s cubic-bezier(.5,.1,0,1) all;

	box-shadow: 0px 2px 2px rgba(0,0,0,.2), 0px 6px 6px rgba(0,0,0,.2);
	z-index: 10000;
}

.world-action-button {
	right: 8px;
	bottom: 8px;
	background: url('img/icons/text_sms_white_24dp.png') center e('/') 24px 24px no-repeat;
}

.aperture-full .world-action-button {
	-webkit-transform: translate3D(200%, 0px, 0);
	transform: translate3D(200%, 0, 0);
}

.back-action-button {
	left: 8px;
	bottom: 8px;
	background: url('img/icons/ic_arrow_back_24px.png') center e('/') 24px 24px no-repeat #FFF;
}

.back-action-button:active {
	background: url('img/icons/ic_arrow_back_24px.png') center e('/') 24px 24px no-repeat #CCC;
}

.back-action-button.ng-hide-add {
	-webkit-transform: translate3D(0%, 0px, 0);
	transform: translate3D(0%, 0, 0);
}

.back-action-button.ng-hide-add-active, .aperture-full .back-action-button {
	-webkit-transform: translate3D(-200%, 0px, 0);
	transform: translate3D(-200%, 0, 0);
}

.back-action-button.ng-hide-remove {
	-webkit-transform: translate3D(-200%, 0px, 0);
	transform: translate3D(-200%, 0, 0);
}

.back-action-button.ng-hide-remove-active {
	-webkit-transform: translate3D(0%, 0px, 0);
	transform: translate3D(0%, 0, 0);
}

.refresh-button {
	right: 8px;
	bottom: 8px;
	background: url('img/icons/ic_refresh_white_48dp.png') center e('/') 24px 24px no-repeat rgba(62, 82, 181, 0.96);
}

/*map stuff*/

.fadeMarkers .leaflet-marker-icon {
	opacity: .5;
}

@import '../components/floor_selector/floorselector.less';
@import '../components/userLocation/userLocation.less';
@import '../components/world/want-this.less';
@import '../components/world/category_widget/category.widget.less';
@import '../components/world/search_bar/catSearchBar.less';

/* Map zoom controls positioning for Desktop only */
@media only screen 
and (min-width : 736px) {

	.aperture-full .leaflet-bottom.leaflet-left {
		top: 60px;
		left: 1%;
		display: block;
	}

	.aperture-third .leaflet-bottom.leaflet-left,
	.aperture-half .leaflet-bottom.leaflet-left,
	.aperture-off .leaflet-bottom.leaflet-left {
		display: none;
	}
}
@media only screen 
and (max-width : 737px) {

	.leaflet-bottom.leaflet-left {
		display: none;
	}
}


/* DESCRIPTION CARD */

.description-card-img {
	display: inline-block;
	margin: 5px 5px 5px 0; 
	width: 90px;
	vertical-align: top;
}

.description-card-info {
	display: inline-block;
	margin: 10px 0;
	width: 60%;

	p {
		font-size: .9em;
		word-wrap: break-word;
	}
}

div.marker-popup-click {
  height: 42px;
  width: 100%;
  position: absolute;
  left: 1px;
  top: 1px;
  cursor: pointer;
}

/*remove the irritating blue border*/
button:active,
button:focus {
	outline: none;
}

/* temp class for splash that hides world */
#splash {
	background-color: rgb(0,0,0);
  bottom: 0;
	height: 100%;
  left: 0;
  margin: auto auto;
  overflow: scroll;
  padding-top: 46px;
	position: absolute;
  right: 0;
  width: 100%;
  z-index: 101;
  -webkit-overflow-scrolling: touch;

  .splash-img-container {
  	margin: auto;
  	max-width: 500px;
  }
  .splash-img {
  	max-width: 500px;
  	opacity: 0;
  	width: 100%;
		-webkit-transition: 1s cubic-bezier(.5,.1,0,1) all;
		transition: 1s cubic-bezier(.5,.1,0,1) all;
		
		&.splash-fade-in {
			opacity: 1;
		}
  }
}


.loading-animation {
	position: absolute;
	z-index: 101;
	top: 48px;
	width: 100%;
	height: 3px;
}



