nav {
  pointer-events: auto;
}
.subnav {
  height: 88px;
  width: 100%;
  background: #f5f5f5;
  padding: 40px 0px 0px 0px;
}
.tab-group {
  text-align: center;
}
.tab {
  display: inline-block;
  height: 48px;
  font-size: 14px;
  line-height: 16px;
  padding: 16px 8px;
  color: #737373;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}
.tab-link {
  color: inherit;
}
.tab.selected {
  color: #5c6bc0;
}
.menu {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  margin: 8px;
  -webkit-appearance: none;
  background: #FFF;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  color: #737373;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}
.surface {
  width: 100%;
  min-height: 100%;
  padding: 8px;
  background: #e6e6e6;
  overflow: auto;
}
.surface:before,
.surface:after,
.surface-sort:before,
.surface-sort:after {
  content: ' ';
  display: table;
}
.world-sq-container {
  padding: 0px;
  margin: 0px;
}
.world-sq {
  position: relative;
  width: 144px;
  height: 144px;
  float: left;
  background: #d2d2d2;
  margin: 4px;
  border-radius: 2px;
  border: 1px solid #c0c0c0;
  overflow: hidden;
  cursor: pointer;
}
.world-sq-close {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  background: none;
  border: none;
  outline: none;
  color: #FFF;
  visibility: hidden;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
  line-height: 14px;
}
.world-sq:hover .world-sq-close {
  visibility: visible;
}
.world-sq-img {
  width: 144px;
  height: 144px;
}
.world-sq-views {
  position: absolute;
  top: 3px;
  left: 6px;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  visibility: hidden;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
}
.world-sq:hover .world-sq-views {
  visibility: visible;
}
.world-sq-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 144px;
  height: 104px;
  background: #FFF;
  -webkit-transform: translateY(104px);
  transform: translateY(104px);
  transition: 0.35s cubic-bezier(0.5, 0.1, 0, 1) all;
  z-index: 20;
}
.selected.world-sq-menu {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.world-sq-menu-title {
  position: absolute;
  bottom: 104px;
  width: 144px;
  background: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
  /*
opacity: 1;
	transition: 0.35s cubic-bezier(.5,.1,0,1) opacity;
*/
}
.selected .world-sq-menu-title {
  /* background: rgba(255,255,255,0.5); */
  /* 	opacity: 0.5 */
}
.world-sq-menu-action {
  width: 144px;
  height: 24px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  background: #FFF;
}
.world-sq-menu-action:hover {
  background: #5c6bc0;
  color: #FFF;
}
.sort-heading {
  position: absolute;
  top: -16px;
  left: 0px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.marble-smooth-card {
  position: relative;
  background: #FFF;
  border-radius: 5px;
}
.profile-card {
  width: 100%;
  height: 128px;
  float: left;
  min-height: 1px;
  position: relative;
  background: #FFF;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .profile-card {
    /*card goes vertical*/
    height: 208px;
  }
}
.sort {
  width: 100%;
  float: left;
  padding: 16px 8px;
}
.profile-sort {
  max-width: 360px;
  width: 100%;
  float: left;
  padding: 16px 8px;
}
@media only screen and (min-width: 768px) {
  .profile-sort {
    width: 160px;
  }
}
.profile-card-pic {
  width: 96px;
  height: 96px;
  float: left;
  margin: 16px 16px 16px 24px;
  border-radius: 50%;
  background: #78909c;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .profile-card-pic {
    margin: 8px auto;
    float: none;
  }
}
.profile-card-pic-upload {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin: 42px 0px;
}
.profile-card-body {
  overflow: hidden;
  height: 100%;
  padding: 8px;
}
.profile-contact-card {
  position: relative;
  background: #FFF;
  border-radius: 5px;
  padding: 8px;
}
.profile-contact-sort {
  width: 100%;
  float: left;
  padding: 16px 8px;
  max-width: 500px;
}
.profile-add-new {
  position: relative;
  margin: 4px;
  width: 296px;
  height: 64px;
  color: #737373;
  font-size: 16px;
  padding: 18px 0px 0px 0px;
  text-align: center;
  cursor: pointer;
  border: 2px dashed #bdbdbd;
}
@media only screen and (min-width: 768px) {
  .profile-add-new {
    float: left;
    height: 144px;
    width: 80px;
    padding: 64px 0px 0px 0px;
  }
}
.profile-add-new-plus {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 20px;
  top: 12px;
  border-radius: 18px;
  line-height: 34px;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  background: #2196f3;
}
@media only screen and (min-width: 768px) {
  .profile-add-new-plus {
    top: 24px;
    left: 0;
    right: 0;
  }
}
.marble-label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
.marble-control {
  display: block;
  float: left;
  width: 100%;
  padding: 2px 4px;
  font-size: 14px;
  line-height: 16px;
  color: #555;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  background: #FFF;
  margin-bottom: 4px;
}
.marble-privacy-bit {
  width: 72px;
  -webkit-appearance: none;
  color: #999999;
  border: none;
  background: none;
  margin: 0px 4px;
  padding: 0px 8px 0px 0px;
}
.marble-privacy-bit-container {
  position: relative;
  float: left;
  width: 72px;
  color: #999999;
}
.marble-privacy-bit-container .caret {
  position: absolute;
  right: 0px;
  bottom: 7px;
  pointer-events: none;
}
.indigo700 {
  color: #303f9f;
}
