nav {
	pointer-events: auto;
}

.subnav {
	/* height: 88px; */
	width: 100%;
	background: #f5f5f5;
	/* padding: 40px 0px 0px 0px; */
	text-align: center;
}

.subnav-header {
	display: block;
	font-size: 20px;
	line-height: 48px;
	height: 48px;
	margin: 0px;
	text-align: center;
}

.subnav-back {
	width: 48px;
	height: 48px;
	float:left;
	border: none;
	background: none;
	outline: none;
}

span.subnav-back-chevron {
	display: block;
	top:0px;
	float: left;
	font-size: 24px;
	margin: 12px 0px;
	color: #808080;
}

.tab-group {
	text-align: center;
}

.tab {
	display: inline-block;
	height: 48px;
	font-size: 14px;
	line-height: 16px;
	padding: 16px 8px;
	color: #737373;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
}

.tab-link {
	color: inherit;
}

.tab.selected {
	color: #5c6bc0;
}

.menu {
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	margin: 8px;
	-webkit-appearance: none;
	background: #FFF;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.16);
	color: #737373;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
}

.surface {
	width: 100%;
	min-height: 100%;
	padding: 8px;
	background: #e6e6e6;
	overflow: auto;
}

.surface:before, .surface:after, .surface-sort:before, .surface-sort:after {
	content: ' ';
	display:table;
}

.world-sq-container {
	padding: 0px;
	margin: 0px;
}

.world-sq {
	position: relative;
	width: 144px;
	height: 144px;
	float: left;
	background: #d2d2d2;
	margin: 4px;
	border-radius: 2px;
	border: 1px solid #c0c0c0;
	overflow: hidden;
	cursor:pointer;
}

.world-sq-close {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	background: none;
	border: none;
	outline: none;
	color: #FFF;	
	visibility: hidden;
	text-shadow: 0px 1px 1px rgba(0,0,0,.9);
	line-height: 14px;
}

.world-sq:hover .world-sq-close {
	visibility: visible;
}

.world-sq-img {
	width: 144px;
	height: 144px;
}

.world-sq-views {
	position: absolute;
	top: 3px;
	left: 6px;
	color: #fff;
	font-size: 10px;
	line-height: 1;
	visibility: hidden;
	text-shadow: 0px 1px 1px rgba(0,0,0,.9);
}

.world-sq:hover .world-sq-views {
	visibility: visible;
}

.world-sq-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 144px;
	height: 104px;
	background: #FFF;
	-webkit-transform: translateY(104px);
	transform: translateY(104px);
	transition: 0.35s cubic-bezier(.5,.1,0,1) all;
	
	z-index: 20;
}

.selected.world-sq-menu {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.world-sq-menu-title {
	position: absolute;
	bottom: 103px;
	width: 144px;
	
	background: rgba(255,255,255,1);
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	border-bottom: 1px solid #e6e6e6;
	box-sizing: border-box;
	box-shadow: 0px -2px 3px rgba(0,0,0,.15);
	/*
opacity: 1;
	transition: 0.35s cubic-bezier(.5,.1,0,1) opacity;
*/
}

.selected .world-sq-menu-title {
	/* background: rgba(255,255,255,0.5); */
/* 	opacity: 0.5 */
}

.world-sq-menu-action {
	width: 144px;
	height: 24px;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	cursor: pointer;
	background: #FFF;
	&:hover {
		background: #5c6bc0;
		color: #FFF;
	}
}

.sort-heading {
	position: absolute;
	top: -16px;
	left: 0px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
}

.marble-smooth-card {
	position: relative;
	background: #FFF;
	border-radius: 5px;
}

.profile-card {
	width: 100%;
	height: 128px;
	float: left;
	position: relative;
	min-height: 1px;
	
	.marble-smooth-card();
	@media only screen and (min-width: 768px) {
	/*card goes vertical*/	
		height: 208px;
	}
}

.sort {
	width: 100%;
	float: left;
	padding: 16px 8px;
}

.profile-sort {
	max-width: 360px;
	.sort();
	@media only screen and (min-width: 768px) {
		width: 160px;
	}
}

.profile-card-pic {
	width: 96px;
	height: 96px;
	float: left;
	margin: 16px 16px 16px 24px;
	border-radius: 50%;
	background: #78909c;
	overflow: hidden;	
	@media only screen and (min-width: 768px) {
		margin: 8px auto;
		float: none;
	}
}

.profile-card-pic-upload {
	display: block;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	margin: 42px 0px;
}

.profile-card-body {
	overflow: hidden;
	height: 100%;
	padding: 8px;
}

.profile-contact-card {
	.marble-smooth-card();
	padding: 8px;
}

.profile-contact-sort {
	.sort();
	max-width: 500px;
}

.profile-add-new {
	position: relative;
	margin: 4px;
	width: 296px;
	height: 64px;
	color: #737373;
	font-size: 16px;
	padding: 18px 0px 0px 0px;
	
	text-align: center;
	cursor: pointer;
	
	border: 2px dashed #bdbdbd;
	@media only screen and (min-width: 768px) {
	float:left;
	height: 144px;
	width: 80px;
	padding: 64px 0px 0px 0px;
	}
}

.profile-add-new-plus {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 20px;
	top: 12px;
	
	border-radius: 18px;
	line-height: 34px;
	font-size: 20px;
	color: #fff;
	margin: 0 auto;
	background: #2196f3;
	@media only screen and (min-width: 768px) {
		top: 24px;
		left: 0;
		right: 0;
	}
}

.marble-label {
	display: block;
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}

.marble-control {
	display: block;
	float: left;
	width: 100%;
	padding: 2px 4px;
	font-size: 14px;
	line-height: 16px;
	color: #555;
	border: none;
	border-bottom: 1px solid #e6e6e6;
	background: #FFF;	
	margin-bottom: 4px;
}

.marble-privacy-bit {
	width: 72px;
	-webkit-appearance: none;
	color: #999999;
	border: none;
	background: none;
	margin: 0px 4px;
	padding: 0px 8px 0px 0px;
}

.marble-privacy-bit-container {
	position: relative;
	float: left;
	width: 72px;
	color: #999999;
}

.marble-privacy-bit-container .caret {
	position: absolute;
	right: 0px;
	bottom: 7px;
	pointer-events: none;
}

///USER CHIP

/*
.user-chip {
	position: relative;
	width: 40px;
	height: 24px;
	margin: 8px 0px 0px 4px;
	background: #FFF;
	border-radius: 17px;
	cursor: pointer;
	text-align: center;
}

.user-chip-img {
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	background: #FFF;
}

.user-chip-label {
	font-size: 11px;
	line-height: 24px;
	font-weight: 500;
	color: #737373;
}

.user-chip-label.auth {
	display: none;
}
*/
/*

@media only screen and (min-width: 480px) {
*/

.user-chip-wrap {
	width: 100%;
	height: 100%;
}
	.user-chip {
		width: auto;
		height: 32px;
		margin: 4px 0px 0px 4px;
		border-radius: 3px;
		box-shadow: 0px 1px 1px rgba(0,0,0,.2);
		background: #FFF;
		cursor: pointer;
	}
	
	.user-chip-label, .user-chip-label.auth {
		display: inline;
		line-height: 32px;
		font-size: 14px;
		margin: 0px 8px;
	}
	
	.user-chip-label.auth {
		margin: 0px 8px 0px 0px;
	}
	
	.user-chip-img {
		height: 24px;
		width: 24px;
		border-radius: 12px;
		margin: 4px;
		
	}
/* } */

.nav-user-menu {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 192px;
	background: rgba(255,255,255,.98);
	border-radius: 3px;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,.5);
	.noselect;
	overflow: hidden;
	z-index: 101;
}

.nav-user-menu-img {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	margin: 0px 8px 0px 4px;
}

.nav-user-menu-title {
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	padding: 0px 8px;
}

.nav-user-menu-item {
	width: 100%;
	height: 32px; 
	line-height: 32px;
	font-size: 14px;
	padding: 0px 8px;
}

.nav-user-menu-item:hover {
	background: #5C6BC0;
	color: #FFF;
}

.nav-user-menu-divider {
	width: 100%;
	height: 1px;
	background: #dfdfdf;
}

.noselect { 
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

///DIALOGS

.dialog-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 300;
}

.dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 300px;
	border-radius: 8px;
	box-shadow: 0px 3px 3px rgba(0,0,0,.2);
	overflow: hidden;
}

.divider {
	margin: 0;
}

//AUTH

input.auth-input {
	width: 100%;
	margin-bottom: 4px;
	border: none;
	background: #FFF;
	outline: 1px solid #ccc;
	padding: 0px 4px;
}

.auth-submit {
	width: 100%;
	margin-bottom: 4px;
	border: none;
	background: #3F51B5;
	color: #FFF;
	border-radius: 2px;
	height: 32px;
	line-height: 32px;
	padding: 0;
	box-shadow: 0px 2px 2px rgba(0,0,0,.2);
}

///SOCIAL

.btn.fb-btn {
	background-color: #FFF;
	color: #3B5998;
	padding: 6px;
	border: 1px solid #ccc;
}

.btn.twitter-btn {
	background-color: #FFF;
	color: #55ACEE;
	border: 1px solid #ccc;
}

.btn.meetup-btn {
	background-color: #FFF;
	color: #DF3C39;
	border: 1px solid #ccc;
}

///COLORS
.indigo700 {
	color: #303f9f;
}

.lightblue500 {
	color: #03a9f4;
}

