// --------------------COLORS
@color-redKip: rgba(237, 64, 35, 1.0);
@color-linkBlue: rgba(66, 139, 202, 1.0);
// --------------------END COLORS

// --------------------OTHERS
@darkenPctg-hover: 5%; // for use in components such as buttons
@darkenPctg-active: 10%;
// --------------------END OTHERS