// react/components/View/Details/Details.scss

@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';

$colorList: #fddcdc #eaf9ff #d9f8f0 #f4e99e;

.details {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-collapse: collapse;

  @media only screen and (max-width: 600px) {
    overflow-x: auto;
    display: block;
  }

  * {
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }

  th {
    text-align: left;
    padding: ($padding / 1.5) ($padding / 2) $padding;

    @media only screen and (max-width: 600px) {
      padding: 0 3px;
      display: block;
    }

    .card {
      border-top: 3px solid $secondaryColor;
      padding: 0;

      &.locked {
        border-top: 3px solid #555;

        .cover {
          background: #555;
          color: white !important;
        }
      }

      .cover {
        padding: $padding;
        display: flex;
      }

      .left {
        display: flex;
        flex: 1 1 auto;
        min-width: 270px;

        .image {
          height: $nav-height;
          width: $nav-height;
          display: inline-block;
          border-radius: 5px;
        }

        .text {
          display: inline-block;
          padding: 0 $padding;

          .cart-description {
            align-items: center;
            display: flex;
            flex: 1 1 auto;
            min-height: 50px;
            padding: 5px 0;

            form {
              display: flex;
              flex-wrap: wrap;
              margin: 0 0 0 10px;
              position: relative;
              width: 100%;

              input {
                border: 2px solid $secondaryColor;
                padding: 0;
                height: 25px;

                &:first-of-type {
                  border-radius: 4px 0 0 4px;
                  flex: 1 1 auto;
                  padding: 2px 4px;
                }

                &:last-of-type {
                  background: $secondaryColor;
                  border-radius: 0 4px 4px 0;
                  color: white;
                  cursor: pointer;
                  width: 50px;

                  &:disabled {
                    opacity: 0.5;
                  }
                }
              }

              p {
                flex: 1 1 100%;
                text-align: right;
                padding: 2px 0;
                font-size: 12px;

                &.red {
                  color: $warningColor;
                  opacity: 1;
                }

                &.yellow {
                  color: $fifthColor;
                  opacity: 1;
                }
              }
            }

            .cart-description__text {
              color: rgba(#333, 0.5);
              padding: 0 10px;
              display: flex;
              align-items: center;

              span {
                display: flex;
                font-size: 12px;
                font-weight: 100;
                align-self: bottom;
              }

              p {
                flex: 1 1 auto;
                font-size: 14px;
                font-weight: 100;
                height: unset;
                line-height: unset;
                opacity: 1;
              }

              &.is-admin {
                cursor: pointer;

                &:hover {
                  color: $warningColor;
                }
              }

              i {
                font-weight: 100;
                font-size: 14px;
              }

              svg {
                margin: 0 5px;
              }
            }
          }

          h1 {
            font-size: 18px;
            height: 20px;
            line-height: 20px;
            cursor: pointer;
            white-space: nowrap;

            .locked {
              svg {
                margin: 0 $padding 0 0;
                fill: white;
              }
            }

            svg {
              margin-left: $padding;
              vertical-align: top !important;
              padding: 0 ($padding / 5);
              color: rgba(#333, 0.5);
              display: inline-block;
            }

            span {
              display: inline-block;
              font-weight: 100;
              font-size: 12px;
              color: rgba(#333, 0.5);
            }

            &:hover {
              span {
                color: $warningColor;
              }

              svg {
                color: $warningColor;
              }
            }
          }

          p {
            font-size: 10px;
            height: 10px;
            line-height: 10px;
            opacity: 0.5;
          }

          h4 {
            font-size: 14px;
            height: 20px;
            font-weight: 100;
            line-height: 20px;
            opacity: 0.8;

            b {
              display: inline-block;
            }

            .price {
              color: $price-color;
            }
          }

          h5 {
            font-size: 12px;
            height: 0px;
            font-weight: 100;
            line-height: 17px;
            opacity: 0.5;
          }
        }
      }

      .right {
        text-align: right;

        .buttons {
          display: inline-block;
          height: auto;

          button {
            display: block;
            margin: $padding auto;
          }

          @media only screen and (max-width: 600px) {
            display: none;
          }
        }
      }

      .metrics {
        display: block;
        width: 100%;
        padding: 0px 5px 9px 13px;

        .metric {
          display: inline-block;
          margin-right: $padding * 2;

          &.cursor {
            cursor: pointer;

            &:hover {
              .top {
                svg {
                  fill: $secondaryColor;
                }

                * {
                  color: $secondaryColor;
                }
              }

              .sub {
                * {
                  color: $secondaryColor;
                }
              }
            }
          }

          &.red {
            .top {
              svg {
                fill: $warningColor !important;
              }
            }
          }

          .top {
            height: 25px;
            line-height: 25px;
            text-align: center;

            svg {
              vertical-align: top !important;
              fill: rgba(#333, 0.6);
            }

            p {
              padding: 0 0 0 ($padding / 2);
              font-weight: 100;
              color: rgba(#333, 0.6);
            }

            * {
              height: 25px;
              line-height: 25px;
              display: inline-block;
            }
          }

          .sub {
            text-align: center;

            * {
              font-weight: 100;
              font-size: 12px;
              color: rgba(#333, 0.6);
            }
          }
        }
      }
    }
  }

  td {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    width: 100%;

    nav {
      padding: $padding $padding 0;

      .undo__button {
        @include animation(fadeInDown cubic-bezier(0, 0, 0.2, 1) 1s);

        align-items: center;
        background: $mainColor;
        border-radius: 5px;
        box-shadow: $card-box-shadow;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 800;
        height: 40px;
        justify-content: center;
        left: 25%;
        margin: auto 0;
        position: fixed; // temporary until we find something better
        right: 25%;
        text-align: center;
        top: 90px;
        width: 50%;
        z-index: 5;

        p {
          display: table-cell;
          flex: 1 1 auto;
          margin-bottom: 25%;
          margin-top: 25%;
        }

        &::after {
          @include animation(progressBar linear 10s);

          background: linear-gradient(to right, red 0%, red 45%, transparent 50%);
          background-size: 200% 2px;
          bottom: 0;
          content: '';
          display: block;
          height: 3px;
          position: absolute; //chrome is the worst
          left: 0;
          right: 0;
          border-radius: 0 0 5px 5px;
          width: 100%;
        }

        button {
          background: transparent;
          border: 0;
          font-family: $main-font;
          font-size: 14px;
          font-weight: 800;
          margin: 0;
          padding: 0;
          text-decoration: underline;
        }
      }

      span {
        display: inline-block !important;
        border-radius: 5px;
        margin-right: $padding * 2;

        &.updated {
          color: rgba(#111, 0.5);
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}
