@import '../../themes/constants';
@import '../../themes/animations';

.hero {
	position: relative;
	overflow: hidden;
	background: rgb(244, 233, 158);
	height: 550px;
	padding: 0;
	width: 100%;
	@include animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) 1.33s);

	@media only screen and (max-width: 600px) {
		height: 500px;
	}

	&.start {
		.hero__kip {
			@include animation(moveAround 15s infinite);
			@media only screen and (max-width: 600px) {
				@include animation(moveAroundMobile 15s infinite);
			}
		}
	}

	.hero__desktop {
		position: absolute;
		left: 75px;
		bottom: 65px;
		width: 650px;
		z-index: 3;

		h1 {
			position: absolute;
			left: 17%;
			top: 24%;
			color: $primaryColor;
			font-weight: bold;
			width: 69%;
			font-size: 30px;
			text-align: left;
		}

		@media only screen and (max-width: 600px) {
			left: 0;
			bottom: 105px;
			width: 100%;
			h1 {
			    font-size: 5vw;
				left: 14%;
				top: 17%;
			    width: 70%;
			}
		}
	}

	.hero__desk {
		position: absolute;
		left: -65px;
		bottom: -200px;
		width: 1150px;
		z-index: 2;
	}

	.hero__background {
	    position: absolute;
	    width: 1800px;
	    left: -150px;
	    bottom: 0;
	    top: -150px;
	}

	.hero__kip {
		position: absolute;
		z-index: 1;
		width: 200px;
		bottom: 325px;
		left: 625px;
		transform: rotate(11deg);
		@media only screen and (max-width: 600px) {
			left: 155px;
			transform: rotate(0);
			bottom: 315px;
		}
	}


	.hero__plant {
		position: absolute;
		z-index: 1;
		width: 200px;
		bottom: 325px;
		left: 750px;
		@media only screen and (max-width: 600px) {
			left: 35px;
			bottom: 315px;
		}
	}

	.sine {
		fill: white;
	    margin-left: -1px;
	    margin-bottom: -1px;
	    height: 150px;
	    z-index: 10;
	    width: calc(100% + 3px);
	}
}

@keyframes moveAround {
	0%, 10%, 90%, 100% {
	  	transform: rotate(11deg);
	  	bottom: 325px;
	  	left: 625px;
	}
	15%, 50% {
		transform: rotate(11deg);
	    left: 625px;
		bottom: 300px;
	} 
	55%, 80% {
	  	transform: rotate(0deg);
	    left: 750px;
		bottom: 300px;
	}
	90% {
		transform: rotate(-3deg);
		left: 650px;
		bottom: 310px;
	}
}

@keyframes moveAroundMobile {
	0%, 10%, 90%, 100% {
		left: 155px;
		transform: rotate(0);
		bottom: 315px;
	}
	15%, 50% {
		left: 155px;
		bottom: 300px;
	} 
	55%, 80% {
	    left: 35px;
		bottom: 300px;
	}
}
