<div class="new-announcement-form">
	<div class="form-group">
		<form>

			<button class="x-button"
							ng-click="newAnnouncement()">x</button>

			<label for="headline">Headline</label>
			<input type="text"
						 class="form-control"
						 ng-model="announcement.headline"/>

			<label for="body">Body</label>
			<textarea class="form-control"
								ng-model="announcement.body">
			</textarea>

			<label for="url-path">URL Path</label>
			<input type="text" 
						 class="form-control"
						 ng-model="announcement.urlPath">

			<label for="url-name">URL Name</label>
			<input type="text" 
						 class="form-control"
						 ng-model="announcement.urlName">

			<label for="region">Region</label>
			<input type="text" 
						 class="form-control"
						 ng-model="announcement.region">

			<input type="submit" 
						 value="Save" 
						 class="btn btn-success"
						 ng-click="submit()" />

		</form>
	</div>
</div>