{{!< default}}
<footer id="footer" style="background-color: #120738;">
  <section class="colophon">
    <section class="copyright" style="color:#fff; font-size:14px;">
		© 2017 <span itemprop="copyrightHolder"><strong>{{@blog.title}}</strong></span>. <span rel="license">All Rights Reserved</span>.
		http://motorwaytoroswell.space/ is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program
		designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com
    </section>
  </section>
</footer>
