{{!< default}}
<footer id="footer" style="background-color: #120738;">
  <section class="colophon">
    <section class="copyright" style="color:#fff; font-size:14px;">
      © 2017 <span itemprop="copyrightHolder"><strong>{{@blog.title}}</strong></span>. <span rel="license">All Rights Reserved</span>.
    </section>
  </section>
</footer>
