<nav class="navbar navbar-fixed-top navbar-light top" style="background-color: #120738; border-bottom-color:#ff3900;">
  <div class="container">
     <div class="pull-xs-left">
      </div>
    <a class="navbar-brand blog-title" style="color:#fff;" href="{{@blog.url}}"><i>{{@blog.title}}</i></a>
    {{navigation}}
    <div class="pull-xs-right">
{{!--     <a href="#" id="sbrzFacebook" target="_blank" alt="Facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" id="sbrzTwitter" target="_blank" alt="Twitter"><i class="fa fa-twitter"></i></a>   --}}
    </div>
  </div>
</nav>
