@import '../../themes/constants';
@import '../../themes/animations';

.services {
	position: relative;
	text-align: center;
	background: mix(#fcfcf9, $primaryColor, 97%);
	padding: $padding*3 $padding*2 $padding*6;

	h2 {
		margin: 0 0 $padding;
		color: $primaryColor;
		font-size: 23px;
	}

	.services__details {
		position: relative;
		padding: $padding*2 0 $padding*4;
		border-top: 1px solid rgba(mix($bgColor, $primaryColor, 57%), 0.2);

		svg {
			width: 40%;
		}

		p {
			position: relative;
			white-space: normal;
			font-weight: 500;
			padding: $padding;
			font-size: 15px;
		}

		&:first-of-type {
			border-top: 1px solid transparent;
		}
	}

	.sine {
		fill: mix(#fcfcf9, $thirdColor, 97%);
		stroke: rgba(mix($bgColor, $primaryColor, 57%), 0.2);
	    stroke-width: 0.5;
	    margin-left: -1px;
	    width: calc(100% + 3px);
	}
}