// react/styles/Constants.scss
$kip-primary-color: #fcfcf9;
$kip-secondary-color: #ece7e4;
$kip-faded-color: #93918c;
$color-blue: #4a9ff1;
$border-color-light: #eae7e4;
$price-color: #d65b00;
$header-color: #4f4d4c;
$nav-height: 50px;
$padding: 10px;
@import url('https://fonts.googleapis.com/css?family=Raleway:500,600');
$main-font: 'Arial', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$input-font-size: 16px;
$main-button-color: #ffdf4d;
$secondary-button-color: #4a9ff1;
$third-button-color: #00cb7b;
