$kip-primary-color: #fcfcf9;
$kip-secondary-color: #333;

$border-color-light: #e3e3e3;

$nav-height: 50px;
$padding: 10px;

@import url('https://fonts.googleapis.com/css?family=Raleway:500,600');

$main-font: 'Raleway', sans-serif;
$secondary-font: 'Arial', sans-serif;
