// react/components/Refresh/Refresh.scss
@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.refresh {
  min-height: 45px;
  min-width: 45px;
  padding: $padding / 2;

  .wrapper {
    border-radius: $padding / 2;
    height: 100%;
    padding: ($padding / 2) ($padding / 2) ($padding / 2) $padding;
    width: 100%;

    &:hover {
      background: darken($secondaryColor, 10%);
      box-shadow: inset 0 0 3px darken($secondaryColor, 20%);
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &.rotating {
    svg {
      @include animation(rotate 0.95s linear 2);

      transform-origin: 38% 50%;
    }
  }
}
