// react/components/Search/Search.scss
@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';
.view {
	.card {
		&.search {
			position: fixed !important;
			top: 50px;
			height: $nav-height*2;
			margin-top: 0 !important;
			max-width: 900px;
			width: 100%;
			border-radius: 0 0 5px 5px;
			.input {
				position: relative;
				width: 100%;
				height: $nav-height;
				border-radius: 5px;
				border: 2px solid $color-blue;
				overflow: hidden;

				* {
					height: 100%;
				}

				input {
					width: calc(100% - #{$nav-height});
					border: 0;
					padding: 0 $padding;
				}
				button {
					background: $color-blue;
					width: $nav-height;
					border: 0;
					padding: 10px;

					svg {
						width: 100%;
						fill: white;
					}
				}
			}
		}
	}
}