<div id="shelf" class="container-fluid" ng-style="{'background-color': style.bodyBG_color}" ng-class="[aperture.state]">
	<div class="row">
		<div id='top-shelf' ng-class="[aperture.navfix, aperture.state]" 
							ng-style="{'background-color': style.titleBG_color}" 
							ng-click="aperture.toggle('half')">
			<div class="media">
				<div class="pull-left vertical-middle">
					<img class="media-object avatar" ng-click="aperture.toggle('half')" ng-src="{{world.avatar}}">
				</div>
				<div class="media-body vertical-middle">
					<h2 class="media-heading" ng-style="{color: style.worldTitle_color}">{{world.name}} <small class="pull-right">{{world.timetext.timestart | date : shortTime}}</small></h2>
				</div>
			</div>
		</div>
	</div>
	<!--explore-->
	
	<ul class="row" ng-style="{'background-color': style.bodyBG_color}">
		<li ng-repeat="landmark in landmarks" 
			ng-controller="WorldRepeatController"
			class="col-sm-6 col-xs-12 landmark">
			<a ng-href="/#/w/{{world.id}}/{{landmark.id}}">
				<div class="media" ng-style="{'background-color': style.cardBG_color}">
					<img ng-src="{{landmark.avatar}}" class="avatar media-object pull-left vertical-middle" ng-cloak> 
					<div class="media-body">
						<h3 class="media-heading" ng-style="{color: style.landmarkTitle_color}" ng-cloak>{{landmark.name}} <small>{{landmark.timetext.timestart}}</small></h3>
						<em ng-cloak>{{landmark.summary}}</em>
						
					</div>
				</div>
			</a>
		</li>
	</ul>
	
	<div class="row" ng-style="{'background-color': style.bodyBG_color}">
		<!--Twitter-->
          <div class="col-xs-6 twitter">
            <h4 class="category-heading" ng-style="{color: style.categoryTitle_color}">Twitter</h4>
            <a ng-href="#/talk">
              <div class="more">
                <p class="content">{{tweets[0].text}}</p>
                <span class="watermark typcn typcn-social-twitter"></span>
              </div>
            </a>
            <a ng-href="https://twitter.com/{{tweets[0].user.name}}/status/{{tweets[0].tweetID_str}}" target="_blank">
            <div class="footer show-footer">@{{tweets[0].user.name}} <span class="typcn typcn-export pull-right"><span></div>
            </a>
          </div>

		  <!--INSTAGRAM-->
          <div class="col-xs-6 instagram">
            <h4 class="category-heading" ng-style="{color: style.categoryTitle_color}">Instagram</h4>
            <a ng-href="#/insta">
            <div class="more">
              <p class="content"><img ng-src="images/instagram/{{instagrams[0].local_path[0]}}" width="100%"></p>
              <span class="watermark typcn typcn-social-instagram"></span>
            </div>
            </a>
            <a ng-href="http://instagram.com/{{instagrams[0].user.screen_name}}" target="_blank">
            <div class="footer show-footer">@{{instagrams[0].user.screen_name}}<span class="typcn typcn-export pull-right"><span></div>
            </a>
          </div>

    </div>
	
	<div class="row" ng-style="{'background-color': style.bodyBG_color}">
		<div class="col-xs-12">
		<h4 class="category-heading">Reactions</h4>
			<div ng-style="{'background-color': style.cardBG_color}">
			<div class="row">
				<div class="col-xs-6">
					<div id="reactionChat" style="cursor:pointer;" ng-click="routeChat()">
				    <p>{{messages[messages.length-1].user}}</p>
				    <p ng-bind-html="messages[messages.length-1].text | unsafe"></p>
				    <p>{{messages[messages.length-1].time}}</p> 
					</div>
				</div>
				<div class="col-xs-6 emoForm">
					   <form ng-submit="sendMessage()">
						    <div class="row emoGrid">
						      <div ng-click="sendEmo('cool')" class="col-xs-6 col-sm-3 emoButton"><img width="30" src="img/emoji/cool.png"></div>
						      <div ng-click="sendEmo('dolphin')" class="col-xs-6 col-sm-3 emoButton"><img width="30" src="img/emoji/dolphin.png"></div>
						      <div ng-click="sendEmo('ghost')" class="col-xs-6 col-sm-3 emoButton"><img width="30" src="img/emoji/ghost.png"></div>
						      <div ng-click="sendEmo('heart')" class="col-xs-6 col-sm-3 emoButton"><img width="30" src="img/emoji/heart.png"></div>
						      <div ng-click="sendEmo('love')" class="col-xs-6 col-sm-3 emoButton"><img width="30" src="img/emoji/love.png"></div>
						      <div ng-click="sendEmo('party')" class="col-xs-6 col-sm-3 emoButton"><img width="30" src="img/emoji/party.png"></div>
						      <div ng-click="sendEmo('smile')" class="col-xs-6 col-sm-3 emoButton"><img width="30" src="img/emoji/smile.png"></div>
						      <div ng-click="sendEmo('woah')" class="col-xs-6 col-sm-3 emoButton"><img width="30" src="img/emoji/woah.png"></div>
							</div>
						</form>
				</div>
			</div>
			</div>
		</div>
	</div>
	


	

<span ng-show="showLogout"><button><a ng-href="#/edit/{{worldURL}}/landmarks">Edit Landmarks</a></button></span>

<div class="row" ng-style="{'background-color': style.bodyBG_color}">
<p class="col-xs-6 col-xs-offset-6 text-center"><a href="http://interfacefoundry.com">Interface Foundry | </a><a href="http://startfast.net/">StartFast</a></p>
</div>
</div>