// react/components/App/Sidenav.scss
@import '../../styles/Constants';
@import '../../styles/Animations';

.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background: rgba($secondaryColor, 0.3);
  border-left: 1px solid $border-color-light;

  @include animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
  @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

  p {
    overflow: hidden;
  }

  .sidenav__overlay {
    width: calc(100% - 250px);
    background: transparent;
    height: 100%;
    float: left;
  }

  .sidenav__list {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: white;
    height: 100%;
    position: absolute;
    right: 0;
    border-left: 1px solid $border-color-light;

    @include animation(scrollInLeft cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
    @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

    li {
      padding: 0 $padding 0 0;

      &.currentCart {
        background: #f6f6f6;
      }

      h4 {
        text-align: right;
        padding: ($padding / 2) $padding;

        &.show__more {
          padding: ($padding / 2) $padding ($padding * 2);
          color: #4a9ff1;
          text-indent: underline;

          svg {
            @include animation(bounceDownSmall 2s);

            animation-iteration-count: 3; // too much twitching
         
          }
        }
      }

      &.sidenav__list__header {
        position: absolute;
        top: 0;
        width: auto;
        height: $nav-height;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 600;


        p {
          padding: 0 $padding;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        svg {
          height: 100%;
        }
      }

      &.sidenav__list__view {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        flex: 1;
        padding: 0;

        .sidenav__list__title {
          display: block;
          text-align: right;

          h4 {
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;

            &.name {
              cursor: pointer;
              display: inline-block;

              span {
                border-bottom: 3px solid $mainColor;
              }
            }
          }
        }

        a {
          padding: 0 2px;

          &.editIcon {
            @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

            padding: $padding $padding;
            background: transparent;
            border-radius: 5px 0 0 5px;

            &:hover {
              background: darken($secondaryColor, 5%);
            }
          }

          p {
            height: $nav-height;
            line-height: $nav-height / 1.6;

            span {
              line-height: $nav-height / 4;
            }
          }

          &:last-child {
            flex: 1 1 auto;
          }
        }

        li {
          display: flex;
          flex-direction: row;
          border-radius: 5px 0 0 5px;
          margin: 5px 0 0 5%;
          width: 95%;

          @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

          .image {
            @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

            border-radius: 5px 0 0 5px;
            width: $nav-height - $padding * 2;
            height: 100%;
            margin: $padding;
            min-height: $nav-height - $padding * 2;
          }

          &:hover {
            background: rgba($secondaryColor, 0.5);
          }
        }

        p {
          text-align: right;
          font-size: 15px;
        }

        .icon {
          height: 100%;
          width: 20px;

          svg {
            min-height: 20px;
            height: 100%;
          }
        }
      }

      &.sidenav__list__actions {
        display: flex;
        font-size: 20px;
        padding: 5px;

        a {
          flex: 1;
          display: flex;
          flex-direction: column;
          border: none;
          border-radius: 5px;
          padding: 5px;

          &:hover {
            background: #f6f6f6;
          }

          &.lock {
            svg {
              color: $fifthColor;
            }
          }

          &.settings {
            svg {
              color: $thirdColor;
            }
          }

          &.mail {
            svg {
              color: $secondaryColor;
            }
          }

          h4 {
            text-align: center;
            padding: 0;
            font-size: 12px;

          }

          svg {
            width: 100%;
            font-size: 24px;
          }
        }
      }

      .icon {
        display: inline-block;
        width: $nav-height;
        height: $nav-height;
        text-align: center;
        cursor: pointer;
      }

      p {
        position: relative;
        font-size: 13px;
        text-align: right;

        span {
          right: $padding;
          bottom: -15px;
          font-size: 10px;
        }
      }
    }
  }

  footer {
    width: 100%;
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      padding: 3px 0;
      cursor: pointer;
      margin: 0 -20px 0 0;

      button {
        padding: 5px 20px 5px 5px;
        overflow: wrap;
        font-size: 13px;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        background: white;
        background: $mainColor;
        border: 1px solid $border-color-light;
        font-weight: 600;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &:disabled {
          color: black;
          background-color: $kip-faded-color;
          cursor: not-allowed;
        }

        p {
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          text-transform: uppercase;
        }

        svg {
          vertical-align: top !important;
          font-size: 23px;
          padding: 0;
          width: $nav-height / 2;
          margin-right: $padding;
        }

        &.side__share {
          height: unset;
          background: $secondaryColor;
          color: white;
        }

        &.side__new_cart {
          height: unset;
          background: $mainColor;
          color: black;

          @media (min-width: 900px) {
            background-color: $thirdColor;
            color: white;
          }
        }
      }
    }
  }
}

.cartsidenav {
  @media (min-width: 900px) {
    position: relative;
    width: 250px;
    height: 100%;
    float: right;
    display: inline-block;
    z-index: 0;
    background: $kip-secondary-color;
  }

  .sidenav__overlay {
    @media (min-width: 900px) {
      display: none;
    }
  }

  .sidenav__list {
    &.large {
      @media (min-width: 900px) {
        background: white;
        height: calc(100% - #{$nav-height});
      }
    }

    @media (min-width: 900px) {
      background: white;
      height: calc(100% - #{$nav-height * 1.75});
    }

    li {
      &.sidenav__list__header {
        @media (min-width: 900px) {
          display: none;
        }
      }

      &.sidenav__list__view {
        @media (min-width: 900px) {
          padding: $padding 0;
          overflow-y: auto;
        }
      }
    }
  }
}
