.sidebar {
    display: flex;
    min-width: 330px;
}

.sidebar-nav.navbar-collapse {
	overflow-x: hidden!important;
	overflow-y: scroll!important;
	height: calc(100vh - 52px)!important;
}

.resizable {
	min-height: 150px;
	height: 200px;
	resize: vertical;
	overflow: auto;
	margin: -15px;
	padding: 15px;
}

.panel-body {
	padding: 0;
	margin: 15px;
}

@media(min-width:768px) {
	#page-wrapper {
		margin: 0 0 0 330px;
	}
}

.category-sidebar {
    min-width: 170px;
    border-right: 1px solid #e7e7e7;
}

.sidebar-nav {
	width: 50%;
}