.sidebar {
    display: flex;
    min-width: 330px;
}

.resizable-chart {
	height: 250px;
	resize: vertical;
	overflow: auto;
}

@media(min-width:768px) {
	#page-wrapper {
		margin: 0 0 0 330px;
	}
}

.category-sidebar {
    min-width: 170px;
}

.sidebar-nav {
	width: 50%;
}