// react/components/Display/ArchivedCarts/ArchivedCarts.scss
@import '../../../../react-common/styles/Constants';

.archivedCarts {
  height: 100%;
  overflow: auto;

  .archivedCart {
    align-content: stretch;
    background: $color-white;
    border: 2px solid $kip-faded-color;
    border-radius: $padding;
    display: flex;
    filter: grayscale(70%);
    justify-content: stretch;
    margin: $padding;
    padding: 2 * $padding;
    text-align: left;

    &:hover {
      filter: grayscale(0%);
    }

    .image-container {
      border-radius: 10px;
      box-shadow: $card-box-shadow;
      display: flex;
      flex-wrap: wrap;
      height: 130px;
      margin: 0 ($padding * 2) 0 0;
      width: 130px;

      .image {
        background-size: cover;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }
}
