<nav class="subnav-fixed">
  <select class="menu pull-left" 
          ng-change="changeRoute()"
          ng-model="currentRoute"
          ng-options="route for route in routes">
  </select>
  <p class="superuser-title">{{region | capitalizeFirst}} Entries</p>
</nav>

<div id="shelf" class="shelf-surface wrap superuser-background">
  <div class="container-fluid navfix">
    <div class="superuser-list" lazy-load load-more="loadEntries()">
     
      <ul>
        <li class="announcement" ng-repeat="entry in entries">

          <div class="superuser-left-col">
            <div>
              <button ng-if="entry.valid" 
                      class="btn btn-success"
                      ng-click="toggleValidity($index)">Valid</button>
              <button ng-if="!entry.valid" 
                      class="btn btn-warning"
                      ng-click="toggleValidity($index)">Invalid</button>
            </div>
            <br>
            <div>
              <button class="btn btn-danger"
                      ng-click="deleteEntry($index)">Delete</button>
            </div>
          </div>

          <div class="media card superuser-list-item">

            <h4>{{entry.userName}}</h4>
            <p>{{entry.worldName}}</p>
            <img ng-src="{{entry.imgURL}}">
            <div ng-repeat="tag in entry.contestTags">
              <p></p>
            </div>
            <p>{{entry.distanceFromWorld}}</p>

          </div>

        </li>
      </ul>

    </div>
  </div>
  <div class="clearfix"></div>
</div>