@import '../../themes/constants';
@import '../../themes/animations';

.statement {
	position: relative;
	text-align: center;
	@include animation(fadeInUp cubic-bezier(0.4, 0, 0.2, 1) 3s);

	.card {
		margin: 0 auto;
		background: white;
		padding: $padding*3 $padding*2 $padding*10;
		text-align: left;

		.headline {
			padding: 0 0 $padding*2;

			* {
				display: inline-block;
				height: $ribbonHeight - $padding;
				line-height: $ribbonHeight - $padding;
				font-size: 32px;
			}

			span {
				height: $ribbonHeight - $padding;
				line-height: $ribbonHeight - $padding;
			}

			& > h1 {
				display: block;
			}

			h1 {
				&.hightlight {
					background: $primaryColor;
				}
			}

			.Static {
				* {
					display: block;
				}
			}
		}

		.Static {
			display: block;
		}

		.text {
			max-width: 500px;

			p {
				font-size: 17px;
			}
		}

		.action {
			padding: $padding*2 0;
			button {
				border: 0;
				font-weight: bold;
				border-radius: $padding/2;
				background: $secondaryColor;
				padding: $padding $padding*2;
			    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

				&:focus {
					@include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
				}
			}
		}
	}
}


			
