<div class="row">
	<div ng-repeat="(key, map) in mapThemes" class="col-xs-12 col-sm-6">
		<label>{{::map.name}}</label>
		<div class="edit-map-card"
			ng-class="{selected: mapThemeSelect == key}">
			<img ng-src="{{map.img}}" class="img-responsive"
				ng-click="selectMapTheme(key)">
		</div>
	</div>
</div>

<label>Upload your own Map 
	<span class="glyphicon glyphicon-info-sign info" bs-tooltip="tooltips.local_map"></span>
</label> 

<br>

<button class="btn btn-info" ng-file-select ng-file-change="onLocalMapSelect($files)">+ Add a Local Map</button>

<div ng-show="mapImage">
	<em>New Local Map</em>  
	<button type="button" class="close" ng-click="removePlaceImage()">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<input type="range" min="0.006" max="5" step="0.006" value="1" ng-model="temp.scale">
	<br>
	<button class="btn btn-warning" ng-click="buildLocalMap()">Build Local Map</button>
</div>

<div>
	<li class="panel panel-default u-marginTop30">

		<div class="panel-heading">
			<span class="panel-title">
				<h3 class="u-inline">1</h3> 1st Floor
				<button type="button" class="close">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only"></span>
				</button>
			</span>
		</div>

		<div class="panel-body">
			<div class="form-group form-inline">
				<div class="form-group">
					<label>Floor</label>
					<br>
					<div>
						<button class="floorButton upButton"></button>
						<button class="floorButton downButton"></button>
						<input type="text" size="3" class="form-control">
					</div>
				</div>

				<div class="form-group u-marginLeft10">
					<label>Floor Name</label>
					<br>
					<input type="text" size="16" class="form-control">
				</div>
	
				<div class="uploadActions--wrapper">
					<button class="btn btn-info">Upload Map</button>
				</div>
			</div>
		</div>
		

	</li>
</div>