<h3>Maps</h3>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<label>Arabesque</label>
		<div class="edit-map-card"
			ng-class="{selected: mapThemeSelect == mapThemes[0]}">
		<img src="/img/mapbox/arabesque_small.png" class="img-responsive"
				ng-click="mapThemeSelect=mapThemes[0]">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<label>Fairy</label>
		<div class="edit-map-card"
			ng-class="{selected: mapThemeSelect == mapThemes[1]}">
		<img src="/img/mapbox/fairy_small.png" class="img-responsive"
				ng-click="mapThemeSelect=mapThemes[1]">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<label>Sunset</label>
		<div class="edit-map-card"
			ng-class="{selected: mapThemeSelect == mapThemes[2]}">
		<img src="/img/mapbox/sunset_small.png" class="img-responsive"
				ng-click="mapThemeSelect=mapThemes[2]">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<label>Urban</label>
		<div class="edit-map-card"
			ng-class="{selected: mapThemeSelect == mapThemes[3]}"
			ng-click="mapThemeSelect=mapThemes[3]">
		<img src="/img/mapbox/urban_small.png" class="img-responsive">
		</div>
	</div>
</div>

<select ng-model="mapThemeSelect" ng-options="mapTheme.cloudMapName for mapTheme in mapThemes" class='form-control'></select>

<h3>Local Map</h3>