<h3>Styles</h3>
<div class="form-group">
	<label>Navigator Background</label>
	<spectrum-colorpicker ng-model="style.navBG_color" options="{showAlpha:true}" format="'rgb'"></spectrum-colorpicker>
</div>
<div class="form-group">
	<label>Body Background</label>
	<spectrum-colorpicker ng-model="style.bodyBG_color" format="'rgb'"></spectrum-colorpicker>
</div>
<div class="form-group">
	<label>Title Background</label>
	<spectrum-colorpicker ng-model="style.titleBG_color" format="'rgb'"></spectrum-colorpicker>
</div>
<div class="form-group">
	<label>Landmark Title Color</label>
	<spectrum-colorpicker ng-model="style.landmarkTitle_color" format="'rgb'"></spectrum-colorpicker>
</div>
<div class="form-group">
	<label>Category Title Color</label>
	<spectrum-colorpicker ng-model="style.categoryTitle_color" format="'rgb'"></spectrum-colorpicker>
</div>

<h3>Widgets</h3>
					<div class="field">
						<div class="row">
						<div class="col-xs-6 widgetCheck">
							<input type="checkbox" name="twitter" id="twitter" ng-model="style.widgets.twitter" ng-init="style.widgets.twitter=false">
							<label for="twitter">Twitter</label>
						</div>
						<div class="col-xs-6 widgetCheck">
							<input type="checkbox" name="instagram" id="instagram" ng-model="style.widgets.instagram" ng-init="style.widgets.instagram=false">
							<label for="instagram">Instagram</label>
						</div>
						<div class="col-xs-6 widgetCheck">
							<input type="checkbox" name="upcoming" id="upcoming" ng-model="style.widgets.upcoming" ng-init="style.widgets.upcoming=false">
							<label for="upcoming">Upcoming</label>
						</div>
						<div class="col-xs-6 widgetCheck">
							<input type="checkbox" name="categorySwitch" id="categorySwitch" ng-model="style.widgets.category" ng-init="style.widgets.category=false">
							<label for="categorySwitch">Categories</label>
						</div>
						<div class="col-xs-12" ng-show="style.widgets.twitter || style.widgets.instagram">
						Current Tag: {{world.hashtag}}
						</div>
						</div>
					</div>
				</div>