// react/components/CartStore/CartStore.scss
@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.view {
	position: relative;
	max-width: 1066px;
	margin: 0 auto;
	padding: 0 0 $padding*2;

	@media only screen and (max-width: 600px) {
		padding: 0 0 $padding*7.5;
	}

  & > .tabs {
    position: fixed;
    bottom: 0;
    height: 50px;
    background: white;

    h1 {
      height: 50px;
      line-height: 50px;
      color: #8D8D8D;

      &.selected {
        color: $secondaryColor;
      }

      span {
        border-bottom: 4px solid transparent !important;
      }
    }
  }

	* {
	    max-width: 1066px;
	}

	.card {
		background-color: white;
	    border-radius: $padding/2;
	    box-shadow: $card-box-shadow;
	    padding: $padding $padding*2;
	    margin: 10px 2px 0;
	}

	& > .buttons {
		position: fixed;
		width: 100%;
		bottom: $nav-height;
		left: 0;
		padding: 0;
		height: 40px;
		border-top: 1px solid $border-color-light;
		z-index: 10;

		@media only screen and (min-width: 600px) {
			display: none;
		}

		button {
			margin: 0 0;
			width: 100%;
			border-radius: 0;
			padding: 0 $padding;
			
			&.blue {
        display: none;
      }
			&.locked {
				background: $secondaryColor;
				color: white;

				svg {
					fill: white;
				}
			}
		}
	}
}
