// react/components/CartStore/CartStore.scss
@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.view {
  padding: 0 0 25px;

	@media only screen and (max-width: 600px) {
    height: auto;
		padding: 0 0 100px;
	}

  &.view_search {
    @media only screen and (max-width: 600px) {
      padding: 0 0 0;
    }
  }

	& > * {
	    max-width: 866px;
	}

	.card {
		background-color: white;
	    border-radius: $padding/2;
	    box-shadow: $card-box-shadow;
	    padding: $padding $padding*2;
	    margin: 10px 2px 0;
	}
}

