<div class="container navfix">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12 text-center">

			<span ng-show="showNoLoc">
				<h4>Sorry, we need your location before entering bubbl.li</h4>
				
				<h5>
					We know privacy is important, so we understand :)
					<br>
			    	You can re-enable Location Sharing in your browser settings
				</h5>
				<img ng-if="showNoLoc" width="250" ng-src="/img/IF/failfairy.png"/>
				<br><br>
			</span>		

			<span ng-show="showCreateNew">
				<h4>NO WORLDS NEAR YOU</h4>
				<h4><a ng-href="/#/newworld">+ Create a New World?</a></h4>
			</span>
		
		</div>
	</div>
</div>