// react/components/Settings/Settings.scss
@import '../../../react-common/styles/Constants';
.settings {
  position: relative;
  height: 100%;
  width: 100%;
  padding: $padding*2 $padding*2 0;

  ul {
  	height: calc(100% - #{$nav-height});
  	text-align: right;

  	li {
  		font-size: 15px;
  		line-height: $nav-height/1.5;
  		height: $nav-height/1.5;
      cursor: pointer;
  	}
  }

  h4 {
  	line-height: $nav-height;
  	height: $nav-height;
  	text-align: right;
  	width: 100%;
  }
}

