// react/components/Settings/Settings.scss
@import '../../../react-common/styles/Constants';
.settings-page {
  position: relative;
  height: 100%;
  width: 100%;
  padding: $padding*2 $padding*2 0;
  display: flex;
  flex-direction: column;
  border-top: 3px solid $color-blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  ul {
    flex: 1 1 auto;
    text-align: right;
    li {
      font-size: 15px;
      line-height: $nav-height/1.5;
      height: $nav-height/1.5;
      cursor: pointer;
    }
  }
  .reachKip {
    height: 300px;
    width: 300px;
    background: url('//storage.googleapis.com/kip-random/many_kips/grabber.svg');
		align-self: end;
		position: relative;
		right: -70px;
		bottom: -20px;
  }
  h4 {
    line-height: $nav-height;
    height: $nav-height;
    text-align: right;
    width: 100%;
  }
}
