<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="hashtag">Hashtag</label>
				<div class="hashtag">
					<input type="text"
						class="form-control" 
						style="width: 96%"
						name="hashtag"
						ng-model="world.resources.hashtag">
				</div>
			</div>
			<div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="style.widgets.instagram">Enable Instagram
			    </label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="style.widgets.twitter">Enable Twitter
				</label>
			</div>
		</div>
	</div>
</div>