<div>
<ul class="walkthrough-maps">
	<li class="walkthrough-maps-item" 
		ng-class="{selected: mapThemeSelect == 'arabesque'}"
		ng-click="selectMapTheme('arabesque')">
		<img class="walkthrough-maps-img" src="img/mapbox/arabesque_small.png">
		<label>Arabesque</label>
	</li>
	<li class="walkthrough-maps-item"
		ng-class="{selected: mapThemeSelect == 'fairy'}"
		ng-click="selectMapTheme('fairy')">
		<img class="walkthrough-maps-img" src="img/mapbox/fairy_small.png">
		<label>Fairy</label>
	</li>
	<li class="walkthrough-maps-item"
		ng-class="{selected: mapThemeSelect == 'sunset'}"
		ng-click="selectMapTheme('sunset')">
		<img class="walkthrough-maps-img" src="img/mapbox/sunset_small.png">
		<label>Sunset</label>
	</li>
	<li class="walkthrough-maps-item"
		ng-class="{selected: mapThemeSelect == 'urban'}"
		ng-click="selectMapTheme('urban')">
		<img class="walkthrough-maps-img" src="img/mapbox/urban_small.png">
		<label>Urban</label>
	</li>
</ul>
</div>