@import '../../styles/Constants';
@import '../../styles/Animations';

.modal {
	position: absolute;
	background: $kip-primary-color;
	z-index: 100;
	top: $nav-height;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	overflow: hidden;

	// @include animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
	// @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

	.form {
		padding: $padding*3 $padding*2 $padding*2;

		label {
			display: block;
			text-align: left;
			margin-bottom: 0;
			font-size: 18px;
		}
		span {
			color: rgba(black, 0.4);
		}
		.form__input {
			height: $nav-height;
			width: 100%;
			background: rgba(white, 0.6);
			border: 2px dashed $color-blue;
			margin-bottom: $padding;
			text-align: left;

			* {
				padding: 0;
				margin: 0;
			}

			button,
			input {
				height: $nav-height - 2px;
				line-height: $nav-height - 2px;
        		border-radius: 4px;
				background: transparent;
				border: 0;
			}

			.form__input__submit {
				width: $nav-height*1.5;
				@include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

				p {
					background: $color-blue;
					height: $nav-height - 4px - $padding;
          margin: $padding/3;
          color: $kip-primary-color;
          line-height: 3.6em;
          font-weight: 600;
          border-radius: 4px;
				}

				&:disabled {
					opacity: 0;
				}
			}

			input {
				overflow: hidden;
				text-overflow: ellipsis;
				width: calc(100% - #{$nav-height*1.5});
				padding: $padding;
			}
		}
	}

	.modal__drag {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		cursor: move;
		height: $nav-height/1.5;
	}
}
