@import '../../styles/Constants';
@import '../../styles/Animations';
.modal {
  position: absolute;
  background: $kip-primary-color;
  height: calc(100% - #{$nav-height*2});
  z-index: 100;
  top: $nav-height;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  .form {
    padding: $padding $padding*2 $padding*2 $padding*2;
    .deals__section {
      padding: 0 $padding $padding;
      margin: 0 -$padding 0 -$padding;
    }
    label {
      display: block;
      text-align: left;
      margin-bottom: 0;
      font-size: 18px;
    }
    span {
      display: none;
    }
    .form__input {
      height: $nav-height;
      width: 100%;
      background: white;
      border: 2px dashed $color-blue;
      margin-bottom: $padding;
      text-align: left;
      * {
        padding: 0;
        margin: 0;
      }
      button,
      input {
        height: $nav-height - 4px;
        line-height: $nav-height - 4px;
        border-radius: 4px;
        background: transparent;
        border: 0;
      }
      input {
        background: white
      }
      .form__input__submit {
        width: $nav-height*1.5;
        @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
        p {
          background: $color-blue;
          height: $nav-height - 4px - $padding;
          margin: $padding/3;
          color: $kip-primary-color;
          line-height: 3.6em;
          font-weight: 600;
          border-radius: 4px;
        }
        &:disabled {
          opacity: 0;
        }
      }
      input {
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - #{$nav-height*1.5});
        padding: $padding;
      }
    }
  }
  .modal__drag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: move;
    height: $nav-height/1.5;
  }
}
