@import '../../themes/constants';
@import '../../themes/animations';

.hero {
	position: relative;
	display: block;
	overflow: hidden;
	background: #fff;
	padding: 0 $padding*5;
	width: 100%;

	@media only screen and (max-width: 600px) {
		height: 500px;
	}

	.hero__main {
		position: relative;
		display: table;
		height: 650px;
		width: 100%;
	    max-width: 1200px;
	    margin: 0 auto;
		.headline {
			display: table-cell;
			vertical-align: middle;
			padding:$padding 0;
			text-align: left;

			@media only screen and (max-width: 600px) {
				* {
					font-size: 27px;
				}
			}

			h1 {
				display: inline-block;
				line-height: $ribbonHeight;
				font-size: 30px;
				color: $primaryColor;

				&.hightlight {
					background: $primaryColor;
				}

				@media only screen and (max-width: 600px) {
					line-height: 40px;
				}
			}

			p {
				font-size: 18px;
				color: darken($bgColor, 5);

				span {
					font-weight: 600;
					border-bottom: 3px solid $secondaryColor;
				}
			}

			.action {
				padding: $padding*2 0 $padding*2;
				button {
					border: 0;
					font-weight: bold;
					border-radius: $padding/2;
					background: white;
					padding: $padding $padding*4;
					font-size: 20px;
					cursor: pointer;
				    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
					&:focus {
						@include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
					}
				}
				a {
					&:first-of-type {
						button {
							margin-right: $padding*2;
							background: rgba($warningColor, 0.8);
							color: white;

							@media only screen and (max-width: 600px) {
								margin: 0 0 $padding*2;
							}
						}
					}
				}
			}
		}

		.animation {
			display: table-cell;
			vertical-align: middle;
			padding: 0;

			.image {
				background-image: url(https://storage.googleapis.com/kip-random/website/kip_collect.gif);
				background-size: contain;
				background-position: center;
				height: 60%;
			}
		}
	}

	.more {
		height: $ribbonHeight*2;
		cursor: pointer;
	    margin: 0 auto;
	    display: inline-block;
		h2 {
			height: $ribbonHeight/2;
			margin-bottom: $padding;
			color: darken($bgColor, 5);
			max-width: 500px;
			span {
				border-bottom: 3px solid $primaryColor;
			}
		}
		p {
			max-width: 500px;
		}
		svg {
			margin-top: $padding;
			width: $ribbonHeight;
			height: $ribbonHeight/2;
			@include animation(bounceDownSmall 3s infinite);
		}
	}


	.icons {
		position: relative;
		height: $ribbonHeight*3;
		width: 100%;
		padding: 0;
		display: table;
		background: white;
		max-width: 1200px;
		margin: 0 auto;

		& > div {
			display: table-cell;
			vertical-align: middle;
			fill: rgba($bgColor, 0.5);
			padding: 0;
		}
	}
}

