@import '../../themes/constants';
@import '../../themes/animations';

.statement {
	position: relative;
	text-align: left;
	background: white;
	margin: 0 auto;
	padding: $padding*3 $padding*5 $padding*20;
	@include animation(fadeInUp cubic-bezier(0.4, 0, 0.2, 1) 3s);


	@media only screen and (max-width: 600px) {
		padding: $padding*3 $padding*2 $padding*5;
	}

	.headline {
		padding:$padding 0;

		@media only screen and (max-width: 600px) {
			* {
				font-size: 27px;
			}
		}

		h1 {
			display: inline-block;
			line-height: $ribbonHeight;
			font-size: 30px;
			color: $primaryColor;

			&.hightlight {
				background: $primaryColor;
			}
		}
	}

	.text {
		max-width: 500px;
		text-align: left;
		display: block;
		margin-left: 0;

		p {
			font-size: 18px;
		}
	}

	.action {
		padding: $padding*2 0 $padding*2;
		button {
			border: 1px solid #eccd46;
			font-weight: bold;
			border-radius: $padding/2;
			background: white;
			padding: $padding $padding*4;
			font-size: 20px;
			cursor: pointer;
		    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
			&:focus {
				@include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
			}
		}
		a {
			&:first-of-type {
				button {
					margin-right: $padding*2;
					background: $secondaryColor;

					@media only screen and (max-width: 600px) {
						margin: 0 0 $padding*2;
					}
				}
			}
		}
	}

	.sine {
		fill: mix(#fcfcf9, $primaryColor, 97%);
		stroke: $borderColor;
	    stroke-width: 0.5;
	    margin-left: -1px;
	    width: calc(100% + 3px);
	}
}


			// cart__length__text/