@import '../../themes/constants';
@import '../../themes/animations';

.showcase {
	position: relative;
	text-align: center;
	min-height: 2000px;
	background: rgb(234, 249, 255);

	.image {
		background-image: url("https://s3.amazonaws.com/assets-chachat/phoneclip.png");
	}

	.phone {
		position: relative;
		height: 800px;
		width: 425px;
		background-size: contain;
		z-index: 50;
		padding: $padding*4 $padding*1.5 0;
		transform: translate3d(150px,-150px,0);

		&.fixed {
			position: fixed;
			top: $ribbonHeight*5 + $padding*2;
		}

		&.absolute {
			position: absolute;
			bottom: -300px;
		}

		@media only screen and (max-width: 600px) {
			width: 215px;
			margin: 0 calc(50% - 107.5px);
			height: 400px;
			padding: $padding*2 $padding 0;
			transform: translate3d(0, -100px, 0);

			&.fixed {
				margin: 0;
				left: calc(50% - 107.5px);
			}

			&.absolute {
				position: absolute;
				bottom: -135px;
			}
		}
	}

	.sine {
		fill: rgb(234, 249, 255);
	    margin-top: -150px;
	    top: 0;
	    margin-left: -1px;
	    height: 150px;
	    z-index: 10;
	    width: calc(100% + 3px);
	}

	.bottom {
		position: absolute;
		fill: mix(white, $primaryColor, 97%);
	    height: 150px;
	    margin-left: -1px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: calc(100% + 3px);
	}
}