@import '../../themes/constants';
@import '../../themes/animations';

.showcase {
	position: relative;
	text-align: center;
	background: rgb(234, 249, 255);

	.phone {
		position: relative;
		height: 800px;
		width: 425px;
		background-size: contain;
		z-index: 50;
		transform: translate3d(150px,-150px,0);
	}

	.sine {
		fill: rgb(234, 249, 255);
	    margin-top: -150px;
	    top: 0;
	    margin-left: -1px;
	    height: 150px;
	    z-index: 10;
	    width: calc(100% + 3px);
	}

	.bottom {
		fill: mix(white, $primaryColor, 97%);
	    height: 150px;
	    margin-left: -1px;
	    width: calc(100% + 3px);
	}
}