@import '../../styles/Constants';
$cart__add-height: $nav-height+$padding;
.cart {
  height: calc(100% - #{$nav-height});
  position: relative;
  .cart__locked {
    padding: $padding $padding*2 $padding*2;
    background: $header-color;
    text-align: center;

    .cart__locked__text {
      height: $nav-height;
      line-height: $nav-height;
      text-align: center;

      * {
        display: inline-block;
        font-size: 20px;
        color: white;
        padding: 0 $padding/2;
      }

      svg {
        font-size: 25px;
      }
    }

    button {
      border: 2px solid white;
      background: transparent;
      color: white;
      font-size: 15px;
      padding: $padding $padding*2;
      margin: 0 auto;
      border-radius: 10px;
    }
  }
  .cart__add {
    padding: 0 $padding*2 $padding $padding*2;
  }
  .cart__title {
    height: $nav-height - $padding;
    line-height: $nav-height - $padding;
    background: $border-color-light;
    text-align: center;
  }
  .cart__items {
    height: calc(100% - #{$cart__add-height + $nav-height - $padding});
    overflow-y: visable;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    ul {
      h3 {
        border-bottom: 1px solid $border-color-light;
        padding: $padding;

        span {
          color: $price-color;
        }
      }
    }
    .cart__items__title {
      font-weight: 500;
      letter-spacing: 1px;
      height: $nav-height;
      line-height: $nav-height;
      padding: 0 $padding*2;
      border-bottom: 1px solid $border-color-light;
    }
    .cart__items-empty {
      padding: $padding*2;
      background: white;
      border-bottom: 1px solid $border-color-light;
      .image {
        height: 50px;
      }
      h4 {
        text-align: center;
        padding: $padding;
      }
    }
  }
  .cartswitcher__cart {
    font-size: 14px;
    font-family: $main-font;
    text-decoration: underline;
    list-style: disc none inside;
  }
}
