@import '../../styles/Constants';
.cartItem {
  padding: $padding*2;
  border-bottom: 1px solid $border-color-light;
  background: $kip-primary-color;
  font-family: $secondary-font;
  .cartItem__title {
    height: $nav-height;
    line-height: $nav-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cartItem__image {
    display: inline-block;
    background-color: transparent;
  }
  .cartItem__props {
    display: inline-block;
    padding: 0 0 0 $padding*2;
    p {
      float: left;
      clear: left;
      font-size: 13px;
    }
    .cartItem__actions {
      float: right;
      padding: $padding/2;
      button {
        cursor: pointer;
        font-family: $secondary-font;
        font-size: 16px;
        color: $kip-faded-color;
        padding: 0 $padding;
        height: $padding * 3;
        width: $padding * 7;
        background: white;
        border: 2px solid $border-color-light;
        border-radius: $padding/2;
        &:active {
          background: $border-color-light;
        }
      }
    }
  }
}
