// react/components/Cart/CartItem.scss
@import '../../styles/Constants';
@import '../../styles/Animations';
.cartItem {
  padding: $padding*2;
  background: $kip-primary-color;
  font-family: $secondary-font;
  &:last-of-type {
    border-bottom: 0;
  }
  .cartItem__title {
    height: $nav-height;
    line-height: $nav-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cartItem__image {
    display: inline-block;
    background-color: transparent;
  }
  .cartItem__props {
    display: inline-block;
    padding: 0 0 0 $padding*2;
    &.locked {
      width: 100%;
    }
    p {
      float: left;
      clear: left;
      font-size: 13px;
      color: lighten($header-color, 10%);
      &:first-of-type {
        color: $header-color;
        margin-bottom: $padding;
        font-size: 15px;
      }
    }
    .cartItem__actions {
      float: right;
      padding: $padding/2;
      button {
        cursor: pointer;
        font-family: $secondary-font;
        font-size: 13px;
        color: $kip-faded-color;
        padding: 0 $padding;
        height: $padding * 3;
        background: white;
        border: 2px solid $border-color-light;
        border-radius: $padding/2;
        &:active {
          background: $border-color-light;
        }
        &:disabled {
          background: $header-color;
          color: white;
          border: 2px solid $header-color;
          cursor: not-allowed;
        }
      }
    }
  }
}

.cartItem-enter {
  @include animation(fadeInDown cubic-bezier(0.4, 0, 0.2, 1) 0.99s);
  @include transition(all 0.99s cubic-bezier(0.4, 0, 0.2, 1));
}

.cartItem-leave {
  @include animation(fadeOutRight cubic-bezier(0.4, 0, 0.2, 1) 0.99s);
  @include transition(all 0.99s cubic-bezier(0.4, 0, 0.2, 1));
}

