// react/components/Cart/Cart.scss
@import '../../styles/Constants';
@import '../../styles/Animations';
$cart__add-height: $nav-height+$padding;
.cart {
  height: calc(100% - #{$nav-height});
  position: relative;
  .cart__locked {
    background: $header-color;
    .cart__locked__actions {
      padding: $padding;
      background: $kip-primary-color;
      border-bottom: 1px solid $border-color-light;
      border-top: 1px solid $border-color-light;
      button {
        height: $nav-height;
        width: 100%;
        background: #4a9ff1;
        border: 0;
        color: white;
        padding: 0 $padding*2;
        font-size: 17px;
        border-radius: 5px;
        text-align: left;
        font-weight: bold;
        background: $secondary-button-color;
        svg {
          display: inline-block;
          vertical-align: top!important;
          font-size: 30px;
          margin-right: $padding;
          height: 100%;
        }
        h1 {
          display: inline-block;
          text-align: left;
        }
        &.secondary {
          color: $header-color;
          margin-top: 10px;
          font-size: 18px;
          background: $main-button-color;
          h1 {
            margin-top: 5px;
            line-height: $nav-height/2 - 5px;
            height: $nav-height/2;
          }
        }
        &.primary {
          margin-top: 0;
          h1 {
            line-height: $nav-height;
            height: $nav-height;
          }
        }
      }
    }
    .cart__locked-container {
      position: relative;
      height: $nav-height;
      line-height: $nav-height;
      padding: 0 $padding;
      .cart__locked__text {
        display: inline-block;
        height: $nav-height;
        line-height: $nav-height;
        text-align: left;
        padding: $padding/2 0;
        p {
          display: block;
          height: $nav-height/2 - 5px;
          line-height: $nav-height/2 - 5px;
          font-size: 13px;
          text-align: left;
          padding: 0;
          &:first-of-type {
            font-size: 18px;
          }
        }
        * {
          display: inline-block;
          font-size: 20px;
          color: white;
          padding: 0 $padding/2;
        }
        svg {
          font-size: 25px;
        }
      }
      button {
        position: absolute;
        right: $padding;
        clear: both;
        border: 2px solid white;
        background: transparent;
        color: white;
        font-size: 15px;
        height: $nav-height - 20px;
        padding: 0 $padding*2;
        margin: $padding auto;
        border-radius: 10px;
        svg {
          vertical-align: top!important;
          font-size: 17px;
          margin-right: $padding/2;
        }
      }
    }
  }
  .cart__add {
    padding: 0 $padding*2 $padding $padding*2;
  }
  .cart__title {
    height: $nav-height - $padding;
    line-height: $nav-height - $padding;
    background: $border-color-light;
    text-align: center;
    @include animation(fadeIn cubic-bezier(0.4, 0, 0.2, 1) 0.33s);
    @include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));
    &.action {
      background: $main-button-color;
    }
  }
  .cart__items {
    height: calc(100% - #{$cart__add-height + $nav-height - $padding});
    overflow-y: visable;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    ul {
      overflow: hidden;
      h3 {
        border-bottom: 1px solid $border-color-light;
        padding: $padding;
        span {
          color: $price-color;
          &.locked {
            color: $header-color;
          }
        }
      }
    }
    .cart__items__container {
      overflow: hidden;
    }
    .cart__items__title {
      font-weight: 500;
      letter-spacing: 1px;
      height: $nav-height;
      line-height: $nav-height;
      padding: 0 $padding*2;
      border-bottom: 1px solid $border-color-light;
    }
    .cart__items-empty {
      padding: $padding*2;
      background: white;
      border-bottom: 1px solid $border-color-light;
      .image {
        height: 50px;
      }
      h4 {
        text-align: center;
        padding: $padding;
      }
    }
  }
  .cartswitcher__cart {
    font-size: 14px;
    font-family: $main-font;
    text-decoration: underline;
    list-style: disc none inside;
  }
}
