<!DOCTYPE HTML>
<html>

<head>
  <title>Menu</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="../ang/app.js" defer></script>
  <script src="../ang/menu.factory.js" defer></script>
  <script src="../ang/item.directive.js" defer></script>
</head>

<body ng-app="app" ng-controller="menuController">
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1>{{name}}</h1>
          <h2>Courtesy of Kip</h2>
        </div>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <!-- <div class="sidebar_top"></div> -->
          <!-- <div class="sidebar_item"> -->
            <!-- insert your sidebar items here -->
            <h3>Cart</h3>
            <div ng-repeat="item in cart">
              <div class="sidebar_top"></div>
              <div class="sidebar_item">
                <h4>
                  <span class="item_name">{{item.name}}</span>
                  <span class="price">{{item.price * item.item_qty}}</span>
                </h4>
                <div ng-repeat="selected in options[item.id]">
                  <h5>
                    {{selected[0]}} (+ {{selected[1]}})
                  </h5>
                </div>
              </div>
              <div class="sidebar_base"></div>
              <div class="qty_area">
                <span class="fewer_btn">
                  <button ng-click="changeQuantity(item.id, -1)">-</button>
                </span>
                <span>{{item.item_qty}}</span>
                <span class="more_btn">
                  <button ng-click="changeQuantity(item.id, 1)">+</button>
                </span>
              </div>
            </div>
            <button ng-hide="minimum > total" class="checkout_btn" ng-click=checkout()>
              Check out for {{total}}
            </button>
            <h5 ng-show="minimum > total">
              Add {{minimum-total}} to your order to check out!
            </h5>
          <!-- </div> -->
          <!-- <div class="sidebar_base"></div> -->
        </div>
      </div>
      <div id="content">
        <!-- <h1>Type of Food</h1> -->
        <div ng-repeat="category in menu">
          <div class="category_name" ng-click="toggleCategory(category.id)">
            <h1 style="text-align:center;">{{category.name}}</h1>
          </div>
          <div ng-show="categories[category.id]" ng-repeat="item in category.children" class="menu_item">

            <h2>
              <span ng-click="itemDetails(item)" class="item_name">{{item.name}}</span>
              <span class="price" ng-hide="inProgress[item.id] && validateItem(item) && item.type=='item'">{{item.price}}</span>
              <span class="price" ng-show="inProgress[item.id] && validateItem(item) && item.type=='item'">
                <button ng-click="addToCart(item)">Add to cart for {{item.price}}</button>
              </span>
            </h2>
            <h3 class="item_description">{{item.description}}</h3>
            <div ng-show="$parent.inProgress[item.id]">

              <!-- One layer deep -->
            <!-- //<div ng-show="item.type=='item'"> -->
              <div ng-show="item.type=='item'" ng-repeat="child in item.children">
                <!-- ie option groups -->

                <h4>{{child.name}}</h4>

                <!-- here -->
                <div>
                  <div ng-show="child.min_selection == 1">
                    <div ng-repeat="option in child.children">
                      <form name="optionForm">
                        <label>
                          <input type="radio" name="child.name" ng-model="inProgress[item.id].options[child.name].radio" ng-value="option.unique_id"/>
                          {{option.name}} {{formatPrice(option.price)}}
                        </label>
                      </form>
                    </div>
                  </div>
                  <div ng-show="child.min_selection == 0">
                    <div ng-repeat="option in child.children">
                      <form>
                        <label>
                          <input type="checkbox" name="order" ng-model="inProgress[item.id].options[child.name][option.unique_id].chosen" ng-value="true"/>
                          {{option.name}} {{formatPrice(option.price)}}
                        </label>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-show="item.type=='item'">
                <h5>How many would you like?</h5>
                <div>
                  <input placeholder="1" ng-model="$parent.inProgress[item.id].item_qty"></input>
                </div>
              </div>
            </div>
              <!-- Two layers deep -->

            <div ng-show="item.type=='menu'">
                <!-- here -->
                <!-- <div ng-show="item.type=='menu'" ng-repeat="food in child.children"> -->
                <div ng-show="inProgress[item.id]" ng-repeat="child in item.children">
                  <!-- <h1>{{child.name}} ***** {{child.type}} //// {{item.type}}</h1> -->
                  <!-- child is of type item, for now -->
                  <!-- <h2 ng-show="child.type=='item'"> -->
                  <h2>
                    <span ng-click="itemDetails(child)" class="item_name">{{child.name}}</span>
                    <span class="price" ng-hide="inProgress[child.id] && validateItem(child) && child.type=='item'">{{child.price}}</span>
                    <span class="price" ng-show="inProgress[child.id] && validateItem(child) && child.type=='item'">
                      <button ng-click="addToCart(child)">Add to cart for {{child.price}}</button>
                    </span>
                  </h2>
                    <!-- <h2 ng-click="itemDetails(child)">
                      <span class="item_name">{{child.name}}</span>
                      <span class="price">
                         need the button set of of above
                       <button ng-click="itemDetails(child);addToCart(child);">Add to cart for {{child.price * inProgress[child.id].item_qty}}</button>
                      </span>
                    </h2> -->
                    <div ng-show="child.type=='item' && inProgress[child.id]" ng-repeat="og in child.children">
                      <div ng-show="og.min_selection == 1 && (og.type=='option group' || og.type=='price group')">
                        <h3>{{og.name}}</h3>
                        <div ng-repeat="option in og.children">
                          <form name="optionForm">
                            <label>
                              <input type="radio" name="og.name" ng-model="inProgress[child.id].options[og.name].radio" ng-value="option.unique_id"/>
                              {{option.name}} {{formatPrice(option.price)}}
                            </label>
                          </form>
                        </div>
                      </div>
                      <div ng-show="og.min_selection == 0 && (og.type=='option group' || og.type=='price group')">
                        <h3>{{og.name}}</h3>
                        <div ng-repeat="option in og.children">
                          <form>
                            <label>
                              <input type="checkbox" name="order" ng-model="inProgress[child.id].options[og.name][option.unique_id].chosen" ng-value="true"/>
                              {{option.name}} {{formatPrice(option.price)}}
                            </label>
                          </form>
                        </div>
                      </div>
                    </div>

                    <!-- <div ng-show="food.type=='option group'"> -->


                    <!-- </div> -->
                    <div ng-show="inProgress[child.id]">
                      <!-- {{child.name}} -->
                      <h5>How many would you like?</h5>
                      <div>
                        <input placeholder="1" ng-model="$parent.inProgress[item.id].item_qty"></input>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- end, for some reason? -->

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; simplestyle_4 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
