<!DOCTYPE HTML>
<html>

<head>
  <title>Menu</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="../ang/app.js" defer></script>
  <script src="../ang/menu.factory.js" defer></script>
</head>

<body ng-app="app" ng-controller="menuController">
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1>{{name}}</h1>
          <h2>Courtesy of Kip</h2>
        </div>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Cart</h3>
            <div ng-repeat="item in cart">
              <h4>
                <span class="item_name">{{item.name}}</span>
                <span class="price">{{item.price}}</span>
              <h4>
            </div>
            <button ng-click=checkout()>
              Check out for {{total}}
            </button>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <!-- <h1>Type of Food</h1> -->
        <div ng-repeat="item in menu" class="menu_item">
          <h2>
            <span ng-click="itemDetails(item)" class="item_name">{{item.name}}</span>
            <span class="price" ng-hide="inProgress[item.id] && validateItem(item)">{{item.price}}</span>
            <span class="price" ng-show="inProgress[item.id] && validateItem(item)">
              <button ng-click="addToCart(item)">Add to cart for {{item.price}}</button>
            </span>
          </h2>
          <h3 class="item_description">{{item.description}}</h3>
          <div ng-show="$parent.inProgress[item.id]">
            <div ng-repeat="child in item.children">
              <h4>{{child.name}}</h4>
              <div ng-show="child.min_selection == 1">
                <div ng-repeat="option in child.children">
                  <form name="optionForm">
                    <label>
                      <input type="radio" name="child.name" ng-model="$parent.inProgress[item.id].options[child.name].radio" ng-value="option.unique_id"/>
                      {{option.name}} {{formatPrice(option.price)}}
                    </label>
                  </form>
                </div>
              </div>
              <div ng-show="child.min_selection == 0">
                <div ng-repeat="option in child.children">
                  <form>
                    <label>
                      <input type="checkbox" name="order" ng-model="$parent.inProgress[item.id].options[child.name][option.unique_id].chosen" ng-value="true"/>
                      {{option.name}}
                    </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; simplestyle_4 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
