.header-section {
  background-color: #49d63a;
}

hr {
  background-color: #49d63a;
}

.kip-nav-bar > li.active {
  color: #49d63a;
}

.kip-nav-bar > li.active > a {
  color: #49d63a;
}

.get-kip-container {
  margin-top: 40px;
  width: 100%;
  padding: 50px 0px;
  background-color: #49d63a;
  color: #ffffff;
}

.get-kip-container h2 {
  color: #ffffff;
  font-size: 25pt;
  margin-left: 15px;
}

.get-kip-container img {
  max-width: 200px;
}

.get-kip {
  margin-bottom: 20px;
}

.get-kip > h2 {
  display: inline-block;
}

.kip-head {
  vertical-align: bottom;
  height: 50px;
}

.add-kip-button-list {
  margin-top: 15px;
}

.add-kip-button-list li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 767px) {
  .friend-cropper{
    margin: 0 0 -26% 0px;
  }
}

@media (min-width: 767px) {
  .friend-cropper{
    margin: 21px -115px -157px -433px;
    width:608px;
    max-width: none;
  }
}


@media (min-width: 992px) {
  .friend-cropper{
    margin: 16px 22px -153px 0px;
    max-width: 100%;

  }
}

@media (min-width: 1200px) {
  .friend-cropper{
    margin: 18px 39px -162px 0;
    max-width: 100%;
  }
}
