.office-main-content {
 margin-bottom: 30px;
}

hr {
  background-color: #fe9b00;
}

.kip-quote-container {
  width: 100%;
  padding: 30px 0px 40px 0px;
  background-color: #47a2fc;
  color: #fff;
  margin-bottom: 50px;
}

.kip-quote {
  font-size: 19pt;
  margin-top: 14px;
  padding-left: 2%;
  padding-right: 2%;
}

.chit-chat-container p {
  margin-top: 10px;
}

.get-kip-container {
  margin-bottom: 61px;
}

.get-kip {
  margin-bottom: 20px;
}

.get-kip > h2 {
  display: inline-block;
}

.kip-head {
  vertical-align: bottom;
  height: 50px;
}

@media (max-width: 767px) {
  .header-top{
    margin-top: -20%;
  }
}

@media (min-width: 992px) {
  .img-cropper{
    margin: 0 0 -147px 0;
  }
}

@media (min-width: 1200px) {
  .img-cropper{
    margin: 0 0 -228px 0;
  }
}
