@import '../../../../../react-common/styles/Constants';
@import '../../../../../react-common/styles/Animations';

.address {
  position: relative;
  width: 100%;

  &.clickable {
    .address-preview {
      cursor: pointer;
    }
  }

  &-preview {
    display: flex;
    p {
      flex: 1 1 auto;
    }
    span {
      padding: 0 $padding;
      color: $blue-header;
    }
  }

  ul {
    padding: $padding;
    li {

      border: 1px solid white;
      padding: $padding;
      margin-bottom: $padding;
      display: flex;
      align-items: center;

      &.selected {
        border: 1px solid $blue-header;
        background: rgba($blue-header, 0.2);
        border-radius: $padding/2;

        .circle {
          border: 5px solid $blue-header;
          background: white;
        }
      }

      p {
        display: inline-block;
        font-size: 14px;
      }

      .circle {
        display: inline-block;
        border-radius: 100%;
        height: $nav-height/3;
        width: $nav-height/3;
        margin: 0 $nav-height/6;
        border: 1px solid $border-color-light;
        cursor: pointer;
      }

      .text {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        h4 {
          cursor: pointer;
          width: 100%;
          padding: 4px;
        }
        p {
          cursor: pointer;
          padding: 4px;
          flex: 1 1 auto;
        }
        span {
          padding: 0 $padding;
          color: $blue-header;
          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
