<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>
    <link href="normalize.css" rel="stylesheet" type="text/css"/>
    <link href="skeleton.css" rel="stylesheet" type="text/css"/>
    <link href="resetPassword.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <h2 class="u-full-width u-textAlignCenter">please type a new password</h2>
    </div>
    <div class="row">
        <div class="four columns u-centered">
            <form class="u-full-width">
                <input id="email" name="email" type="email"
                       placeholder="email"
                       class="u-full-width"/>
                <input id="password"
                       name="password"
                       type="password"
                       placeholder="password"
                       class="u-full-width"/>
                <input
                    type="submit" value="update" class="u-full-width"/></form>
        </div>
    </div>
</div>
<script src="zepto.min.js"></script>
<script src="resetPassword.js"></script>
</body>
</html>