// react/components/Tabs/Tabs.scss

@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.tabs {
  background: $color-blue;
  border-bottom: 1px solid $border-color-light;
  height: $nav-height / 1.7;
  padding: 0 $padding;
  width: 100%;
  z-index: 100;

  h1 {
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 0 ($padding * 2);
    position: relative;

    svg {
      display: inline-block;
      margin-right: $padding/2;
      padding: 0 0 $padding/4;
    }

    span {
      display: inline-block;
    }

    &.selected {
      span {
        border-bottom: 4px solid $color-white;
        height: 28px;
      }
    }
  }
}
