// react/components/Tabs/Tabs.scss

@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.tabs {
  background: $color-white;
  border-bottom: 1px solid $border-color-light;
  height: $nav-height - $padding;
  padding: 0 $padding;
  width: 100%;
  z-index: 99;

  h1 {
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 0 ($padding * 2);
    position: relative;
    height: $nav-height - $padding;
    line-height: $nav-height - $padding;

    svg {
      display: inline-block;
      margin-right: $padding / 2;
      padding: 0 0 ($padding / 4);
      transition: color 0.5s;
    }

    span {
      display: inline-block;
      transition: color 0.5s;
    }

    &.selected {
      span {
        border-bottom: 4px solid $secondaryColor;
        height: $nav-height - $padding - 1px;
      }
    }

    &.highlight {
      span, svg {
        color: $thirdColor;
      }

    }
  }
}
