// react/components/Tabs/Tabs.scss

@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.tabs {
  background: $color-blue;
  border-bottom: 1px solid $border-color-light;
  height: $nav-height / 2;
  padding: 0 $padding;
  width: 100%;

  h1 {
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 0 ($padding * 2);
position: relative;
    span {
      display: block;
    }

    &.selected {
      span {
        border-bottom: 4px solid $color-white;
        height: 24px;
      }
    }
  }
}
