<div class="walkthrough-pic-upload">
	<div class="pic-preview circle-pic" ng-show="world.avatar">
		<img class="pic-preview-img circle-pic" 
			ng-src="{{world.avatar}}" 
			ng-file-select
			ng-file-change="pictureSelect($files)"
			ng-file-drop data-accept="image/*">
	</div>
	<div class="walkthrough-pic-upload-body"
		ng-file-select
		ng-file-change="pictureSelect($files)"
		ng-file-drop data-accept="image/*">
		<p class="vertical-middle">
			<span ng-file-drop-available="dropSupported=true"
				 ng-show="dropSupported">Drag & Drop an Image<br>
			or<br></span>
			<span class="blue500-text">Select a File</span>
		</p>
	</div>
</div>