@import '../../../react-common/styles/react-select/default';
@import '../../../react-common/styles/Constants';
.select-up .Select-menu-outer {
  position: absolute !important;
  top: auto !important;
  bottom: calc(100% - 1px) !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.select-up .is-open .Select-control {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.is-open .Select-arrow {
  transform: rotate(0.5turn);
}

.item__dropdowns {
  text-align: center;
  padding: 0 $padding*2;
  &:before {
    background: linear-gradient(to top, $kip-primary-color 0%, rgba($kip-primary-color, 0) 100%);
    position: relative;
    content: '';
    display: block;
    height: 10px;
    top: -10px;
    width: 100%;
  }
  .item__dropdown {
    text-align: left;
    padding: 3px 0;
    .Select-control {
      cursor: pointer;
      background-color: $kip-primary-color;
      height: 40px;
      border-color: $color-blue;
      border-width: 2px;
      display: flex;
      .Select-multi-value-wrapper {
        width: 100%;
      }
      .Select-arrow-zone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        height: 100%;
        .Select-arrow {
          border: none;
          padding: 0 7px;
          &:before, &:after {
            content: '';
            position: absolute;
            top: -3px;
            height: 5px;
            background: $color-blue;
          }
          &:before {
            left: 0;
            width: 51%;
            transform: skew(0deg, 40deg);
          }
          &:after {
            width: 50%;
            transform: skew(0deg, -40deg);
          }
        }
      }
    }
    .Select-input {
      align-self: center;
      vertical-align: none;
      &>input {
        line-height: 20px;
      }
    }
    .Select-value {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 60px;
        right: 0;
        height: 40px;
        top: 0;
        background: linear-gradient(to right, rgba($kip-primary-color, 0) 0%, $kip-primary-color 65%, $kip-primary-color 100%);
      }
      .Select-value-label {
        color: $color-blue;
      }
    }
    .Select-placeholder {
      display: flex;
      align-items: center;
      background: $color-blue;
      color: white;
      .Select-control {
        border-color: white;
      }
    }
    .Select-clear-zone {
      display: none;
    }
    .dropdown__option {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid $border-color-light;
      .dropdown__option__image {
        min-width: 28px;
        min-height: 28px;
        margin-right: 5px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}