@import '../../styles/react-select/default.scss';
@import '../../styles/Constants.scss';
.select-up .Select-menu-outer {
  position: absolute !important;
  top: auto !important;
  bottom: calc(100% - 1px) !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.select-up .is-open .Select-control {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.is-open .Select-arrow {
  transform: rotate(0.5turn);
}

.Select-placeholder {
  background: $color-blue;
  color: white;
  .Select-control {
    border-color: white;
  }
}

.item__dropdowns {
  text-align: center;
  padding: 0 20px;
  background: linear-gradient(to bottom, rgba(252, 252, 249, 0) 0%, $kip-primary-color 100%);
  .item__dropdown {
    text-align: left;
    padding: 3px 0;
    .Select-control {
      background-color: $kip-primary-color;
      height: 40px;
      border-color: $color-blue;
      border-width: 2px;
      display: flex;
      .Select-multi-value-wrapper {
        width: 100%
      }
      .Select-arrow-zone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .Select-arrow {
          border: none;
          padding: 0 7px;
          &:before, &:after {
            content: '';
            position: absolute;
            top: -3px;
            height: 5px;
            background: $color-blue;
          }
          &:before {
            left: 0;
            width: 51%;
            transform: skew(0deg, 40deg);
          }
          &:after {
            width: 50%;
            transform: skew(0deg, -40deg);
          }
        }
      }
    }
    .Select-input {
      align-self: center;
      vertical-align: none;
      &>input {
        line-height: 20px;
      }
    }
    .Select-value {
      .Select-value-label {
        color: $color-blue;
      }
    }
    .Select-placeholder {
      display: flex;
      align-items: center;
    }
    .Select-clear-zone {
      display: none;
    }
    .dropdown__option {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;
      .dropdown__option__image {
        width: 28px;
        height: 28px;
        margin-right: 15px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

