// react/components/Item/Item.scss
@import '../../styles/Constants';
@import '../../styles/Animations';
.placeholder {
  height: 300px;
  background: linear-gradient(to right, rgba($kip-secondary-color, 0.3) 8%, rgba($kip-secondary-color, 0.9) 18%, rgba($kip-secondary-color, 0.3) 33%);
  @include animation(placeHolderShimmer linear 1s infinite);
  background-size: 90% 100%;
  position: relative;
  .mask {
    background-color: $kip-primary-color;
    position: absolute;
    &.top {
      top: 0;
      height: 50px;
      left: 0;
      right: 0;
    }
    &.photo {
      top: 0;
      height: 200px;
      width: calc(50% - 75px);
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
    &.middle {
      width: 100%;
      top: 200px;
      height: 20px;
    }
    &.text {
      width: 20%;
      bottom: 0;
      top: 0;
      &.left {
        left: 0;
      }
      &.mid {
        width: 100%;
        height: 10px;
        &.l1 {
          top: 240px;
        }
        &.l2 {
          top: 270px;
        }
      }
      &.right {
        right: 0;
      }
    }
  }
}

.item_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .item {
    position: relative;
    height: 100%;
    padding: $padding*2;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: $main-font;
    text-align: left;
    div[class^='item__view'] {
      margin-bottom: $padding;
      text-align: left;
      &:last-of-type {
        margin-bottom: 0;
      }
      .ellipsis {
        overflow: hidden;
      }
      a {
        display: block;
        color: $secondaryColor;
        font-size: 12px;
        padding-top: 4em; // try to make it so all the text is tappable
        margin-top: -4em;
      }
    }
    .item__transition {
      // This is animation fix for chrome and maybe something else.
      // Probably my error, html structing error probably.
      position: relative;
      &>div {
        position: absolute;
        width: 100%;
        &:after {
          content: '';
          height: 10vh;
          width: 100vw;
          display: inline-block;
        }
      }
      .item__nav_wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        button {
          align-self: stretch;
          background: $border-color-light;
          border: none;
          font-size: 30px;
          cursor: pointer;
          &:first-child {
            margin-right: $padding;
          }
          &:last-child {
            margin-left: $padding;
          }
        }
        .item__info__wrapper {
          width: 100%;
          .item__view__image {
            margin: 0 auto;
            height: 150px;
          }
          .item__view__atts {
            text-align: left;
            margin-bottom: 5px;
            margin-top: 10px;
            font-size: 13px;
          }
        }
      }
    }
    div[class$='view__price'] {
      h4, h5 {
        padding: 1px;
        margin: 5px 5px 5px 0;
      }
      h4 {
        font-size: 18px;
        font-weight: bold;
        span {
          font-weight: normal;
          color: $price-color;
        }
      }
      h5 {
        font-weight: normal;
      }
      p {
        font-size: 10px;
      }
    }
    .deal__view__price {
      text-align: left;
    }
    .item__view__price {
      display: flex;
      justify-content: space-between;
      align-items: top;
      padding-top: $padding;
      .item__view__quantity {
        display: flex;
        align-items: center;
        height: $nav-height/1.5; //lol whatever
        * {
          border-radius: 5px;
          font-size: 16px;
          font-family: Arial, sans-serif;
          border: 2px solid $kip-faded-color;
        }
        button {
          height: 100%;
          margin: 0 $padding/2;
          background: white;
          width: $nav-height/1.5;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          &:active {
            background: $border-color-light;
          }
          &:disabled {
            background: $border-color-light;
            border: $border-color-light;
            cursor: not-allowed;
          }
        }
        .item__view__quantity__placeholder {
          border-color: transparent;
          background: transparent;
          cursor: default;
        }
        .item__view__quantity__num {
          font-weight: bold;
          color: #303030;
          margin: 0;
          padding: 0 $padding;
          height: 100%;
          line-height: $padding*3;
          border-color: $border-color-light;
          cursor: default;
        }
      }
    }
    .item__view__description {
      overflow: hidden;
      h4 {
        font-size: 15px;
        padding: $padding 0;
      }
      p {
        font-size: 13px;
      }
    }
    .review__iframe {
      width: 100%;
      margin-top: 10px;
      border: none;
      height: 170px;
    }
    .item__view__amazon__link {
      color: $kip-faded-color;
      font-size: 12px;
      margin-top: 30px;
      &:hover {
        color: $header-color;
      }
    }
  }
}

