@import '../../themes/constants';
@import '../../themes/animations';

.services {
	position: relative;
	text-align: center;
	background: mix(white, $primaryColor, 97%);
	padding: $padding*25 $padding*2 0;

	@media only screen and (max-width: 600px) {
		padding: $padding*3 $padding*2 $padding*6;
	}

	h1 {
		font-size: 40px;
		padding-top: $padding*4;
		color: $primaryColor;

		&:first-of-type {
			padding-top: 0;
			@media only screen and (max-width: 600px) {
				padding-top: $padding*4;
			}
		}
		@media only screen and (max-width: 600px) {
			font-size: 27px;
		}
	}

	h3 {
		font-size: 24px;
		margin: 0 0 $padding*6;
		color: $primaryColor;

		@media only screen and (max-width: 600px) {
			margin: $padding*3 0;
			font-size: 18px;
		}

		span {
			color: #42403f;
		}
	}

	.icons__hell {
		padding: $padding*5 0 $padding*10;

		& > div {
			display: inline-block;
			width: (100%/3);
			height: $ribbonHeight;

			svg {
				width: 100%;
				height: $ribbonHeight;
				fill: $primaryColor;
				opacity: 0.8;
			}
		}

		@media only screen and (max-width: 600px) {
			padding: $padding*5 0;
		}
	}



	.services__details {
		position: relative;
		padding: $padding*2 $padding*2 $padding*4;
		text-align: left;

		&.card {
			text-align: center;
			border-radius: 10px;
			width: calc(50% - 40px);
			padding: $padding*2 $padding $padding;
			margin: $padding*2 $padding*2;
			z-index: 2;
			background: mix(white, $primaryColor, 97%);
			box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
			h2 {
				color: $fifthColor;
				text-align: left;
				display: inline-block;
				padding:0;
				width: auto;
			}
			p {
				text-align: center;
				padding: 0;
				width: 100%;
				list-style: square outside none;
			}

			iframe {
				border-radius: 10px;
			}

			@media only screen and (max-width: 600px) {
				margin: $padding*2 0;
			}
		}

		@media only screen and (max-width: 600px) {
			border-bottom: 1px solid rgba(mix($bgColor, $primaryColor, 57%), 0.2);
		}

		svg {
			width: 20%;
			height: $ribbonHeight*2;
			padding: $padding/2;
		}

		.image {
			width: 20%;
			height: $ribbonHeight*2;
			background-size: contain;
			display: inline-block;
		}

		h2 {
			display: inline-block;
			width: 60%;
			white-space: nowrap;
			padding: 0 0 0 $padding;
			color: $primaryColor;
			line-height: $ribbonHeight*2;
			margin: 0;
		}


		@media only screen and (max-width: 600px) {
			border-bottom: 1px solid rgba(mix($bgColor, $primaryColor, 57%), 0.2);
		}

		p {
			position: relative;
			white-space: normal;
			font-weight: 500;
			font-size: 15px;
			text-align: left;
			padding: 0 $padding*4 0 0;
			@media only screen and (max-width: 600px) {
				padding: 0;
			}
		}

		&:last-of-type {
			border-bottom: 1px solid transparent;
		}


	}

	.action {
		padding: $padding*2 0 $padding*2;
		button {
			border: 1px solid #eccd46;
			white-space: nowrap;
			font-weight: bold;
			border-radius: $padding/2;
			background: $secondaryColor;
			padding: $padding $padding*4;
			font-size: 20px;
			cursor: pointer;
		    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
			&:focus {
				@include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
			}
			&.slack {
				margin-right: $padding*2;
				background: white;
			}
			svg {
				height: 100%;
				background: transparent;
			}
		}
	}

	.sine {
		fill: rgb(211, 239, 247);
	    margin-left: -1px;
	    margin-bottom: -1px;
	    height: 150px;
	    z-index: 1;
	    width: calc(100% + 3px);
	}

}