// mint/react/components/View/Cart/Cart.scss

@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';

$colorList: #fddcdc #eaf9ff #d9f8f0 #f4e99e;

.cart {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-collapse: collapse;

  @media only screen and (max-width: 600px) {
    border-spacing: 0;
  }

  .top {
    padding: $padding 0 0;
    .circle {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: -5px;
      background: #333;
      border-radius: 100%;
    }
    p {
      display: inline-block;
      padding: 0 0 0 $padding;
      font-size: 12px;
      font-weight: 100;
    }
  }

  .grey {
    color: rgba(#111, 0.5);
  }

  .price {
    color: $price-color;
  }

  .action {
    padding: ($padding * 1.5) 0;
    text-align: right;

    button {
      background: #e3e3e3;
      border-radius: 5px;
      border: 0;
      padding: 0 ($padding * 1.5);
      height: 25px;
      line-height: 25px;
      color: #333;
      font-size: 14px;
      opacity: 0.6;
      margin-right: 10px;

      &:last-of-type {
        border-right: 1px solid transparent;
        margin-right: 0;

      }

      &.info {
        background: $secondaryColor;
        color: white;
        font-weight: bold;
        opacity: 1;
      }
    }
  }

  td, th {
    padding: 0 ($padding / 2);
    @media only screen and (max-width: 600px) {
      padding: 0 $padding;
    }
    .card {
      position: relative;
      padding: $padding ($padding * 3);
      text-align: left;
      background: white;
      box-shadow: $card-box-shadow;

      @media only screen and (max-width: 600px) {
        padding: $padding $padding;
      }

      & > h1 {
        position: relative;
        display: inline-block;
        width: 50%;
        overflow: hidden;
        font-size: 16px;
        line-height: 20px;
        font-weight: 100;

        span {
          opacity: 0.3;
          font-size: 12px;
        }

        &:last-of-type {
          float: right;
          font-size: 12px;
          width: 25px;
          text-align: center;
          cursor: pointer;
        }
      }

      & > h4 {
        font-weight: 100;

        z {
          font-size: 15px;
        }
      }

      ul {
        border-radius: 5px;
        padding: $padding 0;
        margin: $padding auto 0;
      }

      li {
        position: relative;
        padding: $padding ($padding * 2);
        background: white;
        &:first-of-type {
          @media only screen and (max-width: 600px) {
            padding: 0;
          }
        }

        &:last-of-type {
          border-bottom: 0;
        }

        @media only screen and (max-width: 600px) {
          padding: $padding*2 0 0;
          border-bottom: 2px solid #E4F1FD;
        }

        &.edit {
          z-index: 5;
        }

        .image {
          width: $nav-height * 2;
          height: $nav-height * 2;
          display: inline-block;
          @media only screen and (max-width: 600px) {
            width: 50%;
            min-height: 150px;
          }
        }

        .extra {
          .iframe {
            position: relative;
            overflow: hidden;
            width: 90%;
            padding: ($padding * 2) 0 0;

            iframe {
              width: 100%;
              border: 0;
              overflow: hidden;

              @media only screen and (max-width: 600px) {
                height: 230px;
              }
            }
          }

          .text__expanded {
            display: inline-block;
            padding: $padding 0 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            z-index: 9;

            span {
              color: $secondaryColor;
              padding: $padding 0;
              font-size: 12px;
              @media only screen and (max-width: 600px) {
                display: none;
              }
            }
          }
        }

        .text {
          display: inline-block;
          padding: 0 0 0 $padding;
          width: calc(100% - #{$nav-height * 2});
          @media only screen and (max-width: 600px) {
            width: 50%;
          }

          & > span {
            display: none;
            @media only screen and (max-width: 600px) {
              color: $secondaryColor;
              padding: 0;
              height: 10px;
              line-height: 10px;
              display: block;
              font-size: 10px;
            }
          }

          .update {
            display: flex;
            height: $nav-height / 1.5;
            line-height: $nav-height / 1.5;
            justify-content: flex-start;
            align-items: stretch;
            margin: $padding/2 0 0 0;

            @media only screen and (max-width: 600px) {
              height: 30px;
              line-height: 30px;
            }

            * {
              text-align: center;
            }

            button {
              display: flex;
              align-items: center;
              justify-items: center;
              margin: 0;
              border-radius: 5px;
              border: 0;
              padding: 0 $padding;
              background: white;
              border: 1px solid $border-color-light;
              font-size: 20px;

              &:disabled {
                background: mix(grey, white, 20%);
                opacity: 0.4;
                cursor: not-allowed;
              }
            }

            p {
              margin: 0;
              padding: 0 $padding;
              font-size: 16px;
              display: flex;
              align-items: center;
            }
          }

          h1 {
            position: relative;
            overflow: hidden;
            font-size: 14px;
            line-height: 20px;
            height: 45px;

            @media only screen and (max-width: 600px) {
              height: 80px;
            }

            &:after {
              content: '';
              text-align: right;
              position: absolute;
              bottom: 5px;
              right: 0;
              width: 70%;
              height: 20px;
              background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
            }
          }

          p {
            font-size: 10px;
            line-height: 10px;
            opacity: 0.5;
            padding: 0 0 $padding;
          }

          h4 {
            font-size: 14px;
            line-height: 20px;
            opacity: 0.8;
            font-weight: 100;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    overflow-x: auto;

    td, th {
      width: 100% !important;
      margin: 5px 0 10px;

      &:last-of-type {
        margin: 5px 0 5px;
      }
    }
  }
}
