// mint/react/components/View/Cart/Cart.scss
@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';

.cart {
  border-collapse: collapse;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;

  @media only screen and (max-width: 600px) {
    border-spacing: 0;
  }

  .grey {
    color: rgba(#111, 0.5);
  }

  .price {
    color: $price-color;
  }

  .action {
    padding: ($padding * 1.5) 0;
    text-align: right;

    button {
      background: #e3e3e3;
      border: 0;
      border-radius: 5px;
      color: #333;
      font-size: 14px;
      height: 25px;
      line-height: 25px;
      margin-right: 10px;
      opacity: 0.6;
      padding: 0 ($padding * 1.5);

      &:last-of-type {
        border-right: 1px solid transparent;
        margin-right: 0;
      }

      &.info {
        background: $blue-header;
        color: white;
        font-weight: bold;
        opacity: 1;
      }
    }
  }

  td, th {
    padding: ($padding / 3) ($padding / 2);

    .card {
      background: $color-white;
      border-radius: 5px;
      box-shadow: $card-box-shadow;
      padding: $padding ($padding * 3);
      position: relative;
      text-align: left;

      .card-head {
        display: flex;
        flex-wrap: wrap;
        .pay-button {

          button {
            align-self: start;
            background: $orange-caution;
            border: 1px solid $orange-caution;
            border-radius: 5px;
            color: $color-white;
            font-size: 18px;
            padding: $padding / 3 $padding;
          }

          &.unpaid {
            align-items: center;
            background: rgba(0, 0, 05, .7);
            border-radius: 5px;
            bottom: 0;
            display: flex;
            justify-content: center;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;

            button {
              font-size: 22px;
              margin-top: 50px;
              padding: $padding;
            }
          }


          &.paid {
            button {
              background-color: $green-accent;
              border-color: $green-accent;
              cursor: default;
            }
          }
        }

        @media only screen and (max-width: 600px) {
          padding: $padding $padding;
        }

        .item-owner {
          display: inline-block;
          flex: 1 1 auto;
          font-size: 16px;
          font-weight: 500;
          overflow: hidden;
          position: relative;

          span {
            font-size: 12px;
            opacity: 0.3;
          }
        }
        .toggle-items {
          align-items: center;
          cursor: pointer;
          display: flex;
          font-size: 12px;
          padding: 0 0 0 2 * $padding;
        }

        &>h4 {
          font-weight: 500;
          width: 100%;

          .my-price {
            font-size: 15px;
          }
        }
      }

      ul {
        border-radius: 5px;
        margin: $padding auto 0;
        padding: $padding 0;
      }

      li {
        background: white;
        padding: $padding ($padding * 2);
        position: relative;
        &:first-of-type {
          @media only screen and (max-width: 600px) {
            padding: 0;
          }
        }

        &:last-of-type {
          border-bottom: 0;
        }

        @media only screen and (max-width: 600px) {
          border-bottom: 2px solid #E4F1FD;
          padding: $padding*2 0 0;
        }

        &.edit {
          z-index: 5;
        }

        .image {
          display: inline-block;
          height: $nav-height * 2;
          width: $nav-height * 2;
          @media only screen and (max-width: 600px) {
            min-height: 150px;
            width: 50%;
          }
        }

        .extra {
          .iframe {
            overflow: hidden;
            padding: ($padding * 2) 0 0;
            position: relative;
            width: 90%;

            iframe {
              border: 0;
              overflow: hidden;
              width: 100%;

              @media only screen and (max-width: 600px) {
                height: 230px;
              }
            }
          }

          .text__expanded {
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            padding: $padding 0 0;
            z-index: 9;

            span {
              color: $blue-header;
              font-size: 12px;
              padding: $padding 0;
              @media only screen and (max-width: 600px) {
                display: none;
              }
            }
          }
        }

        .text {
          display: inline-block;
          padding: 0 0 0 $padding;
          width: calc(100% - #{$nav-height * 2});
          @media only screen and (max-width: 600px) {
            width: 50%;
          }

          &>span {
            display: none;
            @media only screen and (max-width: 600px) {
              color: $blue-header;
              display: block;
              font-size: 10px;
              height: 10px;
              line-height: 10px;
              padding: 0;
            }
          }

          .update {
            align-items: stretch;
            display: flex;
            height: $nav-height / 1.5;
            justify-content: flex-start;
            line-height: $nav-height / 1.5;
            margin: $padding/2 0 0 0;

            @media only screen and (max-width: 600px) {
              height: 30px;
              line-height: 30px;
            }

            * {
              text-align: center;
            }

            button {
              align-items: center;
              background: white;
              border-radius: 5px;
              border: 0;
              border: 1px solid $border-color-light;
              display: flex;
              font-size: 20px; // justify-items: center;
              margin: 0;
              padding: 0 $padding;

              &:disabled {
                background: mix(grey, white, 20%);
                cursor: not-allowed;
                opacity: 0.4;
              }
            }

            p {
              align-items: center;
              display: flex;
              font-size: 16px;
              margin: 0;
              padding: 0 $padding;
            }
          }

          h1 {
            font-size: 14px;
            height: 45px;
            line-height: 20px;
            overflow: hidden;
            position: relative;

            @media only screen and (max-width: 600px) {
              height: 80px;
            }

            &:after {
              background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
              bottom: 5px;
              content: '';
              height: 20px;
              position: absolute;
              right: 0;
              text-align: right;
              width: 70%;
            }
          }

          p {
            font-size: 10px;
            line-height: 10px;
            opacity: 0.5;
            padding: 0 0 $padding;
          }

          h4 {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            opacity: 0.8;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    overflow-x: auto;

    td, th {
      margin: 5px 0 10px;
      padding: 0 3px;
      width: 100% !important;

      &:last-of-type {
        margin: 5px 0;
      }
    }
  }
}
