// mint/react/components/View/Cart/Cart.scss

@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';

$colorList: #fddcdc #eaf9ff #d9f8f0 #f4e99e;

.cart {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-collapse: collapse;

  @media only screen and (max-width: 600px) {
    border-spacing: 0;
  }

  .grey {
    color: rgba(#111, 0.5);
  }

  .price {
    color: $price-color;
  }

  .action {
    padding: $padding*1.5 0 8;
    text-align: right;

    button {
      border: 0;
      background: white;
      border: 0;
      padding: 0 $padding*1.5;
      height: 25px;
      line-height: 25px;
      color: #333;
      font-size: 14px;
      opacity: 0.6;
      
      border-right: 1px solid #a7a7a7;

      &:last-of-type {
        border-right: 1px solid transparent;
      }

      &.info {
        color: $secondaryColor;
        font-weight: bold;
        opacity: 1;
      }
    }
  }

  td, th {
    padding: ($padding / 3) ($padding / 2);

    .card {
      position: relative;
      padding: $padding ($padding * 3);
      text-align: left;
      background: white;
      border-radius: 5px;
      box-shadow: $card-box-shadow;

      @media only screen and (max-width: 600px) {
        padding: $padding $padding;
      }

      & > h1 {
        position: relative;
        display: inline-block;
        width: 50%;
        overflow: hidden;
        font-size: 16px;
        line-height: 20px;
        font-weight: 100;

        span {
          opacity: 0.3;
          font-size: 12px;
        }

        &:last-of-type {
          text-align: right;
          font-size: 12px;
        }
      }

      & > h4 {
        font-weight: 100;

        z {
          font-size: 15px;
        }
      }

      ul {
        border-radius: 5px;
        padding: $padding 0;
        margin: ($padding) auto 0;
      }

      li {
        position: relative;
        padding: $padding ($padding * 2);
        background: white;

        @media only screen and (max-width: 600px) {
          padding: ($padding / 2) 0;
        }

        &.edit {
          z-index: 5;
        }

        .image {
          width: $nav-height * 2;
          height: $nav-height * 2;
          display: inline-block;
        }

        .extra {          
          .iframe {
            position: relative;
            overflow: hidden;
            width: 90%;
            padding: ($padding * 2) 0 0;

            iframe {
              width: 100%;
              border: 0;
              overflow: hidden;

              @media only screen and (max-width: 600px) {
                height: 230px;
              }
            }
          }
          .text__expanded {
            display: inline-block;
            padding: $padding 0 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;

            span {
              color: $secondaryColor;
              padding: $padding 0;
              font-size: 12px;
            }
          }
        }

        .text {
          display: inline-block;
          padding: 0 $padding;
          width: calc(100% - #{$nav-height * 2});

          .update {
            padding: $padding 0;

            * {
              display: inline-block;
              text-align: center;
            }

            button {
              margin: 0;
              height: $nav-height / 2;
              border-radius: 5px;
              border: 0;
              padding: 0 $padding;
              background: white;
              border: 1px solid $border-color-light;

              &:last-of-type {
                margin-right: $padding;
              }
            }

            p {
              margin: 0;
              padding: 0 $padding;
              height: $nav-height / 2;
              line-height: $nav-height / 2;
              font-size: 13px;
            }
          }

          h1 {
            position: relative;
            overflow: hidden;
            font-size: 14px;
            line-height: 20px;
            height: 45px;

            &:after {
              content: '';
              text-align: right;
              position: absolute;
              bottom: 5px;
              right: 0;
              width: 70%;
              height: 20px;
              background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
            }
          }

          p {
            font-size: 10px;
            line-height: 10px;
            opacity: 0.5;
            padding: 0 0 $padding;
          }

          h4 {
            font-size: 14px;
            line-height: 20px;
            opacity: 0.8;
            font-weight: 100;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    overflow-x: auto;

    td, th {
      width: 100% !important;
      padding: 0 3px;
      margin: 5px 0 10px;

      &:last-of-type {
        margin: 5px 0 5px;
      }
    }
  }
}
