<div class="new-announcement-form">
	<div class="form-group">
		<form>

			<button class="x-button">x</button>

			<label for="name">Name</label>
			<input type="text"
						 class="form-control"
						 ng-model="contest.name"/>

			<label for="headline">Contest Card Headline</label>
			<input type="text"
						 class="form-control"
						 ng-model="contest.headline"/>

			<label for="body">Body</label>
			<textarea class="form-control"
								ng-model="contest.body">
			</textarea>

			<text-angular ng-model="contest.html"></text-angular>
			<div class="clearfix"></div>

			<label for="hashtag1">Hashtag #1</label>
			<input type="text"
						 class="form-control"
						 ng-model="contest.hashtag1"/>

			<label for="hashtag2">Hashtag #2</label>
			<input type="text"
						 class="form-control"
						 ng-model="contest.hashtag2"/>

			<input type="submit" 
						 value="Save" 
						 class="btn btn-success"
						 ng-click="submit()" />

		</form>
	</div>
</div>