<nav class="subnav-fixed">
  <select class="menu pull-left" 
          ng-change="changeRoute()"
          ng-model="currentRoute" 
          ng-options="route for route in routes">
  </select>
  <p class="superuser-title">{{region}} Announcements</p>
</nav>

<div id="shelf" class="shelf-surface wrap superuser-background">
  <div class="container-fluid navfix">
    <div class="superuser-list">
      <div ng-if="!showAddAnnouncement"
              class="add-button"
              ng-click="newAnnouncement()">
        <div class="circle">+</div>
        Create New Announcement
      </div>
      <div ng-if="showAddAnnouncement"
           ng-include="'components/super_user/superuser.announcements.new.html'"></div>
      <ul>
        <li ng-repeat="a in as">
          <button ng-if="a.live" class="btn btn-success">Live &#10004;</button>
          <button ng-if="!a.live" class="btn btn-default">Draft</button>
          <div class="media card superuser-list-item">
            <h5>{{a.headline}}</h5>
            <p>{{a.body}}</p>
            <p>{{a.URL}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>