.new-announcement-form {
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
  padding: 30px 50px;
	width: 60%;

	.x-button {
		float: right;
	  border: none;
	  background-color: inherit;
	}

	input[type="submit"] {
		margin-top: 10px;
	}

}

.add-button {
	border: none;
	background-color: inherit;

}