// REMOVE AICP
.nearby-widget-avatar--aicp.img-responsive {
	height: 80px;
}

.marginBottom10--aicp {
	margin-bottom: 10px;
	opacity: 0.4;
	&:hover {
		opacity: 1;
	}
}

.marginBottom10--aicp.opacity100 {
	opacity: 1;
}

.blueRibbonHeight--aicp {
	height: 200px;
}