// react/components/Settings/Settings.scss
@import '../../styles/Constants';
.feedback {
  position: relative;
  height: 100%;
  width: 100%;
  padding: $padding*5 $padding*2 0;

  ul {
  	height: calc(100% - #{$nav-height});
  	text-align: center;
    padding: $padding*4 $padding*2;

  	li {
      display: inline-block;
  		font-size: 15px;
  		line-height: $nav-height/1.5;
  		height: $nav-height/1.5;
      color: $fifth-button-color;

      svg {
        font-size: 50px;
      }

      &:first-of-type {
        color: $third-button-color;
      }
      &:last-of-type {
        color: $fourth-button-color;
      }
  	}
  }

  h4 {
  	line-height: $nav-height;
  	height: $nav-height;
  	text-align: right;
  	width: 100%;
  }

  h1 {
    line-height: $nav-height;
    height: $nav-height;
    width: 100%;
    margin-bottom: $padding;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: $padding;
    border: 1px solid $border-color-light;
  }

  button {
    width: 100%;
    border: 0;
    height: $nav-height;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: $third-button-color;
    margin-top: $padding*3;
    border-radius: 5px;

    svg {
      vertical-align: bottom !important;
      font-size: 23px;
      margin-right: $padding;
    }
  }
}

