
a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.react,
.root {
  height: 100%;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > div {
  width: 50%;
  padding: 10px;
}

.flexbox-container > div:first-child {
  margin-right: 20px;
}

.product-box {
  box-sizing: border-box;
      background: #fff;
      border: 1px solid #999;
      border-radius: 3px;
      width: 100px;
      height: 100px;
      margin: 10px;
      padding: 10px;
      float: left;
}

.nav {
  margin: 0;
  color: white;
  background: #337ab7;
  width: 21rem;
-ms-flex: 0 1rem;
-webkit-box-flex:  0;
-moz-box-flex:  0;
-ms-box-flex:  0;
box-flex:  0;
display: flex;
justify-content: flex-start;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-webkit-box-direction: normal;
-moz-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}

.main {
  margin: 0;
  background: #F5F8FF;
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;
 display: flex;
 flex-direction: column;
 margin-bottom: 2rem;
 justify-content: flex-start;
 align-content: flex-start;
 align-items: inherit;
}

span[class*="glyphicon-one-fine"] {
    padding-top: 0.46em;
    padding-right: 0.4em;
}

.jsonBox {
  font-size: 0.4em;
}
 
.glyphicon-one-fine-green-dot:before {
    content:"\25cf";
    font-size: 0.7em;
    color: #34A853;
}

.glyphicon-one-fine-empty-dot:before {
    content:"\25cb";
    font-size: 0.7em;
}

.btn-primary {
  border: none;
}
