@import '../../themes/constants';
@import '../../themes/animations';

.footer {
	position: relative;
	text-align: center;
	background: $bgColor;
	color: white;
	padding: $padding*2 $padding*2;

	p {
		font-size: 12px;
		margin-bottom: $padding;
	}

	.footer__icons {
		svg {
			margin: 0 $padding;
			height: $ribbonHeight/2;
			width: $ribbonHeight/2;
		}
	}
}