@import '../../themes/constants';
@import '../../themes/animations';

.about {
	position: relative;
	text-align: center;
	background: #fcfcf9;
	padding: $padding*4 $padding*2;

	h2 {
		line-height: $ribbonHeight;
		height: $ribbonHeight;
		margin: $padding*5 0 0;
		color: $thirdColor;
		font-size: 20px;

		&:first-of-type {
			margin: 0;
		}
	}

	.about__details {
		position: relative;
		padding: $padding*2 0;
		background: mix(#fcfcf9, $thirdColor, 97%);
		border: 1px solid $thirdColor;
	    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

		&:after {
			content: '';
			position: absolute;
			height: 30px;
			left: 50%;
			border: 1px solid $thirdColor;
		}
		&:after {
			bottom: -50px;
		}	

		p {
			position: relative;
			white-space: normal;
			font-weight: 500;
			padding: $padding;
			font-size: 17px;
		}
	}

	.about__action {
		padding: $padding*2;
		button {
			border: 0;
			font-weight: bold;
			border-radius: $padding/2;
			background: $thirdColor;
			color: #fcfcf9;
			padding: $padding $padding*2;
		    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
			&:focus {
				@include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
			}
		}
	}
}