@import '../../themes/constants';
@import '../../themes/animations';

.about {
	position: relative;
	text-align: center;
	background: mix(#fcfcf9, $thirdColor, 97%);
	padding: $padding*4 $padding*2;

	h2 {
		line-height: $ribbonHeight;
		height: $ribbonHeight;
		margin: $padding*5 0 $padding;
		color: $thirdColor;
		font-size: 23px;

		&:first-of-type {
			margin: 0 0 $padding;
		}
	}

	.icons__hell {
		& > div {
			display: inline-block;
			width: (100%/3);
			height: $ribbonHeight;

			svg {
				width: 100%;
				height: $ribbonHeight;
				fill: $bgColor;
				opacity: 0.8;
			}
		}
	}

	.about__details {
		position: relative;
		border-radius: 10px;
		padding: $padding*2 0;
		background: #fcfcf9;
		border: 1px solid rgba($thirdColor, 0.1);
	    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

		&:after {
			content: '';
			position: absolute;
			height: 30px;
			left: 50%;
			border: 1px solid $thirdColor;
		}
		&:after {
			bottom: -50px;
		}	

		svg {
			width: 40%;
		}

		p {
			position: relative;
			white-space: normal;
			font-weight: 500;
			padding: $padding;
			font-size: 15px;
		}
	}

	.about__action {
		padding: $padding*2;
		button {
			border: 0;
			font-weight: bold;
			border-radius: $padding/2;
			background: $thirdColor;
			color: #fcfcf9;
			padding: $padding $padding*2;
		    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
			&:focus {
				@include animation(pulseScale cubic-bezier(0.4, 0, 0.2, 1) 1.33s);
			}
		}
	}
}