// react/components/App/Header.scss
@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.buttons {
  height: $nav-height;
  padding: 0 ($padding * 2);
  position: relative;

  button {
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: $nav-height - $padding;
    margin: ($padding / 2) $padding;
    padding: 0 ($padding * 3);
    position: relative;
    white-space: nowrap;

    @media only screen and (max-width: 600px) {
      font-size: 14px;
      white-space: inherit;
    }

    svg {
      display: inline-block;
      height: $nav-height - $padding * 1.5;
      width: $nav-height - $padding * 1.5;
    }

    div {
      display: inline-block;
    }

    &.sub {
      span {
        bottom: 0;
        height: $padding;
      }
    }

    &.blue {
      background: transparent;
      color: $color-blue;

      svg {
        fill: $color-blue;
        padding: $padding / 2;
      }
    }

    &.locked {
      background: transparent;
      color: white;

      svg {
        fill: white;
        padding: $padding;
      }

      p {
        display: inline-block;
      }
    }

    &.yellow {
      background: $mainColor;
      padding: 0 $padding;

      a {
        align-items: center;
        display: flex;

        svg {
          height: $nav-height / 2;
        }

        svg {
          @media only screen and (max-width: 600px) {
            order: 1;
          }

          &:last-of-type {
            display: none;
            order: 4;
          }
        }

        p {
          display: inline;
          font-size: 16px;
          font-weight: 600;
          padding: ($padding / 2) $padding;

          &:first-of-type {
            order: 0;
            font-weight: 400;

            @media only screen and (max-width: 600px) {
              flex: 1 1 auto;
              order: 1;
            }
          }

          &:last-of-type {
            order: 2;
            border-left: 2px solid darken($mainColor, 20%);
          }

          @media only screen and (max-width: 600px) {
            padding: 0 10px;
          }
        }

        &:disabled {
          background: lighten(#333, 70);
          color: #333;

          & span {
            display: none; // we don't need the price I guess???? this is a mess
         
          }
        }
      }
    }

    &.teal {
      background: #10d8d8;
      line-height: $nav-height - $padding;
      font-size: 10px;
      transform: scaleY(1.1);
      transform-origin: 0 0;



      @media only screen and (max-width: 600px) {
        line-height: ($nav-height - $padding) / 2;
      }

      a {
        display: block;
      }

      span {
        line-height: $nav-height - $padding;

        @media only screen and (max-width: 600px) {
          display: block;
          line-height: ($nav-height - $padding) / 3;
        }
      }

      .text {
        display: inline-block;
        width: calc(100% - #{$nav-height - $padding});
        height: 100%;

        @media only screen and (max-width: 600px) {
          width: auto;
        }
      }

      &:disabled {
        background: lighten(#333, 70);
        color: #333;

        & span {
          display: none; // we don't need the price I guess???? this is a mess
        }
      }
    }
  }
}
