@import '../../styles/Constants';
.deals__section {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  -webkit-overflow-scrolling: touch;
  &::before,
  &::after {
    /* Insert space before the first item and after the last one */
    content: '';
  }
  section {
    border: 1px $border-color-light solid;
    background: white;
    padding: 1px;
    margin: $padding/2;
    border-radius: $padding;
    font-size: 18px;
    height: 180px;
    width: 150px;
    min-width: 150px;
  }
  .dealcard__name {
    font-size: 13px;
    text-align: center;
    height: 2.4em;
    position: relative;
    overflow: hidden;
    color: #58595b;
    content: "";
  }
  .dealcard__price {
    font-size: 23px;
    text-align: center;
    color: $price-color;
  }
  .dealcard__discount {
    font-size: 15px;
    text-align: center;
    color: $header-color;
  }
  .dealcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .dealcard__image {
    align-self: center;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .dealcard__prevPrice {
    text-decoration: line-through;
  }
  .dealcard__add {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: $border-color-light;
    padding: $padding/2;
    margin: 0 -1px -1px -1px;
    border-radius: 0 0 $padding $padding;
  }
}

.deals__section-small {
  position: relative;
  font-size: 15px;
  top: -12px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  justify-content: flex-start;
  align-items: left;
  border: 1px $kip-secondary-color solid;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  section {
    display: flex;
    border-bottom: 1px $kip-secondary-color solid;
    background: white;
    padding: 5px;
    margin: 1px;
    width: 100%;
    text-align: left;
    font-size: 14px;
  }
  section:last-child {
    border: none;
  }
  .dealcard-small {
    display: flex;
    flex-direction: row;
    .price {
      color: $price-color;
      font-style: normal;
    }
  }
}
