@import '../../styles/Constants';
.deals__section {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  height: 200px;
  padding: 0 $padding $padding*2;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 0px; 
    height: 0px; /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
  &::-webkit-scrollbar-thumb {
    height: 0px;
    background: transparent;
  }
  li {
    display: inline-block;
    padding: 1px;
    margin: 0 $padding/2;
    font-size: 18px;
    width: 150px;
    height: 100%;
    .dealcard {
      position: relative;
      text-align: center;
      height: 100%;
      border: 1px $border-color-light solid;
      border-radius: $padding;
      background: white;
      .dealcard__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: $padding;
        min-height: calc(100% - #{$nav-height/2});
        .dealcard__details__name {
          font-size: 13px;
          text-align: center;
          position: relative;
          overflow: hidden;
          white-space: normal;
          color: #58595b;
          padding: $padding 0 0;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;  
        }
        .dealcard__details__price {
          padding: $padding 0 0;
          font-size: 16px;
          text-align: center;
          color: $price-color;
        }
        .dealcard__details__discount {
          font-size: 10px;
          text-align: center;
          color: $header-color;
        }
        .dealcard__details__image {
          align-self: center;
          width: $nav-height;
          height: $nav-height;
        }
        .dealcard__details__prevPrice {
          text-decoration: line-through;
        }
      }
      .dealcard__add {
        position: absolute;
        width: 100%;
        height: $nav-height/2;
        line-height: $nav-height/2;
        left: 0;
        bottom: 0;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        background: $border-color-light;
        border-radius: 0 0 $padding $padding;
      }
    }
  }
}

.deals__section-small {
  position: relative;
  font-size: 15px;
  top: -10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  justify-content: flex-start;
  align-items: left;
  border: 1px $kip-secondary-color solid;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  background: white;
  li {
    display: flex;
    box-shadow: 35px 1px 1px $kip-secondary-color;
    background: white;
    margin-bottom: 1px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    a {
      padding: $padding/2;
      width: 100%;
    }
    .priceTagIcon {
      padding: 0 10px 0 5px;
    }
    &:hover {
      background: $kip-secondary-color;
    }
    &:last-child {
      box-shadow: none;
      margin: 0;
    }
    .dealcard-small {
      display: flex;
      flex-direction: row;
      .price {
        color: $price-color;
        font-style: normal;
      }
    }
  }
}
