#download-banner {
  background-color: #e6e6e6;
  border-bottom: 1px solid grey;
	height: 80px;
  position: relative;
  top: -80px;
  z-index: 20;

  -webkit-transition: 0.35s cubic-bezier(.5,.1,0,1) -webkit-transform;
  transition: 0.35s cubic-bezier(.5,.1,0,1) transform;

  .x-button {
  	height: 20px;
	  float: left;
	  margin-top: 30px;
	  margin-right: 5px;
	  margin-left: 5px;
  }
}

.banner-inline-block {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: top;

  img {
	  background-color: white;
	  border: 1px solid rgb(209, 208, 199);
	  border-radius: 10px;
  	height: 60px;
	  margin-top: 10px;
  }

  &.kip-description {
  	margin-left: 10px;
  	margin-top: 10px;
  }

  &.action {
  	color: blue;
		float: right;
	  font-size: 16px;
	  font-weight: 400;
	  margin-right: 10px;
	  margin-top: 29px;
  }
}

.banner-offset {
  transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 80px, 0); 
}

.banner-adjust-up {
  transform: translate3d(0, -80px, 0);
  -webkit-transform: translate3d(0, -80px, 0); 
}