@import '../../themes/constants';
@import '../../themes/animations';
.footer {
  position: relative;
  text-align: center;
  background: mix(white, $primaryColor, 95%);
  color: white;
  padding: 0 $padding*2 $padding*5;
  p {
    font-size: 12px;
    color: $primaryColor;
    margin-bottom: $padding;
    z-index: 1;
    position: relative;
  }
  .footer__icons {
    z-index: 1;
    svg {
      fill: $primaryColor;
      margin: 0 $padding;
      height: $ribbonHeight/2;
      width: $ribbonHeight/2;
      z-index: 1;
    }
  }
  &>svg {
    position: absolute;
    left: -50%;
    bottom: 90%;
    z-index: -1;
    width: 200%;
    height: auto;
    min-width: 1200px;
    g {
      fill: mix(white, $primaryColor, 95%) !important;
      z-index: 0;
    }
    @media only screen and (max-width: 600px) {
      bottom: 98%;
    }
  }
}
