$bgColor: #4f4d4c;
$secondBgColor: rgb(37,37,37);
$fgColor: #fcfcf9;

$heroFontColor: rgb(26, 26, 26);
$fontColor: rgb(134,133,133);
$borderColor: rgb(222, 222, 222);

$tmlColor: rgb(249, 38, 111);

$primaryColor: #4a9ff1;
$secondaryColor: #ffdf4d;
$thirdColor: #00cb7b ;
$fourthColor: #ff6961 ;
$fifthColor: #ffb347 ;

$priceColor: #d65b00;

$fontFamily: 'Arial', sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;

$ribbonHeight: 50px;
$sidenavWidth: 200px;
$viewHeight: calc(100% - #{$ribbonHeight});

$padding: 10px;

$borderRadius: 10px;
