@import '../../themes/constants';
@import '../../themes/animations';

$icons: Burger Clock DesktopIcon Happy Layers Lightbulb Milk Mouse Paper Pencil Pizza;

.about {
    background: transparent;
    top: 200px;
    right: -40%;
    z-index: 100;
	position: absolute;
	transform: rotate(-25deg);
	text-align: center;
	width: 60%;

	@media only screen and (max-width: 600px) {
		position: relative;
		transform: rotate(0);
		width: 100%;
		right: auto;
		top: auto;
		overflow: hidden;
		padding-bottom: $padding*15;
	}

	svg {
		display: inline-block;
		width: 100%;
	}
	// loop!
	@each $icon in $icons {
	  .#{$icon} {
	    width: random(34) + 15%;
	    display: inline-block;
	  }
	}
}