@import '../../themes/constants';
@import '../../themes/animations';

$icons: Burger Clock DesktopIcon Happy Layers Lightbulb Milk Mouse Paper Pencil Pizza;

.about {
    background: transparent;
    top: 200px;
    right: -25%;
    z-index: 100;
	position: absolute;
	transform: rotate(-20deg);
	text-align: center;
	width: 60%;

	@media only screen and (max-width: 600px) {
		position: relative;
		transform: rotate(0);
		width: 100%;
		right: auto;
		top: auto;
		overflow: hidden;
		padding-bottom: $padding*15;

		div {
			&:nth-of-type(even) {
				display: none;
			}
		}
	}



	svg {
		display: inline-block;
		width: 100%;

	}
	// loop!
	@each $icon in $icons {
	  .#{$icon} {
	    width: random(34) + 15%;
	    display: inline-block;
	    @include animation(fadeAndZoomIn cubic-bezier(0.4, 0, 0.2, 1) (random(3) - 0.33s));
    	@include transition(all 0.33s cubic-bezier(0.4, 0, 0.2, 1));

    	@media only screen and (min-width: 600px) {
	    	&:last-of-type {
	    		position: fixed;
	    		bottom: 0;
	    		left: -300px;
	    	}
    	}

    	&.animate {
    		@include animation(fallDownSqueeze cubic-bezier(0.4, 0, 0.2, 1) 1s);
    		opacity: 0;
    		@media only screen and (max-width: 600px) {
    			@include animation(fallDownSqueezeMobile cubic-bezier(0.4, 0, 0.2, 1) 1s);
    		}
    	}
	  }
	}
}

@keyframes fallDownSqueezeMobile {
  0%   { opacity: 1; transform: translate3d(0px, 0px, 0) scale3d(1,1,1); }
  100% { opacity: 0; transform: translate3d(0px, 250px, 0) scale3d(0.3,0.3,0.3); }
}

@keyframes fallDownSqueeze {
  0%   { opacity: 1; transform: translate3d(0px, 0px, 0) scale3d(1,1,1); }
  100% { opacity: 0; transform: translate3d(-350px, -200px, 0) scale3d(0.3,0.3,0.3); }
}