.header-section {
  background-color: #6f52d8;
}

.kip-nav-bar > li.active {
  color: #6f52d8;
}

.kip-nav-bar > li.active > a {
  color: #6f52d8;
}

.kip-partners-container {
  background-color: #6f52d8;
  width: 100%;
  padding: 30px 0px;
  margin-top: 30px;
}

.kip-partner-logos {
  max-width: 700px;
}

.get-kip-container {
  width: 100%;
  color: #ffffff;
  background-color: #47a2fc;
  padding-bottom: 25px;
}

.get-kip-container input {
  color: #000000;
  min-width: 200px;
}

.get-kip-container label {
  font-weight: normal;
  min-width: 55px;
  margin-right: 20px;
  text-align: left;
}

.get-kip {
  margin-bottom: 20px;
}

.get-kip > h2 {
  color: #ffffff;
  display: inline-block;
  font-size: 25pt;
  margin-left: 20px;
}

.kip-head {
  vertical-align: bottom;
  height: 50px;
}

#btnSend {
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}


@media (max-width: 767px) {
  .partner-cropper{
    margin: 0 0 0 0;
    width: 300px;
  }
}

@media (min-width: 767px) {
  .partner-cropper{
    margin: 0 0 0 0;
    width: 300px;
  }
}


@media (min-width: 992px) {
  .partner-cropper{
    margin: 0 0 0 0;

    width: 300px;
  }
}

@media (min-width: 1200px) {
  .partner-cropper{
    margin: 0 170px 0 0;
    width: 300px;
  }
}
