// react/components/Loading/Loading.scss
@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.loading {
  @include animation(placeHolderShimmer 1.5s infinite);
  background: linear-gradient(to right, rgba($thirdColor, .3) 8%, $thirdColor 18%, rgba($thirdColor, .3) 33%);
  background-size: 200% 5px;
  height: 5px;
  position: absolute;
  top: 74px;
  width: 100%;
  z-index: 100;
}
