// react/components/Loading/Loading.scss
@import '../../../react-common/styles/Constants';
@import '../../../react-common/styles/Animations';

.loading {
  @include animation(placeHolderShimmer 2s infinite);

  background: linear-gradient(to right, adjust-hue($thirdColor, 45deg) 8%, $thirdColor 18%, adjust-hue($thirdColor, 45deg) 33%);
  background-size: 200% 3px;
  height: 3px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
