{{!< default}}
<div class="post-image-container" style="background-color:#343288; background-image: url('content/images/vinyl.jpg'); background-position-x:73%; height:400px;">
      <div class="post-image-filter">
        <div class="text-xs-center post-info">
          <h1 class="post-title animated fadeInUp">Audiophile reviews</h1>
          <span><h3>Your guide to perfect sound</h3></span>
        </div>
      </div>
</div>

{{>loop}}

