<html>
   <head>
      <meta charset="utf-8" /> 
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script type="text/javascript">
         var socket = io.connect('localhost:8000');
         // var channelId = Math.random().toString(36).substring(7); //generate random user ID for this session
         // var orgId = 'kip';

        setTimeout(function(){
            $( "#msg" ).focus();
        }, 0);

         function sendMessage() {
             var message = $("#msg").val();
             $("#msg").val('');
             socket.emit("msgToClient",  { msg: message }); //passing all messages with channel/org Ids attached
             $(".chats").append(message);
         }

         //generates new id for user session
         function makeId(){
            return Math.random().toString(36).substring(7);
         }

         socket.on("msgFromSever", function(data) {

            if (checkImgURL(data.message)){ //image URL
              var msgP = "<img width='1000' style='max-width:400px;' src='" + data.message + "''><br><br>";

            }
            else if (/^(ftp|http|https):\/\/[^ "]+$/.test(data.message)){ //reg url
              var msgP = "<a target='_blank' href=' " + data.message + "'>"+data.message+"</a><br><br>";

            }
            else { //else
              var msgP = "<p> " + data.message + "</p><br><br>";

            }

            function checkImgURL(url) {
                return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
            }

           $(".chats").append(msgP);

           $(".chats").animate({ scrollTop: $(".chats").attr("scrollHeight") }, 3000);

            // $(".chats").scrollTop($(document).height());
            // var wtf = $('.chats');
            // var height = wtf[0].scrollHeight;
            // wtf.scrollTop(height);

         })

      </script>
      <style type="text/css">
         .chats {
           border: 1px solid #ccc;
           height: 85%;
           overflow-y: scroll;
           width: 100%;
           margin-bottom: 30px;
           background-color:white;
         }
         #msg {  width: 85%; height:35px; font-size:16px;}
      </style>
      <head>
   <body style="background:#ccc;">
    <center>
      <img width="60" src="https://kipsearch.com/img/kip_logo_purp.svg">
      <div id="chatwindow" class="chats"></div>
      <input type="text" id="msg" onkeydown="if (event.keyCode == 13) document.getElementById('sendbutton').click()"/>
      <button id="sendbutton" onclick="sendMessage()" >Send</button>
    </center>
   </body>
   <html>
