@import '../../../../react-common/styles/Constants';
@import '../../../../react-common/styles/Animations';

.invoice {
  position: relative;
  width: 100%;
  &.clickable {
    .address-preview {
      cursor: pointer;
    }
  }

  .address-preview {
    display: flex;
    p {
      flex: 1 1 auto;
    }
    span {
      padding: 0 $padding;
      color: $secondaryColor;
    }
  }

  ul {
    padding: $padding;
    li {
      &.clickable {
        cursor: pointer;
      }
      border: 1px solid white;
      padding: $padding;
      margin-bottom: $padding;
      display: flex;
      align-items: center;

      &.selected {
        border: 1px solid $secondaryColor;
        background: rgba($secondaryColor, 0.2);
        border-radius: $padding/2;

        .circle {
          border: 5px solid $secondaryColor;
          background: white;
        }
      }

      p {
        display: inline-block;
        font-size: 14px;
      }

      .circle {
        display: inline-block;
        border-radius: 100%;
        height: $nav-height/3;
        width: $nav-height/3;
        margin: 0 $nav-height/6;
        border: 1px solid $border-color-light;
      }

      .text {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        h4 {
          width: 100%;
          padding: 4px;
        }
        p {
          padding: 4px;
          flex: 1 1 auto;
        }
        span {
          padding: 0 $padding;
          color: $secondaryColor;
          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
